<fc-lib-show-more-section>
  <h1 class="text-xl md:text-3xl font-bold text-yellow-500" i18n="h1 Description headline on vehicle detail site | headline describing the description section on the vehicle detail site @@in vehicle description">
    Beschreibung
  </h1>
  <p class="text-sm mb-4 bp-10 overflow-x-hidden">
    {{description}}
  </p>
</fc-lib-show-more-section>
