<fc-lib-card>
  <fc-lib-card-header
    i18n="
      headline description for station form
      basic-information|@@lessor_fc-station-form_basic_information_headline"
  >
    Station</fc-lib-card-header
  >
  <fc-lib-card-content>
    <fc-station-metadata-form
      [editing]="editing"
      [station]="station"
      (stationFormEvent)="onStationCreate($event)"
      (stationFormStatus)="onStationMetadataStatus($event)"
    ></fc-station-metadata-form>
  </fc-lib-card-content>
</fc-lib-card>
<fc-station-opening-times
  [hours]="getOpeningHours()"
  [editing]="editing"
  (hoursEvent)="onOpeningHoursChanged($event)"
  (hoursStatusEvent)="onOpeningHoursStatus($event)"
>
</fc-station-opening-times>
<fc-lib-button
  [disabled]="!isStationFormValid()"
  color="primary"
  (click)="submit()"
  i18n="
    button text for stationEdit form button
    save|@@lessor_fc-station-edit_button_save"
>
  Sichern
</fc-lib-button>
