<fc-lib-card>
  <fc-lib-card-header
    i18n="
      headline description for
      stationOpeningTimes|@@lessor_fc-stations-opening-hours_headline"
    >Öffnungszeiten</fc-lib-card-header
  >
</fc-lib-card>
<fc-lib-card>
  <form [formGroup]="openingForm">
    <ul formArrayName="days">
      <li class="grid grid-cols-5 gap-4">
        <div i18n="replace_me">Tag</div>
        <div i18n="replace_me">Übergabe</div>
        <div i18n="replace_me">Abholung</div>
        <div i18n="replace_me">Rückgabe</div>
        <div i18n="replace_me">Gebühr</div>
      </li>
      <li
        *ngFor="let day of days.controls; index as i"
        [formGroupName]="i"
        class="grid grid-cols-5 gap-4"
      >
        <div>{{ getWeekday(day.value.day) }}</div>
        <div>
          <fc-lib-select
            formControlName="handoverId"
            (change)="disableFormElements(day)"
            valueType="number"
          >
            <span
              i18n="@@lessor_fc-stations-opening-times_transaction_label"
              label
              >Übergabe</span
            >
            <option
              *ngFor="let h of handoverValues"
              [value]="h.id"
              [selected]="day.value.handoverId === h.id"
            >
              {{ h.name }}
            </option>
          </fc-lib-select>
        </div>
        <div *ngIf="isOpen(day.value)" formGroupName="checkin">
          <div>
            <fc-lib-label
              i18n="
                label description for stationOpeningTimes collection
                from|@@lessor_fc-stations-opening-times_collection_from_label"
              >von</fc-lib-label
            >
            <input formControlName="from" type="time" />
            <fc-lib-input-error
              i18n="
                error description for stationOpeningTimes times
                formatting|@@lessor_fc-stations-opening-times_error_format"
              >Date Time Format xx:XX</fc-lib-input-error
            >
          </div>
          <div>
            <fc-lib-label
              i18n="@@lessor_fc-stations-opening-times_collection_to_label"
              >bis</fc-lib-label
            >
            <input formControlName="to" type="time" />
          </div>
        </div>
        <div *ngIf="isOpen(day.value)" formGroupName="checkout">
          <div>
            <fc-lib-label
              i18n="|@@lessor_fc-stations-opening-times_returning_from_label"
              >von</fc-lib-label
            >
            <input formControlName="from" type="time" />
          </div>
          <div>
            <fc-lib-label
              i18n="|@@lessor_fc-stations-opening-times_returning_to_label"
              >bis</fc-lib-label
            >
            <input formControlName="to" type="time" />
          </div>
        </div>
        <div>
          <input type="checkbox" formControlName="isFee" />
          <!-- TODO:  -->
          <fc-lib-checkbox
            *ngIf="isConsultation(day.value) || isOpen(day.value)"
            formControlName="isFee"
            i18n="@@lessor_fc-stations-opening-times_fee_select_label"
            [checked]="day.value.isFee"
            >
            <span label>Fee</span>
          </fc-lib-checkbox>
        </div>
      </li>
    </ul>
  </form>
</fc-lib-card>
