<form [formGroup]="optionalEquipmentForm">
  <fc-lib-select
    [disabled]="isCategoryPreselected()"
    [valueType]="'number'"
    formControlName="categoryId"
    [placeholder]="placeholder"
    (change)="onChangeCategory(getCategoryId.value)"
  >
    <span label>Kategorie</span>
    <option
      [value]="cat.categoryId"
      *ngFor="let cat of optionalEquipmentCategories; let i = index"
      [selected]="cat.categoryId === getCategoryId.value"
    >
      {{ cat.categoryName }}
    </option>
    <span error>Eine Option muss angegeben werden</span>
  </fc-lib-select>
  <fc-lib-select
    [disabled]="isCategoryPreselected()"
    formControlName="nameId"
    [valueType]="'number'"
    [placeholder]="placeholder"
  >
    <span label>Name</span>
    <option
      [value]="item.id"
      *ngFor="let item of categoryNames; let i = index"
      [selected]="item.id === getNameId.value"
    >
      {{ item.name }}
    </option>
    <span error>Eine Option muss angegeben werden</span>
  </fc-lib-select>

  <div class="grid grid-cols-7 font-normal drop-shadow-md">
    <fc-lib-text-input
      class="mr-2 col-start-1 col-end-4"
      formControlName="description"
      [placeholder]="'Gebe hier eine Beschreibung an...'"
    >
      <span label>Beschreibung</span>
      <span error> Hier wird eine Beschreibung benötigt. </span>
    </fc-lib-text-input>

    <fc-lib-number-input
      class="col-start-4 col-end-5"
      formControlName="price"
      [value]="0"
    >
      <span label>Preis</span>
      <span error>Hier wird ein Preis benötigt.</span>
    </fc-lib-number-input>

    <fc-lib-number-input
      class="col-start-5 col-end-7"
      formControlName="maxPrice"
      [value]="0"
    >
      <span label>Maximaler Preis</span>
      <span error>Hier wird ein maximaler Preis benötigt.</span>
    </fc-lib-number-input>

    <fc-lib-select
      [valueType]="'number'"
      formControlName="priceTypeId"
      [placeholder]="'Preismodell'"
    >
      <span label>Name</span>
      <option
        [value]="item.id"
        *ngFor="let item of priceTypes; let i = index"
        [selected]="item.id === getPriceTypeId.value"
      >
        {{ item.name }}
      </option>
      <span error>Eine Option muss angegeben werden</span>
    </fc-lib-select>
  </div>

  <!-- [disabled]="
    (getDescription?.valid &&
    getPrice?.valid &&
    getMaxPrice?.valid &&
    getPriceTypeId?.valid)
  " -->
  <fc-lib-button
    [color]="'basic'"
    [fill]="false"
    (click)="submit()"
  >
    <span>Hinzufügen</span>
  </fc-lib-button>
  <fc-lib-button [color]="'basic'" [fill]="false" (click)="back()">
    <span>Zurück</span>
  </fc-lib-button>
</form>
