{{mileageForm?.value| json}}
<div *ngIf="mileageForm">
	<form [formGroup]="mileageForm">
			<fc-lib-checkbox formControlName="isFree">
        <span label>
          Alle Kilometer frei
        </span>
      </fc-lib-checkbox>
			<div class="grid grid-cols-12" *ngIf="showKmInput()">
				<!-- free mileage after certain rental days -->

					<div class="col-span-12">
            <fc-lib-number-input placeholder="10" formControlName="freeAfterRentalDays" min="0">
              <span label i18n="| field to set price per kilometer @@vehicle-price-form_kmFreeRentDuration"
                >Mietdauer in Tagen ab der alle Kilometer inklusive sind</span>
                <span error
                  i18n="error msg for free kilometer per night|value
                    required@@lessor_vehicle-price-form_kmFreeRentDuration-error-required">
                  Das Feld ist erforderlich.
                </span>
            </fc-lib-number-input>
					</div>


					<div class="col-span-12">

						<fc-lib-number-input
							step="0.01"
							lang="de-DE"
							placeholder="1.99"
							formControlName="costPerKm"
							min="0">
              <span label i18n="| field to set price per kilometer @@vehicle-price-form_kmFreePerNight">Kosten pro
                Mehrkilometer</span>
              <span error i18n="error msg for free kilometer per night|value
              								required@@lessor_vehicle-price-form_extraFeePerKm-error-required">
                Das Feld ist erforderlich.
              </span>
            </fc-lib-number-input>
					</div>

				<ng-container formArrayName="predefinedPackages">
					<div class=" col-span-12" *ngFor="let c of predefinedPackages.controls; index as i" [formGroupName]="i">
						<fc-lib-checkbox formControlName="isSelected">
              <span label>
                {{ c.get('km')?.value }} km, Rabatt: {{ c.get('discount')?.value }}%, Preis:
                {{ priceForPack(i, predefinedPackages)/100 | currency:'EUR':'symbol':'1.2-2':'de'}}
              </span>
						</fc-lib-checkbox>
          </div>
				</ng-container>

				<ng-container formArrayName="customPackages">
					<div class="col-span-12 grid grid-cols-12" *ngFor="let c of customPackages.controls; index as i" [formGroupName]="i">
						<fc-lib-checkbox class="pl-5" formControlName="isSelected">

            </fc-lib-checkbox>
						<div class="pl-5 col-span-12">
              <fc-lib-number-input
              step="1"
              lang="de-DE"
              placeholder="400"
              formControlName="km"
              min="0"
              max="4000"
							>
                <span label
                  i18n="| field to set free kilometer for a custom mileage pack@@vehicle-price-form_custom-mileage-km"
                  >Freikilometer</span>
                <span error
                  i18n="
                    error msg for free kilometer per night (custom pack)|value
                    required@@lessor_vehicle-price-form_ustom-mileage-km-error-required"
                >
                  Das Feld ist erforderlich.
                </span>
              </fc-lib-number-input>
						</div>
						<div class="pl-5 col-span-12">

							<fc-lib-number-input
								[maxlength]="3"
								step="1"
								lang="de-DE"
								placeholder="5"
								formControlName="discount">
                  <span label
                    i18n="replace_me">Rabatt</span>
                  <span hint>Das Feld ist erforderlich.</span>
              </fc-lib-number-input>
						</div>
						<div>Preis: {{ priceForPack(i, customPackages)/100 | currency:'EUR':'symbol':'1.2-2':'de' }}</div>
						<button (click)="removeCustomPackControl(i)" i18n="">
						  X
						</button>
          </div>
				</ng-container>
			</div>
			<button
				(click)="addCustomPackControl()"
				class="bg-gray-200 p-2"
				i18n=""
				style="margin-bottom: 24px"
				*ngIf="showKmInput()">
				<fc-lib-icon [icon]="'add'"></fc-lib-icon>
				Kilometerpaket hinzufügen
			</button>
	</form>
</div>
