<div >
  <form *ngIf="vehicleForm" [formGroup]="vehicleForm">
    <div class="grid grid-cols-12 gap-4" formGroupName="rentalTermsForm">

      <!-- ############################################################################################################################# -->
      <div class="col-span-12">
        <div class=" bold text-xl" i18n="replace_me">Fahreranforderungen</div>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <div >
          <fc-lib-select formControlName="minDriverAge">
            <span label i18n="replace_me">Mindestalter</span>
            <option *ngFor="let number of range1830;" [value]="number" [selected]="number === minDriverAge.value" i18n="replace_me">{{number}} Jahre</option>
          </fc-lib-select>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <fc-lib-select formControlName="drivingLicensePossession">
          <span label i18n="replace_me">Führerscheinbesitz</span>
          <option value="noMatter" i18n="replace_me">egal</option>
          <option *ngFor="let number of range15;" [selected]="number === drivingLicensePossession.value" [value]="number" i18n="replace_me">{{number}} Jahre</option>
        </fc-lib-select>
      </div>

      <div class="col-span-12">
        <span class="bold text-xl" i18n="replace_me">Weitere Fahrer</span>
      </div>

      <!-- TODO: [WOBI-1047] use real values here  -->
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <fc-lib-select formControlName="additionalDriversAllowed">
          <span label i18n="replace_me">Anzahl zusätzl. Fahrer</span>
          <option value="notAllowed" i18n="replace_me" [selected]="'notAllowed'=== additionalDriversAllowed.value">nicht erlaubt</option>
          <option value="allowedDontHaveToBeNamed" i18n="replace_me" [selected]="'allowedDontHaveToBeNamed'=== additionalDriversAllowed.value">erlaubt müssen nicht benannt werden</option>
          <option value="allowedHaveToBeNamed" i18n="replace_me" [selected]="'allowedHaveToBeNamed'=== additionalDriversAllowed.value">erlaubt müssen benannt werden</option>
        </fc-lib-select>
      </div>

      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <div *ngIf="showDoAdditionalDriverCost()">
          <fc-lib-select formControlName="chargeForExtraDriver">
            <span label i18n="replace_me">Kosten pro Fahrer</span>
            <option [value]="false" [selected]="chargeForExtraDriver.value === false" i18n="replace_me">kostenfrei</option>
            <option [value]="true" [selected]="chargeForExtraDriver.value === true" i18n="replace_me">kostenpflichtig</option>
          </fc-lib-select>
        </div>
      </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div *ngIf="showAdditionalDriverCost()">
        <div  floatspan label="always">
          <fc-lib-number-input class="" placeholder="0" formControlName="feePerDriver">
            <span label i18n="replace_me">Preis pro Fahrer</span>
          </fc-lib-number-input>
          <span>,00 €</span>
        </div>
      </div>

    </div>

    <!-- ############################################################################################################################# -->
    <div class="col-span-12">
      <div class=" bold text-xl">Auslandsfahrten</div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <fc-lib-select formControlName="region" [valueType]="'number'">
        <span label i18n="replace_me">Region auswählen</span>
        <option value="0" i18n="replace_me" [selected]="region.value == 0">Alle Auslandsfahrten</option>
        <option value="1" i18n="replace_me" [selected]="region.value == 1">Europa geografisch</option>
        <option value="2" i18n="replace_me" [selected]="region.value == 2">EU-Länder</option>
        <option value="3" i18n="replace_me" [selected]="region.value == 3">EU-Länder inkl. Schweiz</option>
        <option value="4" i18n="replace_me" [selected]="region.value == 4">Norwegen</option>
        <option value="5" i18n="replace_me" [selected]="region.value == 5">UK</option>
      </fc-lib-select>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <fc-lib-select formControlName="excludeCountries" [value]="excludeCountries.value">
        <span label i18n="replace_me">Länder ausschließen</span>
        <option
          [disabled]="checkOtherList(country, 'includeCountries')"
          *ngFor="let country of europeanCountries"
          [value]="country">{{country}}
          [selected]="excludeCountries.value == country"
        </option>
      </fc-lib-select>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <fc-lib-select formControlName="includeCountries" [value]="includeCountries.value">
        <span label i18n="replace_me">Länder erlauben</span>
        <option
          *ngFor="let country of europeanCountries"
          [value]="country"
          [disabled]="checkOtherList(country, 'excludeCountries')">{{country}}</option>
      </fc-lib-select>
    </div>
    <!-- ############################################################################################################################# -->
    <div class="col-span-12">
      <span class=" bold text-xl" i18n="replace_me">Versicherungskosten</span>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div  floatspan label="always">
        <fc-lib-number-input class="" placeholder="0" formControlName="deductiblePartialCover">
          <span label i18n="replace_me">Selbstbeteiligung Teilkasko</span>
        </fc-lib-number-input>
        <span >,00 €</span>
      </div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <div  floatspan label="always">
          <fc-lib-number-input  class="" placeholder="0" formControlName="deductibleComprehensiveInsurance">
            <span label i18n="replace_me">Selbstbeteiligung Vollkasko</span>
          </fc-lib-number-input>
          <span >,00 €</span>
        </div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <fc-lib-checkbox formControlName="europeWideProtectionLetter" i18n="replace_me">
        <span label>
          Europaweiter Schutzbrief
        </span>
      </fc-lib-checkbox>
    </div>

    <!-- ############################################################################################################################# -->
    <div class="col-span-12">
      <span label i18n="replace_me">Kaution</span>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div  floatspan label="always">
        <fc-lib-number-input class="" placeholder="0" formControlName="depositAmount">
          <span label i18n="replace_me">Höhe der Kaution</span>
        </fc-lib-number-input>
        <span >,00 €</span>
      </div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <fc-lib-select formControlName="payOnSiteVia">
        <span label i18n="replace_me">Vor Ort zahlen via</span>
        <option value="bar" i18n="replace_me">Bar</option>
        <option value="ec" i18n="replace_me">EC</option>
        <option value="visa" i18n="replace_me">VISA</option>
        <option value="mastercard" i18n="replace_me">Mastercard</option>
        <option value="amex" i18n="replace_me">Amex</option>
      </fc-lib-select>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <fc-lib-checkbox formControlName="payInAdvanceViaBankTransfer">
          <span label i18n="replace_me">Vorab zahlen via Überweisung </span>
      </fc-lib-checkbox>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <fc-lib-checkbox formControlName="depositReduction" >
        <span label i18n="replace_me">
          Kautionsreduktion
        </span>
      </fc-lib-checkbox>
    </div>


    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div *ngIf="rentalTermsForm.get('rentalTermsForm.payInAdvanceViaBankTransfer')?.value">
        <div  floatspan label="always">
          <fc-lib-number-input class="" placeholder="0" formControlName="daysInAdvance">
            <span label i18n="replace_me">Geldeingang</span>
            <span  i18n="replace_me">&nbsp;{{ rentalTermsForm.get('rentalTermsForm.daysInAdvance')?.value == 1 ? 'Tag' : 'Tage' }} vor Mietbeginn</span>
          </fc-lib-number-input>
        </div>
      </div>
    </div>

    <!-- ############################################################################################################################# -->
    <div class="col-span-12">
      <span class=" bold text-xl" i18n="replace_me">Kleintiere</span>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div>
        <div >
          <fc-lib-checkbox formControlName="smallAnimalsAllowed">
            <span label i18n="replace_me">Kleintiere erlaubt</span>
          </fc-lib-checkbox>
        </div>
      </div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div>
        <div >
          <fc-lib-select formControlName="smallAnimalsPriceModell">
            <span label>Preisberechnung</span>
            <option value="none" i18n="replace_me">keine</option>
            <option value="perSmallAnimalNight" i18n="replace_me">pro/Kleintier/Nacht</option>
            <option value="perBooking" i18n="replace_me">pro/Buchung</option>
            <option value="perSmallAnimal" i18n="replace_me">pro/Kleintier</option>
          </fc-lib-select>
        </div>
      </div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div>
        <div  floatspan label="always">
          <fc-lib-number-input class="" placeholder="0" formControlName="smallAnimalPrice">
            <span label>Preis</span>
          </fc-lib-number-input>
          <span >,00 €</span>
        </div>
      </div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div>
        <div >
          <fc-lib-select formControlName="numberOfSmallAnimals">
            <span label i18n="replace_me">Anzahl der Kleintiere</span>
            <option *ngFor="let number of range15;" [value]="number">{{number}}</option>
          </fc-lib-select>
        </div>
      </div>
    </div>

    <!-- ############################################################################################################################# -->
    <div class="col-span-12">
      <div><span class=" bold text-xl" i18n="replace_me">Sonstiges</span></div>
    </div>

    <div class="col-span-12 md:col-span-6 xl:col-span-3">
      <div>
        <fc-lib-checkbox formControlName="smokingAllowed" i18n="replace_me">
          <span label>
            Rauchen erlaubt?
          </span>
        </fc-lib-checkbox>
      </div>
    </div>
  </div>
  <br>
  </form>
</div>

