
<fc-lib-card [rounded]="true">
    <fc-lib-card-header *ngIf="!edit" class="text-left">Account-Details</fc-lib-card-header>
    <fc-lib-card-header *ngIf="edit" class="text-left"></fc-lib-card-header>
    <fc-lib-card-content>
      <app-tenant-account-data *ngIf="!edit" [tenantAccountData]="tenant"></app-tenant-account-data>
      <app-tenant-account-form *ngIf="edit" [saveEvent]="saveEvent" [tenant]="tenant" (tenantFormOut)="onTenantUpdate($event)"></app-tenant-account-form>
    </fc-lib-card-content>
    <fc-lib-card-footer>

      <fc-lib-button *ngIf="!edit" 
                        [color]="'basic'"
                        [fill]="false"
                        (click)="editTenant()">
            <span>Editieren</span>
        </fc-lib-button>

        <fc-lib-button *ngIf="edit" 
                        [color]="'basic'"
                        [fill]="false"
                        (click)="saveTenant()">
            <span>Speichern</span>
        </fc-lib-button>

    </fc-lib-card-footer>
  </fc-lib-card>