<!-- This example requires Tailwind CSS v2.0+ -->
<div *ngIf="isOpen" class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
  aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div
      class="md:w-auto inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle ">

      <div class="flex flex-grow flex-col bg-white border-t border-b sm:rounded sm:border shadow">

        <!-- First row -->
        <div class="flex-row">
          <div class="border-b">
            <div class="flex justify-between items-center pl-6 -mb-px">
              <h3 class="text-blue-dark py-4 font-normal text-lg">
                Reisedaten wählen
              </h3>
              <button class="mr-5" (click)="close()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </button>
            </div>
          </div>
        </div>


        <!-- Second row -->
        <div class="flex px-2 py-2 -mb-px">
          <div class="block md:flex flex-row  bg-white">

            <!-- calendar one -->
            <tenant-calendar-month-view
            [days]="days(month)" [startDay]="startDay" [hoverDate]="hoverDate" [endDay]="endDay"
            [minDurationError]="minDurationError" [startDateWouldTurnUnpickable]="startDateWouldTurnUnpickable"
            [month]="month" [year]="year" [secondCalendar]="false"
            (changedMonth)="changeMonth($event)" (choseDay)="choseDate($event)" (setHoverDate)="setHoverDate($event); wouldStartDateTurnunpickable($event)">
            </tenant-calendar-month-view>

            <!-- calendar two -->
            <tenant-calendar-month-view class="hidden lg:block" [days]="days(month +1)" [startDay]="startDay" [hoverDate]="hoverDate" [endDay]="endDay"
            [minDurationError]="minDurationError" [startDateWouldTurnUnpickable]="startDateWouldTurnUnpickable"
            [month]="month +1" [year]="month < 11 ? year: year + 1" [secondCalendar]="true"
            (changedMonth)="changeMonth($event)" (choseDay)="choseDate($event)" (setHoverDate)="setHoverDate($event); wouldStartDateTurnunpickable($event)">
            </tenant-calendar-month-view>

          </div>
        </div>
        <div class=" w-full p-5">
          <h3 i18n="replace_me" class=" text-sm font-bold">Legende</h3>
          <div class="flex">

            <div class=" flex-1">
              <div>
                Checkin:
              </div>
              <div class=" h-5 w-5 checkin">
              </div>
            </div>
            <div class="flex-1">
              <div>
                Checkout:
              </div>
              <div class=" h-5 w-5 checkout">
              </div>
            </div>
            <div class="flex-1">
              <div i18n="replace_me">
                Nicht verfügbar:
              </div>
              <div class="relative h-5 w-5 bg-gray-200 line-through ">
                <div class=" relative  left-1.5">1</div>
              </div>
            </div>
            <div class="flex-1">
              <div>
                Standort geschlossen
              </div>
              <div class="relative h-5 w-5 bg-gray-200 ">
                <div class=" relative left-1.5">5</div>
              </div>
            </div>

          </div>
        </div>
        <!-- Third row -->
        <div class="flex px-2 py-2 -mb-px">
          <div class="flex flex-row  bg-white overflow-hidden">
            <div *ngIf="minDurationError" class="flex p-6 flex-row text-red">
              <p class="text-yellow-600 info-text" i18n="replace_me">Die Mindestmietdauer beträgt {{minDuration}}
                Nächte</p>
            </div>
          </div>
        </div>
        <!-- Fourth row -->
        <div
          class="flex px-2 py-2 -mb-px flex-row bg-white overflow-hidden border-t border-solid border-blueGray-200 rounded-b">
          <div class="flex justify-between p-6 w-full">
            <button (click)="close()"
              class="bg-gray-300 border uppercase px-6 py-2 text-gray-600 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button">
              abbrechen
            </button>
            <fc-lib-button (click)="submit()" [disabled]="!isDateRangeCorrect()" color="success"
              type="button">
              Reisedaten übernehmen
            </fc-lib-button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
