<div class="my-4 w-auto">
  <div class="flex text-center font-sans place-content-center">
    <div class="ring-2 rounded-full lg:w-6 lg:h-6 md:w-6 md:h-6 sm:w-5 sm:h-5 font-medium lg:mt-0.5 md:mt-0.5 sm:mt-0" [ngClass]="{'bg-blue-900 ring-blue-900': bookingState === 'open' || bookingState === 'pending',
                    'ring-blue-light': bookingState === 'accepted' || bookingState === 'insurance'|| bookingState === 'finished'}">
      <svg *ngIf="bookingState === 'accepted' || bookingState === 'insurance' || bookingState === 'finished'" class="lg:h-6 lg:w-6 md:h-6 md:w-6 sm:h-5 sm:w-5"
        viewBox="0 0 24 24" stroke-width="2" stroke="#0546AD9B" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 12l5 5l10 -10" />
      </svg>
      <span class="text-white">1</span>
    </div>

    <div class="ml-2 font-medium lg:mr-0 md:mr-0 sm:mr-9 lg:text-lg md:text-lg sm:text-xs lg:mt-0 md:mt-0 sm:mt-0.5 lg:uppercase md:uppercase">
      <span [ngClass]="{'text-blue-light': bookingState === 'accepted' || bookingState === 'insurance' || bookingState === 'finished',
                        'text-blue-900': bookingState === 'open' || bookingState === 'pending'}">Buchung</span>
    </div>
    <div class="my-auto lg:inline md:inline sm:hidden ml-2.5 mr-4 h-0 w-36 border-2" [ngClass]="{'border-blue-light': bookingState === 'accepted' || bookingState === 'insurance' || bookingState === 'finished',
                    'border-gray-400': bookingState === 'open' || bookingState === 'pending'}"></div>


    <div class="ring-2 rounded-full lg:w-6 lg:h-6 md:w-6 md:h-6 sm:w-5 sm:h-5 font-medium lg:mt-0.5 md:mt-0.5 sm:mt-0" [ngClass]="{'ring-blue-900 bg-blue-900': bookingState === 'accepted',
                    'ring-gray-400 text-gray-400': bookingState === 'open' || bookingState === 'pending',
                    'text-blue-light': bookingState === 'insurance' || bookingState === 'finished',
                    'ring-blue-light': bookingState === 'insurance' || bookingState === 'finished'}">
      <svg *ngIf="bookingState === 'insurance' || bookingState === 'finished'" class="lg:h-6 lg:w-6 md:h-6 md:w-6 sm:h-5 sm:w-5"
        viewBox="0 0 24 24" stroke-width="2" stroke="#0546AD9B" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path d="M5 12l5 5l10 -10" />
      </svg>
      <span
        [ngClass]="{'text-gray-400': bookingState === 'open' || bookingState === 'pending',
                          'text-white': bookingState === 'accepted' || bookingState === 'insurance' || bookingState === 'finished'}">2</span>
    </div>
    <div class="ml-2 font-medium lg:mr-0 md:mr-0 sm:mr-9 lg:text-lg md:text-lg sm:text-xs lg:mt-0 md:mt-0 sm:mt-0.5 lg:uppercase md:uppercase">
      <span [ngClass]="{'text-gray-400': bookingState === 'open' || bookingState === 'pending',
                          'text-blue-900': bookingState === 'accepted',
                          'text-blue-light': bookingState === 'insurance' || bookingState === 'finished'}">Bezahlung</span>
    </div>
    <div class="my-auto lg:inline md:inline sm:hidden ml-2.5 mr-4 h-0 w-36 border-2" [ngClass]="{'border-blue-light': bookingState === 'insurance' || bookingState === 'finished',
                    'border-gray-400': bookingState === 'open' || bookingState === 'pending' || bookingState === 'accepted',
                  'border-dashed': bookingState == 'open' || bookingState == 'pending' || bookingState == 'accepted'}">
    </div>


    <div class="ring-2 rounded-full lg:w-6 lg:h-6 md:w-6 md:h-6 sm:w-5 sm:h-5 font-medium lg:mt-0.5 md:mt-0.5 sm:mt-0"
      [ngClass]="{'ring-blue-900 bg-blue-900': bookingState === 'insurance' || bookingState === 'finished',
                    'ring-gray-400 text-gray-400': bookingState === 'open' || bookingState === 'pending' || bookingState === 'accepted'}">
      <span [ngClass]="{'text-gray-400': bookingState === 'open' || bookingState === 'pending',
                          'text-white': bookingState === 'insurance' || bookingState === 'finished'}">3</span>
    </div>
    <div class="ml-2 font-medium lg:text-lg md:text-lg sm:text-xs lg:mt-0 md:mt-0 sm:mt-0.5 lg:uppercase md:uppercase">
      <span [ngClass]="{'text-gray-400': bookingState === 'open' || bookingState === 'pending' || bookingState === 'accepted',
                    'text-blue-900': bookingState === 'insurance' ||  bookingState === 'finished'}">Versicherung</span>
    </div>

  </div>
</div>
