<div class=" grid grid-cols-12 gap-4">
  <!-- Filter Side Bar -->
  <div class=" h-full hidden sm:block sm:col-span-4 md:col-span-4 lg:col-span-3 bg-gray-200">
    <app-vehicle-filter-bar [vehicleTypes]="vehicleTypes" [equipmentCategories]=" equipmentCategories" (filtersChanged)="reload($event)" (initialFiltersSet)="initialLoad($event)"></app-vehicle-filter-bar>
  </div>
  <!-- Search Results -->
  <div class=" col-span-12 sm:col-span-8 md:col-span-8 lg:col-span-9 px-3 sm:px-0 sm:pr-3" >
    <h1 class=" text-2xl font-bold my-3" i18n="h1 headline campers in location | headline for campers in the location the user searched for @@ on vehicle-list component" >Wohnmobile in Hamburg ({{vehicles.length}})</h1>
    <div *ngIf="vehicles else Loader" class=" grid grid-cols-12 gap-4">
      <app-vehicle-search-result-preview-card  *ngFor="let vehicle of vehicles" [vehicle]="vehicle" [datesSelected]="selectedDate" class="col-span-12 md:col-span-12 lg:col-span-6"></app-vehicle-search-result-preview-card>
    </div>
    <div class=" w-full relative pb-10 pt-8">
      <div class="m-auto text-center">
        <button (click)="loadMore()" class=" border-2 border-gray-300 py-3 px-5 rounded mt-5" i18n="button show more search results | button to show more search results near the user @@ on vehicle-list component">Weitere Treffer in der Nähe anzeigen</button>
      </div>
    </div>
  </div>
</div>
<ng-template #Loader>
  <fc-lib-spinner></fc-lib-spinner>
</ng-template>


