            <form [formGroup]="editTenantForm" required class="mx-auto justify-center items-center max-w-3xl">

                <fc-lib-text-input formControlName="street" [placeholder]="'z.B: Hamburger Straße'">
                    <span label>Straße*</span>
                    <span *ngIf="getAccount.get('street')?.invalid && getAccount.get('street')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="streetNumber" [placeholder]="'z.B: 23c'">
                    <span label>Hausnummer*</span>
                    <span *ngIf="getAccount.get('streetNumber')?.invalid && getAccount.get('streetNumber')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="postalCode" [placeholder]="'z.B: 22340'">
                    <span label>Postleitzahl*</span>
                    <span *ngIf="getAccount.get('postalCode')?.invalid && getAccount.get('postalCode')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="city" [placeholder]="'z.B: Hamburg'">
                    <span label>Ort*</span>
                    <span *ngIf="getAccount.get('city')?.invalid && getAccount.get('city')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="country" [placeholder]="'z.B: Deutschland'">
                    <span label>Land*</span>
                    <span *ngIf="getAccount.get('country')?.invalid && getAccount.get('country')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-datepicker formControlName="birthday" min="{{min}}" max="{{max}}" [disabled]="disabledDate">
                    <span label>Geburtsdatum*</span>
                    <span *ngIf="getAccount.get('birthday')?.invalid && getAccount.get('birthday')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-datepicker>

                <fc-lib-text-input formControlName="mobilePhone" [placeholder]="'z.B: 01234131312'">
                    <span label>Handynummer*</span>
                    <span *ngIf="getAccount.get('mobilePhone')?.invalid && getAccount.get('mobilePhone')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="phone" [placeholder]="'z.B: 040123131'">
                        <span label>Telefonnummer (optional)</span>
                        <span *ngIf="getAccount.get('phone')?.invalid && getAccount.get('phone')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

            </form>
