<!-- reqLoggedIn -->
<app-tenant-form *ssoIf="reqLoggedOut" [isSignupPage]="false"></app-tenant-form>

<fc-lib-card *ssoIf="reqLoggedIn" [rounded]="true" [color]="'standard'" class="font-sans">
    <fc-lib-card-header [color]="'standard'" class="lg:text-3xl md:text-3xl sm:text-xl" i18n="replace_me">
        Deine Personendaten
        <p class="text-sm font-light mt-4 mb-3 sm:mt-3">Bitte logge dich mit deinem bestehenden Account ein oder registriere einen neuen Account.</p>
    </fc-lib-card-header>
    
    <fc-lib-card-content [color]="'standard'" class="">
        <div class="my-5 flex">
            <div class="sm:mx-auto md:mx-0 lg:mx-0">
       <fc-lib-button class="mr-6">EINLOGGEN</fc-lib-button>
       <fc-lib-button [fill]="true">REGISTRIEREN</fc-lib-button>
    </div>
</div>
    </fc-lib-card-content>
</fc-lib-card>