<form [formGroup]="optionalEquipmentSelectionForm">
  <fc-lib-select
    [valueType]="'string'"
    formControlName="selectedOptionEquipmentId"
    (change)="onChange()"
  >
    <span label>Kategorie</span>
    <option
      [value]="item.id"
      *ngFor="let item of optionalEquipment; let i = index"
      [selected]="item.id === selectedOptionEquipmentId"
    >
      {{ item.name }} {{ item.description }} {{ item.categoryName }}
    </option>
    <span error>Eine Option muss angegeben werden</span>
  </fc-lib-select>
</form>
