<form [formGroup]="form" class="flex flex-row">
  <div class="basis-1/4">{{ equipment?.name }}</div>
  <div class="basis-1/4">
    <input type="checkbox" formControlName="isSelected" (change)="onChange()" />
  </div>
  <div *ngIf="equipment?.isChargeable" class="basis-1/4">
    <span class="mr-8">Kostenpflichtig</span>
    <input
      type="checkbox"
      formControlName="isChargeableActive"
      (change)="onChargeableActive()"
    />
    <!-- TODO: fc-lib-toggle-switch not working as expected -->
    <!-- <fc-lib-toggle-switch
      *ngIf="equipment?.isChargeable"
      id="{{ equipment?.id }}"
      formControlName="isChargeableActive"
      (change)="onChargeableActive()"
    >
      <span label>Kostenpflichtig</span>
      <span hint>Hint</span> 
    </fc-lib-toggle-switch> -->
  </div>
  <div *ngIf="equipment?.optionalEquipment as optEq" class="basis-1/4">
    ({{ optEq.description }}, {{ optEq?.price | currency: "EUR"
    }}{{ !optEq.priceTypeName || optEq.priceTypeName === '' ? '' : ',' }} {{ optEq?.priceTypeName }})
  </div>
</form>
