<div *ngIf="vehicle">
  <div class=" w-full">
    <button class=" text-xs" [routerLink]="['']"
      i18n="button vehicle back | buttom to go back to search or vehicle list @@ in vehicle headline component">
      &#x3c; mehr Fahrzeuge
    </button>
    <span class=" text-xs text-gray-500 pl-4"
      i18n="span-text-element short form for vehicle id| buttom to go back to search or vehicle list @@ in vehicle headline component">
      Fzg-ID: {{vehicle.id}}
    </span>
  </div>
  <div class=" w-full sm:text-xl md:text-3xl mt-2">
    <span class=" text-yellow-500 font-bold">{{ findVehicleModel(vehicle.vehicleTypeId).name }}</span> <span class="font-bold md:font-normal"> -
      {{vehicle.title}}</span>
  </div>
  <div class=" w-full text mt-2">
    <span *ngIf="station"> {{station.name}} {{station.postalCode}} - {{station.country}}</span>
  </div>
</div>
