<hr class="my-5">
<div class=" grid grid-cols-3 sm:grid-cols-3 md:grid-cols-7 gap-4">
  <div class=" col-span-1 text-gray-500">
    <fc-lib-vehicle-type-icon [id]="vehicleTypeId" [classString]="'h-12 w-12 mx-auto'"></fc-lib-vehicle-type-icon>
    <p class="text-sm text-center" i18n=" Icon description trailer | Icon description for vehicle type trailer icon on vehicle detail page">
      Wohnwagen
    </p>
  </div>
  <!-- Seats -->
  <div class=" text-gray-500">
    <svg fill="currentColor" class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 240.235 240.235"
      style="enable-background:new 0 0 240.235 240.235;" xml:space="preserve">
      <path
        d="M211.744,6.089C208.081,2.163,203.03,0,197.52,0h-15.143c-11.16,0-21.811,8.942-23.74,19.934l-0.955,5.436  c-0.96,5.47,0.332,10.651,3.639,14.589c3.307,3.938,8.186,6.106,13.74,6.106h19.561c2.714,0,5.339-0.542,7.778-1.504l-2.079,17.761  c-2.001-0.841-4.198-1.289-6.507-1.289h-22.318c-9.561,0-18.952,7.609-20.936,16.961l-19.732,93.027l-93.099-6.69  c-5.031-0.36-9.231,1.345-11.835,4.693c-2.439,3.136-3.152,7.343-2.009,11.847l10.824,42.618  c2.345,9.233,12.004,16.746,21.53,16.746h78.049h1.191h39.729c9.653,0,18.336-7.811,19.354-17.411l15.272-143.981  c0.087-0.823,0.097-1.634,0.069-2.437l5.227-44.648c0.738-1.923,1.207-3.967,1.354-6.087l0.346-4.97  C217.214,15.205,215.407,10.016,211.744,6.089z" />
    </svg>
    <p class="text-sm text-center">
      <span class=" font-bold ">{{seats}}</span> <span i18n="span Icon description seats | Icon description for seats icon on vehicle detail page @@ in vehicle icon bar">Sitze</span>
    </p>
  </div>
  <!-- Beds -->
  <div class=" text-gray-500">
    <svg fill="currentColor" class=" h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0"
      viewBox="0 0 592 392" style="enable-background:new 0 0 240.235 235" xml:space="preserve">
      <g>
        <path xmlns="http://www.w3.org/2000/svg"
          d="m546.25 144.167969c-4.835938 0-8.75 3.914062-8.75 8.75v53.75h-520v-203.75c0-4.835938-3.914062-8.75-8.75-8.75s-8.75 3.914062-8.75 8.75v362.5c0 4.832031 3.914062 8.75 8.75 8.75s8.75-3.917969 8.75-8.75v-78.75h520v78.75c0 4.832031 3.914062 8.75 8.75 8.75s8.75-3.917969 8.75-8.75v-212.5c0-4.835938-3.914062-8.75-8.75-8.75zm0 0" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m114.625 186.667969c32.445312 0 58.75-26.304688 58.75-58.75 0-32.449219-26.304688-58.75-58.75-58.75s-58.75 26.300781-58.75 58.75c.039062 32.429687 26.316406 58.714843 58.75 58.75zm0 0" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m207.054688 186.667969h287.5c4.835937 0 8.75-3.917969 8.75-8.75-.070313-66.933594-54.316407-121.171875-121.25-121.25h-175c-4.828126 0-8.75 3.914062-8.75 8.75v112.5c0 4.832031 3.921874 8.75 8.75 8.75zm0 0" />
      </g>
    </svg>

    <p class="text-sm text-center">
      <span class=" font-bold ">{{seats}}</span> <span i18n=" Icon description beds | Icon description for beds icon on vehicle detail page @@ in vehicle icon bar"> Schlafplätze </span>
    </p>
  </div>
  <!-- driving license -->
  <div class=" text-gray-500">
    <svg xmlns="http://www.w3.org/2000/svg"  class="h-12 w-12 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
    </svg>


    <p class="text-sm text-center">
      <span *ngIf="weightId === 0" i18n="span Icon description driver license B or 3 | Icon description for driver license b3 icon on vehicle detail page @@ in vehicle icon bar">B,3 Führerschein</span>
      <span *ngIf="weightId === 1" i18n="span Icon description driver license lkw | Icon description for driver license lkw icon on vehicle detail page @@ in vehicle icon bar">LKW-Führerschein o.Ä.</span>
    </p>
  </div>
  <!-- weight -->
  <div class=" text-gray-500">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
    </svg>
    <p class="text-sm text-center">
      <span *ngIf="weightId === 0" i18n="span Icon description weight less than 3.5t | Icon description for weight less than 3.5t icon on vehicle detail page @@ in vehicle icon bar"> unter 3,5 Tonnen</span>
      <span *ngIf="weightId === 1" i18n="span Icon description weight more than 3.5t | Icon description for weight more than 3.5t icon on vehicle detail page @@ in vehicle icon bar"> über 3,5 Tonnen</span>
    </p>
  </div>
  <!-- km limit -->
  <div class=" text-gray-500">

    <svg *ngIf="hasAllFreeKm" xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>

    <svg *ngIf="!hasAllFreeKm" xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
    </svg>

    <p class="text-sm text-center">
      <span *ngIf="hasAllFreeKm" i18n="span Icon description free km | Icon description for free km icon on vehicle detail page @@ in vehicle icon bar">Unbegrenzte KM</span>
      <span *ngIf="!hasAllFreeKm" i18n="span Icon description limited km | Icon description for limted km icon on vehicle detail page @@ in vehicle icon bar">begrenzte KM</span>
    </p>
  </div>
  <!-- Animals -->
  <!-- <div class=" text-gray-500" [ngClass]="{'text-gray-500': pets, 'text-red-500': !pets}"> -->
  <div class=" text-gray-500">
    <svg fill="currentColor" class="h-12 w-12 mx-auto" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0"
      viewBox="0 0 100 100" style="enable-background:new 0 0 512 512" xml:space="preserve">
      <g>
        <path xmlns="http://www.w3.org/2000/svg"
          d="m30.8476562 89.1035156c5.21875 1.9150391 11.1396484.4140625 15.0800781-3.8232422 1.0634766-1.1445312 2.5097657-1.774414 4.0722657-1.774414s3.0087891.6298828 4.0722656 1.7744141c2.8027344 3.0146484 6.6083984 4.6435547 10.4511719 4.6435547 1.5576172 0 3.1230469-.2675781 4.6289062-.8203125 5.2646484-1.9287109 8.9335938-5.9824219 10.0673828-11.1220703 1.1035156-5.0058594-.3984375-10.15625-3.9794922-13.7353516l-11.4658202-12.8837891c-3.4951172-3.9277344-8.515625-6.1806641-13.7744141-6.1806641s-10.2792969 2.2529297-13.7744141 6.1806641l-11.4257812 12.8417969c-3.6210938 3.6210938-5.1230469 8.7714844-4.0195312 13.7773438 1.133789 5.1396484 4.8027343 9.1933593 10.0673827 11.1220702zm-4.59375-23.5273437 11.4658203-12.8837891c3.116211-3.5019531 7.5917969-5.5107422 12.2802735-5.5107422s9.1640625 2.0087891 12.2802734 5.5107422l11.5058594 12.9257812c3.1357422 3.1357422 4.4365234 7.5966797 3.4804688 11.9326172-.9833984 4.4599609-4.1923828 7.9863281-8.8017578 9.6757812-4.4609375 1.6328125-9.5371094.3378906-12.9277344-3.3076172-1.4248047-1.5341796-3.4433594-2.4130858-5.5371094-2.4130858s-4.1123047.8789062-5.5371094 2.4130859c-3.3896484 3.6455078-8.4648438 4.9414062-12.9277344 3.3076172-4.609375-1.6894531-7.8183594-5.2158203-8.8017578-9.6757812-.9560546-4.3359375.3447266-8.7968751 3.5205078-11.9746094z"
          data-original="#000000" style="" class="" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m28.9433594 24.125c.4228516 4.1425781 2.2861328 7.9257812 4.9863281 10.1210938 1.6142578 1.3125 3.4130859 1.9931641 5.2451172 1.9931641.2568359 0 .5146484-.0136719.7714844-.0410156 5.3291016-.5546875 9.0673828-6.8730469 8.3330078-14.0849609-.421875-4.1416016-2.2861328-7.9248047-4.9853516-10.1201172-1.8398438-1.4960938-3.921875-2.1757812-6.0175781-1.953125-5.3291016.5556639-9.0673828 6.8740233-8.3330078 14.0849608zm8.540039-12.0966797c.1845704-.0185547.3701172-.0283203.5546875-.0283203 1.3730469 0 2.7431641.5283203 3.9941406 1.5449219 2.296875 1.8671875 3.8876953 5.1464844 4.2568359 8.7714844.6230469 6.1162109-2.3154297 11.4521484-6.5498047 11.8935547-1.5585938.1582031-3.1298828-.3623047-4.5478516-1.515625-2.296875-1.8671875-3.8886719-5.1464844-4.2578125-8.7724609-.6230467-6.116211 2.3154298-11.451172 6.5498048-11.8935548z"
          data-original="#000000" style="" class="" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m20.3886719 26.5654297c-2.1621094-.6894531-4.2578125-.5566406-6.0566406.3847656-4.5429688 2.3759766-5.6845703 9.3085938-2.5449219 15.4521484 1.7998047 3.5205078 4.7548828 6.2207031 7.9042969 7.2236328.9111328.2900391 1.8095703.4345703 2.6787109.4345703 1.1962891 0 2.3369141-.2734375 3.3789062-.8183594 4.5449219-2.3769531 5.6865234-9.3085938 2.5449219-15.4521484-1.7998047-3.5214843-4.7548828-6.2216796-7.9052734-7.2246093zm4.4335937 20.9052734c-1.3154297.6865234-2.8789062.7744141-4.5234375.25-2.6523438-.8447266-5.1689453-3.1728516-6.7304688-6.2285156-2.6435547-5.1708984-1.8847656-10.8994141 1.6914062-12.7705078.7480469-.3916016 1.578125-.5878906 2.4580078-.5878906.6640625 0 1.3574219.1123047 2.0644531.3369141 2.6523438.8447266 5.1689453 3.1738281 6.7304688 6.2294922 2.6445314 5.1708984 1.8857423 10.899414-1.6904296 12.7705077z"
          data-original="#000000" style="" class="" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m62.7236328 10.0400391c-2.0947266-.2197266-4.1767578.4570312-6.0175781 1.953125-2.6992188 2.1953125-4.5634766 5.9785156-4.9853516 10.1201172-.734375 7.2119141 3.0039062 13.5302734 8.3330078 14.0849609.2578125.0273438.5146484.0410156.7714844.0410156 1.8320312 0 3.6308594-.6816406 5.2451172-1.9931641 2.7001953-2.1953125 4.5634766-5.9785156 4.9863281-10.1210938.734375-7.2109374-3.0039062-13.5292968-8.3330078-14.0849608zm6.3427734 13.8818359c-.3691406 3.6259766-1.9609375 6.9052734-4.2578125 8.7724609-1.4179688 1.1533203-2.9921875 1.6728516-4.5478516 1.515625-4.234375-.4414062-7.1728516-5.7773438-6.5498047-11.8935547.3691406-3.625 1.9599609-6.9042969 4.2568359-8.7714844 1.4189453-1.1542969 2.9912109-1.671875 4.5488281-1.5166016 4.2343752.4423829 7.1728517 5.7773439 6.5498048 11.8935548z"
          data-original="#000000" style="" class="" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m88.2128906 42.4023438c3.1396484-6.1435547 1.9980469-13.0761719-2.5449219-15.4521484-1.7978516-.9414062-3.8916016-1.0751953-6.0566406-.3847656-3.1503906 1.0029297-6.1054688 3.703125-7.9052734 7.2246094-3.1416016 6.1435547-2 13.0751953 2.5458984 15.4521484 1.0410156.5449219 2.1816406.8183594 3.3779297.8183594.8691406 0 1.7675781-.1445312 2.6787109-.4345703 3.1494141-1.0029298 6.1044922-3.7031251 7.9042969-7.2236329zm-13.0341797 5.0683593c-3.5771484-1.8710938-4.3359375-7.5996094-1.6914062-12.7705078 1.5615234-3.0556641 4.078125-5.3847656 6.7304688-6.2294922.7070312-.2246094 1.4003906-.3369141 2.0644531-.3369141.8798828 0 1.7099609.1962891 2.4580078.5878906 3.5761719 1.8710938 4.3349609 7.5996094 1.6914062 12.7705078-1.5615234 3.0556641-4.078125 5.3837891-6.7304688 6.2285156-1.6435546.5234376-3.2089843.435547-4.5224609-.2499999z"
          data-original="#000000" style="" class="" />
      </g>
    </svg>


    <p class="text-sm text-center">
      <span *ngIf="pets" i18n="span Icon description pets allowed | Icon description for pets allowed icon on vehicle detail page @@ in vehicle icon bar"> Haustiere erlaubt</span>
      <span *ngIf="!pets" i18n="span Icon description pets not allowed | Icon description for pets allowed icon on vehicle detail page @@ in vehicle icon bar"> Haustiere nicht erlaubt</span>
    </p>
  </div>
</div>
