<fc-lib-card [rounded]="true">
  <fc-lib-card-header class="text-left">Ansprechpartner</fc-lib-card-header>
  <fc-lib-card-content>
    <app-person-list
      (personCreateEvent)="onPersonsAdd($event)"
      (personDeleteEvent)="onPersonDeleted($event)"
      (personEditEvent)="onPersonEdit($event)"
      [persons$]="persons$"
    ></app-person-list>
  </fc-lib-card-content>
</fc-lib-card>
