.stations {
  user-select: none;
  min-height: 100vh;
  
  margin: 0 auto;  
  width: 80vw;

  @media(max-width: 480px)  {
    width: 100vw;
  }
  
  &-list{
    width: 100%;
  }

  &-headline {
    margin: .5em 0;
    padding: 0 .5em;
  }

  &-controls {
    margin: .5em 0;

    button {
      margin: 0 .5em;
    }
  }
}