<section class="stations">
  <div>
    <div class="flex flex-1 flex-row mb-1">
      <h4
        class="text-xl font-bold flex-grow basis-0"
        i18n="@@lessor_fc-station-list_headline-stations"
      >
        Stationen
      </h4>
      <div class="">
        <fc-lib-button
          [routerLink]="'/lessor/stations/create'"
          i18n="@@lessor_fc-station-list_headline-stations"
        >
          <fc-lib-icon [icon]="'add'"></fc-lib-icon>
          Neue Station
        </fc-lib-button>
      </div>
    </div>
  </div>
  <fc-lib-card-content>
    <fc-lib-table [columns]="columns" [endOfResults]="true">
      <div
        *ngFor="let station of stationList$ | async"
        class="table-row even:bg-gray-100 odd:bg-gray-200"
        content
      >
        <div class="table-cell px-5 py-1">{{ station.name }}</div>
        <div class="table-cell px-5 py-1">{{ station.street }}</div>
        <div class="table-cell px-5 py-1">{{ station.postalCode }}</div>
        <div class="table-cell px-5 py-1">
          <button
            color="primary"
            [routerLink]="'/lessor/stations/edit/' + station.id"
          >
            <fc-lib-icon icon="edit"></fc-lib-icon>
          </button>
        </div>
      </div>
    </fc-lib-table>
  </fc-lib-card-content>
</section>
