<form [formGroup]="stationForm">
  <fc-lib-text-input formControlName="name">
    <span i18n="@@station-metadata-form_name" label>Name</span>
    <fc-lib-input-error
      i18n="
        error description for station form error
        stationname|@@lessor_fc-station-form_stationname_error"
      >Der Stationsname muss mindestens drei Buchstaben lang
      sein</fc-lib-input-error
    >
  </fc-lib-text-input>
  <fc-lib-text-input formControlName="description">
    <span
      i18n="
        label description for station form station
        description|@@lessor_fc-station-form_stationdescription_label"
      label
      >Beschreibung</span
    >
    <fc-lib-input-error
      i18n="
        error description for station form error
        stationname|@@lessor_fc-station-form_stationname_error"
      >Bitte eine Beschreibung eingeben</fc-lib-input-error
    >
  </fc-lib-text-input>
  <address class="station-address">
    <legend
      i18n="
        legend description for station form
        address|@@lessor_fc-station-form_legend_address_description"
    >
      Adresse
    </legend>
    <fc-lib-text-input formControlName="street">
      <span
        i18n="
          label description for station form
          street|@@lessor_fc-station-form_street_label"
        label
        >Straße</span
      >
      <fc-lib-input-error
        i18n="
          error description for station form
          street|@@lessor_fc-station-form_street_error"
        >Bitte eine Straße und Hausnummer eingeben</fc-lib-input-error
      >
    </fc-lib-text-input>
    <fc-lib-text-input formControlName="city">
      <span
        i18n="
          label description for station form
          postalcode|@@lessor_fc-station-form_postalcode_label"
        label
        >Stadt</span
      >
      <fc-lib-input-error
        i18n="
          error description for station form
          postalcode|@@lessor_fc-station-form_postalcode_error"
        >Bitte eine Stadt eingeben</fc-lib-input-error
      >
    </fc-lib-text-input>
    <fc-lib-text-input formControlName="postalCode">
      <span
        i18n="
          label description for station form
          postalcode|@@lessor_fc-station-form_postalcode_label"
        label
        >Postleitzahl</span
      >
      <fc-lib-input-error
        i18n="
          error description for station form
          postalcode|@@lessor_fc-station-form_postalcode_error"
        >Bitte eine PLZ eingeben</fc-lib-input-error
      >
    </fc-lib-text-input>
    <!-- TODO: use country list for select -->
    <fc-lib-text-input formControlName="country">
      <span
        i18n="
          label description for station form
          country|@@lessor_fc-station-form_country_label"
        label
        >Country</span
      >
      <fc-lib-input-error
        i18n="
          error description for station form
          country|@@lessor_fc-station-form_country_error"
        >Bitte ein Land eingeben</fc-lib-input-error
      >
    </fc-lib-text-input>
    <fc-lib-text-input formControlName="optional">
      <span
        i18n="
          label description for station form
          optional|@@lessor_fc-station-form_optional_label"
        label
        >Optional</span
      >
    </fc-lib-text-input>
  </address>
  <fc-lib-number-input formControlName="fee">
    <span
      i18n="
        label description for station form
        surcharge|@@lessor_fc-station-form_surcharge_label"
      label
      >Gebühr €</span
    >
  </fc-lib-number-input>
  <div formGroupName="geoLocation">
    <legend
      i18n="
        legend description for station form
        location|@@lessor_fc-station-form_legend_location_description"
    >
      Location
    </legend>
    <!-- TODO: select location on map -->
    <fc-lib-number-input formControlName="latitude">
      <span
        i18n="
          label description for station form
          latitude|@@lessor_fc-station-form_latitude_label"
        label
        >Latitude</span
      >
      <fc-lib-input-error
        i18n="
          error description for station form
          latitude|@@lessor_fc-station-form_latitude_error"
        >Zwischen 0 und 90</fc-lib-input-error
      >
    </fc-lib-number-input>
    <fc-lib-number-input formControlName="longitude">
      <span
        i18n="
          label description for station form
          longitude|@@lessor_fc-station-form_longitude_label"
        label
        >Longitude</span
      >
      <fc-lib-input-error
        i18n="
          error description for station form
          longitude|@@lessor_fc-station-form_longitude_error"
        >Zwischen 0 und 180</fc-lib-input-error
      >
    </fc-lib-number-input>
  </div>
</form>
