.station {

    &-address {
      padding-bottom: 1em;
    }
    &-form {
  
      @media(max-width: 480px) {
        text-align: center;
  
        &__field {
          width: 80%;
        }
      }
    }
  }