
<div class="fixed flex flex-col top-0 left-0 w-full h-12 bg-white z-50">
  <!-- Header -->
  <header class="w-full hover:cursor-pointer flex flex-1 flex-row items-center gap-2 relative ">
    <div class="flex-grow basis-0">
        <button class=" absolute top-3 left-3" (click)="isOpen = !isOpen">
          <fc-lib-icon [icon]="'menu'"></fc-lib-icon>
        </button>
    </div>
    <div class="basis-0 flex-grow">
      <button *ssoIf="loginRequirements" class=" bg-blue-600 text-white px-5 py-1 rounded" (click)="doLogin()">Login</button>
      <button *ssoIf="logoutRequirements"  class=" bg-blue-600 text-white px-5 py-1 rounded" (click)="doLogout()">Logout</button>
    </div>
    <div class=" w-full basis-1 relative" >
      <div class="flex items-center relative justify-end space-x-2 hover:bg-gray-300 pl-10 pr-5 " (click)="expanded = !expanded">
        <div class="flex flex-shrink-0 items-center space-x-1 text-gray-700 py-2">
          <!-- Foto -->
          <div class="h-8 w-8 rounded-full cursor-pointer bg-gray-200 border-2 border-blue-400"></div>
          <div class="flex flex-col items-start ">
            <div class="text-md font-medium ">John Doe</div>
          </div>
        </div>
        <div class="flex flex-shrink-0 text-white relative ">
          <button *ngIf="!expanded">
            <div class="rotate-90 text-sm text-slate-700">&#10095;</div>
          </button>
          <button *ngIf="expanded">
            <div class="rotate-90  text-sm text-slate-500">&#10096;</div>
          </button>
        </div>
      </div>
      <!-- Menu -->
      <div class=" absolute top-12 -left-28 bg-white px-5 shadow-md w-64 transition-all overflow-hidden" [ngClass]="{'h-0': !expanded, 'h-36': expanded}">
        <ul class="flex flex-col py-6 space-y-1">
          <li>
            <button  routerLink="/lessor/account">
              <fc-lib-icon [icon]="'settings'" class=" inline"></fc-lib-icon><span class="inline">Account</span>
            </button>
        </ul>
        <ul class="flex flex-col py-6 space-y-1">
          <li>
            <button  (click)="doLogout();">
              <fc-lib-icon [icon]="'logout'"></fc-lib-icon> Logout
            </button>
        </ul>
      </div>

    </div>
  </header>
</div>



<!-- Sie Nav -->
<div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full shadow-xl mt-12 overflow-hidden transition-all" [ngClass]="{'w-0': !isOpen}">
  <div class="flex items-center pl-6 h-20 py-3 border-b border-gray-800">
    <!-- IMAGE PLACEHOLDER -->
    <div class="ml-1">
      <p class="ml-1 text-md font-medium tracking-wide truncate text-gray-800 ">John Doe</p>
      <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-800 bg-blue-100 rounded-full">Admin</span>
    </div>
  </div>
  <div class="overflow-y-auto overflow-x-hidden flex-grow">
    <ul class="flex flex-col py-6 space-y-1">
      <li>
        <a routerLink="/lessor/dashboard"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/dashboard'), 'border-orange-500': isUrl('/lessor/dashboard')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'dashboard'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-bold text-sm tracking-wide truncate ">Dashboard (TODO)</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/messages"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/messages'), 'border-orange-500': isUrl('/lessor/messages')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'messages'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Nachrichten (TODO)</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/booking-requests"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/booking-requests'), 'border-orange-500': isUrl('/lessor/booking-requests')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'booking-requests'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Buchungen (TODO)</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/calendars"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/calendar'), 'border-orange-500': isUrl('/lessor/calendar')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'vehicles'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Buchungskalendar</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/rental-requests"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/rental-requests'), 'border-orange-500': isUrl('/lessor/rental-requests')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'rental-request'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Mietgesuche (TODO)</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/vehicles"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/vehicles'), 'border-orange-500': isUrl('/lessor/vehicles')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'vehicles'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Fahrzeuge</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/stations"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/locations'), 'border-orange-500': isUrl('/lessor/locations')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'locations'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Standorte</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/seasons"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/seasons'), 'border-orange-500': isUrl('/lessor/seasons')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'seasons'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Saisonzeiten</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/contracts"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/contracts'), 'border-orange-500': isUrl('/lessor/contracts')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'contracts'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Mietverträge (TODO)</span>
        </a>
      </li>

      <li>
        <a routerLink="/lessor/account"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-300 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-orange-500 pr-6"
          [ngClass]="{ 'bg-gray-200': isUrl('/lessor/account'), 'border-orange-500': isUrl('/lessor/account')}">
          <span class="inline-flex justify-center items-center ml-4">
            <fc-lib-icon [icon]="'account'"></fc-lib-icon>
          </span>
          <span class="ml-2 font-semibold text-sm tracking-wide truncate " i18n="replace_me">Account</span>
        </a>
      </li>



    </ul>
  </div>
  <!-- Spacing to counter the top offset of the sidebar -->
  <div class="h-12"></div>
</div>
<div [ngClass]="{'ml-64': isOpen}" class="p-5 mt-12 transition-all bg-slate-50 h-full">
  <router-outlet></router-outlet>
</div>




