<div *ngIf="booking$ |async as booking">
  <app-checkout-status-bar [bookingState]="booking.state"></app-checkout-status-bar>
  <tenant-checkout-booking *ngIf="booking.id !== '2'"></tenant-checkout-booking>
  <tenant-checkout-panding-page *ngIf="booking.id === '2'" [responseExpected]="booking.lessorResponseExpected"></tenant-checkout-panding-page>
</div>
