<ul class="list-none">
  <li *ngFor="let doc of docs$ | async" class="flex flex-row">
    <div class="basis-1/4">{{ doc.fileName }}</div>
    <!-- TODO: dropdown/select for document type -->
    <div class="basis-1/4">{{ doc.documentType }}</div>
    <div class="basis-1/4">
      <button (click)="onDocDelete(doc)">(x)</button>
    </div>
  </li>
</ul>
<app-document-upload-form
  (docOut)="onDocumentUpload($event)"
></app-document-upload-form>
