<form [formGroup]="pricelevelForm">
  <div>
    <fc-lib-label
      i18n="
        label description for seasonForm
        seasonname|@@lessor_fc-season-form_label_season_name_description"
      >Name</fc-lib-label
    >
    <input formControlName="name" />
    <fc-lib-input-error
      i18n="
        error description for seasonForm
        seasonname|@@lessor_fc-season-form_label_season_name_error"
      >Der Name muss eindeutig sein`</fc-lib-input-error
    >
  </div>
  <div>
    <fc-lib-label
      i18n="
        label description for seasonForm
        seasonname|@@lessor_fc-season-form_label_season_color_description"
    >
      Name</fc-lib-label
    >
    <input type="color" formControlName="color" />
    <fc-lib-input-error
      i18n="
        error description for seasonForm
        seasonname|@@lessor_fc-season-form_label_season_name_error"
      >Wähle eine Farbe</fc-lib-input-error
    >
  </div>
  <fc-lib-button
    type="submit"
    (click)="submitForm()"
    [disabled]="pricelevelForm.invalid"
    i18n="
      button text for seasonForm
      cancel|@@lessor_fc-pricelevel-form_button_save_text"
  >
    Speichern
  </fc-lib-button>
  <fc-lib-button
    i18n="
      button text for seasonForm
      cancel|@@lessor_fc-season-form_button_cancel_text"
    (click)="cancel()"
    >Zurück
  </fc-lib-button>
</form>
