<fc-lib-card [rounded]="true">
  <fc-lib-card-header class="text-left">Firmendaten</fc-lib-card-header>
  <fc-lib-card-content>
    <app-company-details
      *ngIf="!edit"
      [account$]="account$"
    ></app-company-details>
    <app-company-form
      *ngIf="edit"
      [saveEvent]="saveEvent"
      [company]="company"
      (companyFormOut)="onCompanyUpdate($event)"
    ></app-company-form>
  </fc-lib-card-content>
  <fc-lib-card-footer>
    <fc-lib-button *ngIf="!edit" (click)="editCompany()">
      Editieren
    </fc-lib-button>

    <fc-lib-button *ngIf="edit" (click)="saveCompany()">
      Speichern
    </fc-lib-button>
    
  </fc-lib-card-footer>
</fc-lib-card>
