<section>
  <div class="flex flex-1 flex-row mb-1">
    <fc-lib-button
      i18n="@@lessor_fc-station-list_headline-stations"
      (click)="createNewPricelevel()"
    >
      <fc-lib-icon [icon]="'add'"></fc-lib-icon>
      Neuen Pricelevel anlegen
    </fc-lib-button>
  </div>
  <fc-lib-card-content>
    <fc-lib-table *ngIf="!showForm" [columns]="columns" [endOfResults]="true">
      <div
        *ngFor="let pl of pricelevel"
        class="table-row even:bg-gray-100 odd:bg-gray-200"
        content
      >
        <div class="table-cell px-5 py-1">{{ pl.name }}</div>
        <div class="table-cell px-5 py-1">
          <div [ngStyle]="{ color: pl.color }">⬤</div>
        </div>
        <div class="table-cell px-5 py-1">
          <button (click)="editPricelevel(pl)">
            <fc-lib-icon icon="edit"></fc-lib-icon>
          </button>
        </div>
      </div>
    </fc-lib-table>
    <fc-price-level-form
      *ngIf="showForm"
      [pricelevel]="selectedPriceLevel"
      [isEditing]="isEditing"
      (pricelevelUpdateEvent)="onPriceLevelUpdated($event)"
      (pricelevelCreateEvent)="onPriceLevelCreated($event)"
      (cancelEvent)="onCancelEdit($event)"
    >
    </fc-price-level-form>
  </fc-lib-card-content>
</section>
