<form [formGroup]="fc">
  <fc-lib-select
    formControlName="seasonColl"
    [valueType]="'number'"
    [placeholder]="'Wähle eine SeasonCollection'"
    (change)="onSelect($event)"
  >
    <!-- <span label>Label</span> -->
    <!-- <span hint>Hint</span> -->
    <!-- <span error>Error</span> -->
    <option *ngFor="let option of seasonCollections" [value]="option.id">
      {{ option.name }}
    </option>
  </fc-lib-select>
</form>
