<div class="grid grid-cols-13 font-sans mt-14 sm:mt-8 p-1">
    <div class="col-start-3 col-end-12 sm:col-span-full text-center">
        <p class="lg:text-3xl md:text-3xl sm:text-2xl font-semibold text-blue-900" i18n="replace_me">
            Vielen Dank für deine Buchung!
        </p>
    </div>
    <div class="col-start-3 col-end-12 sm:col-span-full text-center mt-5 p-1">
        <p class="lg:text-lg md:text-lg sm:text-base font-medium text-blue-900 " i18n="replace_me">
            Dein Vermieter hat bis zum {{responseExpected}} 20 Uhr Zeit, um deine Buchungsanfrage zu bestätigen.
        </p>
    </div>
    <div class="col-span-6"></div>
        <div class="col-span-1 mt-8 sm:mt-5 mx-auto text-orange-500">
            <fc-lib-icon [icon]="'warning-hint'" [size]="'h-10 w-10'"></fc-lib-icon>
        </div>
    <div class="col-span-6"></div>
</div>

<div class="flex sm:px-10">
    <p class="text-lg text-center font-medium border border-orange-500 rounded-xl text-orange-500 lg:mx-auto md:mx-auto sm:mx-auto mt-5 sm:mt-3 px-4 py-1 " i18n="replace_me">
        Bitte stell in dieser Zeit keine weiteren Buchungsanfragen!
    </p>
</div>

<div class="grid grid-cols-13 font-sans mt-7 p-1">
    <div class="col-start-4 col-end-11 sm:col-span-full mt-8 sm:mt-0 text-center">
        <p class="text-base font-normal text-gray-500" i18n="replace_me">
            Buchungsanfragen sind bei Annahme deines Vermieters sofort zahlungspflichtige Mietverträge!
        </p>
    </div>
    <div class="col-start-5 col-end-10 sm:col-span-full text-center mt-6">
        <p class="text-base font-normal text-gray-500" i18n="replace_me">
            Unser Team informiert dich sofort per E-Mail über die Antwort deines Vermieters.
        </p>
    </div>
    <div class="col-start-5 col-end-10 sm:col-span-full text-center mt-6">
        <p class="text-base font-normal text-gray-500" i18n="replace_me">
            In deinem WOBI-Account kannst du ab jetzt unter "Nachrichten" Kontakt zu deinem Vermieter aufnehmen und deinen Buchungs-Status einsehen.
        </p>
    </div>
</div>







