<div *ngIf="!showOptionalEquipmentLink">
  <div *ngFor="let item of equipmentList">
    <h4 class="text-2xl mb-2 mt-4">{{ item.categoryName }}</h4>
    <div *ngFor="let equipment of item.equipmentList">
      <app-equipment-item-form
        [equipment]="equipment"
        (equipmentSelect)="onEquipmentSelect($event)"
        (optionalEquipmentLink)="onChangeIsChargeableActive($event)"
      ></app-equipment-item-form>
    </div>
  </div>
</div>
<div content *ngIf="showOptionalEquipmentLink">
  <fc-lib-dialog [show]="showOptionalEquipmentLink">
    <app-equipment-link
      [equipment]="equipmentForLinking"
      [categories]="categories"
      [stationId]="stationId"
      (linkOptionalEquipmentEvent)="onLinkOptionalEquipmentEvent($event)"
    ></app-equipment-link>
  </fc-lib-dialog>
</div>
