
<div style=" max-width:1440px;" class=" m-auto">
  <div *ngIf="vehicle$ | async as vehicle">
    <div class="p-0 grid grid-cols-12 md:p-5 lg:p-5">
      <div class="hidden md:block col-span-12 h-144 overflow-hidden">
        <div *ngIf="vehicle.images.length > 4" class=" grid grid-cols-12 gap-4">
          <div class=" col-span-5">
            <div class=" h-144"
              style="background-image: url('{{vehicle.images[0].url}}'); background-repeat: no-repeat; background-size: cover; background-position-y: 50%; background-position-x: 50%;">
            </div>
          </div>
          <div class=" col-span-7">
            <div class=" grid grid-cols-12 gap-4">
              <div class=" col-span-6 h-72"
                style="background-image: url('{{vehicle.images[1].url}}'); background-repeat: no-repeat; background-size: cover;background-position-y: 50%; background-position-x: 50%; ">
              </div>
              <div class=" col-span-6 h-72"
                style="background-image: url('{{vehicle.images[2].url}}'); background-repeat: no-repeat; background-size: cover;background-position-y: 50%; background-position-x: 50%;">
              </div>
              <div class=" col-span-6 h-72"
                style="background-image: url('{{vehicle.images[3].url}}'); background-repeat: no-repeat; background-size: cover;background-position-y: 50%; background-position-x: 50%;">
              </div>
              <div class=" col-span-6 h-72"
                style="background-image: url('{{vehicle.images[4].url}}'); background-repeat: no-repeat; background-size: cover;background-position-y: 50%; background-position-x: 50%;">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="vehicle.images.length <= 4  && vehicle.images.length > 0" class=" grid grid-cols-12 gap-4">
          <div class=" col-span-12">
            <div class=" h-144"
              style="background-image: url('{{vehicle.images[0].url}}'); background-repeat: no-repeat; background-size: cover; background-position-y: 50%; background-position-x: 50%;">
            </div>
          </div>
        </div>
        <button *ngIf="vehicle.images.length > 1" (click)="showOverlay()" class=" bg-white relative bottom-16 left-8 py-2 px-5 rounded hover:bg-gray-100"
          i18n="button vehicle image overlay| button to open all images in overlay gallery @@in vehicle detail page">
          Alle {{vehicle.images.length}} Fotos anzeigen
        </button>
      </div>
      <div class="block md:hidden relative col-span-12 overflow-hidden">
        <div class="carousel relative bg-white">

          <div class="carousel-inner relative overflow-hidden w-full">
            <!--Slide 1-->
             <span>

                <input class="carousel-open hidden" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                <div class="carousel-item absolute opacity-0" style="height:55vh;">
                  <div class="block h-full w-full bg-yellow-500 text-white text-5xl text-center"
                  style="background-image: url('{{vehicle.images[0].url}}'); background-repeat: no-repeat; background-size: cover; background-position-y: 50%; background-position-x: 50%;"></div>
                </div>
                <label for="carousel-{{vehicle.images.length}}" (click)="nextprevfunction(vehicle.images.length,vehicle.images.length)" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-yellow-500 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-2" (click)="nextprevfunction(2,vehicle.images.length)" class="next controls-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
            </span>
            <span *ngFor="let item of vehicle.images | slice:1:vehicle.images.length-1;let i =index;">

                <input class="carousel-open hidden" type="radio" id="carousel-{{i+2}}" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item absolute opacity-0" style="height:55vh;">
                  <div class="block h-full w-full bg-yellow-500 text-white text-5xl text-center"
                  style="background-image: url('{{item.url}}'); background-repeat: no-repeat; background-size: cover; background-position-y: 50%; background-position-x: 50%;"></div>
                </div>
                <label for="carousel-{{i+2-1}}" (click)="nextprevfunction(i+2-1,vehicle.images.length)" class="prev control-{{i+2}} w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-yellow-500 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-{{i+2+1}}"(click)="nextprevfunction(i+2+1,vehicle.images.length)" class="next controls-{{i+2}} w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
            </span>
            <span>
              <input class="carousel-open hidden" type="radio" id="carousel-{{vehicle.images.length}}" name="carousel" aria-hidden="true" hidden="">
              <div class="carousel-item absolute opacity-0" style="height:55vh;">
                <div class="block h-full w-full bg-yellow-500 text-white text-5xl text-center"
                style="background-image: url('{{vehicle.images[vehicle.images.length-1].url}}'); background-repeat: no-repeat; background-size: cover; background-position-y: 50%; background-position-x: 50%;"></div>
              </div>
              <label for="carousel-{{vehicle.images.length-1}}" (click)="nextprevfunction(vehicle.images.length-1,vehicle.images.length)" class="prev control-{{vehicle.images.length}} w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-yellow-500 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
              <label for="carousel-1" (click)="nextprevfunction(1,vehicle.images.length)" class="next controls-{{vehicle.images.length}} w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
            </span>
            <!-- Add additional indicators for each slide-->
            <ol class="carousel-indicators">
              <li class="inline-block mr-3" *ngFor="let item of vehicle.images;let i =index;" >
                <label for="carousel-{{i+1}}" (click)="nextprevfunction(i+1,vehicle.images.length)" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700" id="indicator-{{i+1}}">•</label>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-8 md:mt-5 p-2 md:p-5">
        <app-vehicle-headline [station]="vehicle.station" [vehicle]="vehicle" [vehicleModels]="vehicleModels"></app-vehicle-headline>
        <app-vehicle-icon-bar [seats]="vehicle.numSeatsOverall" [vehicleTypeId]="vehicle.vehicleTypeId" [pets]="vehicle.rentalTerms.smallPetsAllowed"></app-vehicle-icon-bar>
        <app-vehicle-equipment *ngIf="vehicle.equipmentItems" [equipments]="vehicle.equipmentItems"></app-vehicle-equipment>
        <app-vehicle-description [description]="vehicle.description"></app-vehicle-description>
        <app-vehicle-tech-details [vehicle]="vehicle"></app-vehicle-tech-details>
        <!-- <app-vehicle-extra-details [vehicle]="vehicle" [dayLength]="dayLength" (totalExtraAmount)="totalExtraAmount = $event"></app-vehicle-extra-details> -->
      </div>
      <div class="col-span-12 md:col-span-4 mt-0 md:mt-5 p-0 md:p-5">
        <app-booking-box [openings]="station?.openingHours" (updateDays)="daysUpdated($event)" [totalExtraAmount]="totalExtraAmount"></app-booking-box>
      </div>
    </div>
    <app-image-gallery *ngIf="overlay" [images]="vehicle.images" (closeOverlay)="overlay = false"></app-image-gallery>
  </div>
</div>
