<form [formGroup]="personForm" class="grid grid-cols-2 gap-4">
  
  <fc-lib-select formControlName="accountRoleId" [value]="accountRoles[0].name">
    <span label>Rolle*</span>
    <option [value]="type.id" *ngFor="let type of accountRoles; let i = index">
      {{ type.name }}
    </option>
    <span
      error
      *ngIf="isFormCtrlValid('accountRoleId')"
    >
      Ein Objekt muss angegeben werden
    </span>
  </fc-lib-select>
  
  <fc-lib-text-input formControlName="name" [placeholder]="'z.B: Max'">
    <span label>Name*</span>
    <span *ngIf="getPerson.get('name')?.invalid && getPerson.get('name')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>

<fc-lib-text-input formControlName="surname" [placeholder]="'z.B: Mustermann'">
    <span label>Nachname*</span>
    <span *ngIf="getPerson.get('surname')?.invalid && getPerson.get('surname')?.touched" error>Dieses Feld ist erforderlich!</span>
</fc-lib-text-input>

<fc-lib-datepicker formControlName="birthday" min="{{min}}" max="{{max}}" [disabled]="disabledDate">
    <span label>Geburtsdatum*</span>
    <span *ngIf="getPerson.get('birthday')?.invalid && getPerson.get('birthday')?.touched" error>Dieses Feld ist erforderlich!</span>
</fc-lib-datepicker>

<fc-lib-text-input formControlName="mobilePhone" [placeholder]="'z.B: 01234131312'">
    <span label>Handynummer*</span>
    <span *ngIf="getPerson.get('mobilePhone')?.invalid && getPerson.get('mobilePhone')?.touched" error>Dieses Feld ist erforderlich!</span>
</fc-lib-text-input>

<fc-lib-text-input formControlName="phone" [placeholder]="'z.B: 040123131'">
        <span label>Telefonnummer (optional)</span>
        <span *ngIf="getPerson.get('phone')?.invalid && getPerson.get('phone')?.touched" error>Dieses Feld ist erforderlich!</span>
</fc-lib-text-input>

</form>
