<div class=" w-auto mx-3 my-3 border-solid border-grey-light rounded border shadow-sm">
  <div class="relative bg-grey-lighter px-2 py-2 border-solid border-grey-light border-b text-center">
    <button class="absolute left-3" (click)="changedMonth.emit(-1)" [ngClass]="{'lg:hidden': secondCalendar || onStartMonth()}">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <button class="absolute right-3" (click)="changedMonth.emit(1)" [ngClass]="{'lg:hidden': !secondCalendar}">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
    <span>{{monthToDate() | date:'MMMM'}} {{year}}</span>
  </div>
  <div class="">
    <table class="w-full">
      <tr class="border-b">
        <th class="py-3 px-3 text-center">M</th>
        <th class="py-3 px-3 text-center">T</th>
        <th class="py-3 px-3 text-center">W</th>
        <th class="py-3 px-3 text-center">T</th>
        <th class="py-3 px-3 text-center">F</th>
        <th class="py-3 px-3 text-center">S</th>
        <th class="py-3 px-3 text-center">S</th>
      </tr>
      <ng-container *ngIf="days.length !== 0 else loading">
        <tr *ngFor="let empty of [].constructor(6); let i = index">
          <td *ngFor="let day of getDaysByWeek(i + 1, month)" (click)="clickedOnDay(day)"
            (mouseenter)="setHoverDate.emit(day);"
            (mouseleave)="deleteHoverDate.emit()"
            [ngClass]="{'py-3 px-3 text-center': day.day !== -1,
                        'checkin bg-gray-200': checkinColor(day),
                        'checkout bg-gray-200': checkoutColor(day),
                        'bg-gray-200': disabledColor(day),
                        'cursor-default line-through': !day.available,
                        'bg-orange-500': orangeColor(day),
                        'bg-error': redColor(day),
                        'hover:bg-error cursor-default': !isDatePickable(day),
                        'hover:bg-orange-500 hover:text-white cursor-pointer': isDatePickable(day) ? !isDatePicked(day) || (startDay && endDay) : false,
                        'bg-orange-light': lightOrangeColor(day)}">
            <div *ngIf="day.day !== -1">
              <div class="w-full">
                {{day.day}}
              </div>
              <div class="w-full text-xs">
                {{day.price / 100}} €
              </div>
              <div class="w-full text-xs">
                <span>min:</span>{{day.minBookingDuration}}
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>

<ng-template #loading>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <fc-lib-spinner class=" flex-1"></fc-lib-spinner>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</ng-template>
