.checkin {
  background-image: linear-gradient(-53deg, rgb(224 224 224) 0 50%, white 50% 100%)
}

.checkout {
  background-image: linear-gradient(-53deg, white 0 50%, rgb(224 224 224) 50% 100%)
}

.checkin:hover {
  background-image: none
}

.checkout:hover {
  background-image: none
}
