<!-- <fc-season-form [createMode]="true" [season]="season" [priceLevels]="priceLevels" [lastSeason]= "false" (changedSeason)="season=$event"></fc-season-form>
<button mat-raised-button (click)="onDialogSubmit()" i18n="create-button season | button to create a season and submit the needed form @@season-create-dialog_create-button">Create</button>
<button mat-raised-button (click)="onCancel()" i18n="cancel-button season | button to cancle and close the season creation dialog @@season-create-dialog_cancle-button">Cancel</button> -->