<div class="grid gap-4 grid-cols-12">
  <form *ngIf="vehicleForm" [formGroup]="vehicleForm" #form="ngForm" class=" col-span-12 md:col-span-6 lg:col-span-4">
    <fc-lib-select formControlName="vehicleTypeId" [valueType]="'number'">
      <span label i18n="replace_me">Fahrzeugkategorie</span>
        <option *ngFor="let type of vehicleTypes" [value]="type" [selected]="type.id === vehicleTypeId.value">{{ type.name }}</option>
      <span error *ngIf="vehicleTypeId.invalid"
      i18n="error hint for required input field|vehicle vehicle category/type required error@@lessor_fc-vehicle-category-form_category_error">
      Muss angegeben werden
    </span>
  </fc-lib-select>
  </form>
</div>
