<div class="grid grid-cols-1 gap-1" *ngIf="account$ | async as account">
  <div>
    <span class="text-lg mr-2 ml-7" label>Name</span>
    <span class="text-lg mr-2 ml-7 text-gray-400">{{ account.company?.name }}</span>
  </div>
  <div [ngSwitch]="account.company?.businessFormId">
    <span class="text-lg mr-2 ml-7" label>Geschäftsform</span>
    <span
      *ngSwitchCase="0"
      class="rounded-md bg-gray-100 text-lg p-1 text-center"
      >Privat</span
    >
    <span
      *ngSwitchCase="1"
      class="rounded-md bg-gray-100 text-lg p-1 text-center"
      >Einzelkaufman</span
    >
    <span
      *ngSwitchCase="2"
      class="rounded-md bg-gray-100 text-lg p-1 text-center"
      >e.k</span
    >
    <span
      *ngSwitchCase="3"
      class="rounded-md bg-gray-100 text-lg p-1 text-center"
      >GbR</span
    >
    <span
      *ngSwitchCase="4"
      class="rounded-md bg-gray-100 text-lg p-1 text-center"
      >GmbH</span
    >
    <span
      *ngSwitchCase="5"
      class="rounded-md bg-gray-100 text-lg p-1 text-center"
      >UG</span
    >
  </div>

  <div>
    <span class="text-lg mr-2 ml-7" label>Strasse</span>
    <span class="text-lg mr-2 ml-7 text-gray-400">{{
      account.company?.street
    }}</span>
  </div>
  <div>
    <span class="text-lg mr-2 ml-7" label>Hausnummer</span>
    <span class="text-lg mr-2 ml-7 text-gray-400">{{
      account.company?.streetNumber
    }}</span>
  </div>
  <div>
    <span class="text-lg mr-2 ml-7" label>Postleitzahl</span>
    <span class="text-lg mr-2 ml-7 text-gray-400">{{
      account.company?.postalCode
    }}</span>
  </div>

  <div>
    <span class="text-lg mr-2 ml-7" label>Stadt</span>
    <span class="text-lg mr-2 ml-7 text-gray-400">{{ account.company?.city }}</span>
  </div>
  <div>
    <span class="text-lg mr-2 ml-7" label>Land</span>
    <span class="text-lg mr-2 ml-7 text-gray-400">{{
      account.company?.country
    }}</span>
  </div>
  <div>
    <span class="text-lg mr-2 ml-7" label>Website</span>
    <span class="text-lg mr-2 ml-7 text-gray-400">{{
      account.company?.website
    }}</span>
  </div>
</div>
