<form *ngIf="seatsAndBedsForm" [formGroup]="seatsAndBedsForm">
	<!-- Seats -->
	<div i18n="replace_me">Sitzplätze</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="numSeatsOverall">
        <span label
          i18n="replace_me">
          Sitzplätze insgesamt
        </span>

        <span error *ngIf="numSeatsOverall.invalid"
          i18n="replace_me">
          Muss angegeben werden
        </span>
      </fc-lib-number-input>

		</div>
		<!-- Seats 3 Point -->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="numSeats3Point">
        <span label
          i18n="replace_me">
          Sitzplätze mit 3-Punkt-Gurt
        </span>
        <span error *ngIf="numSeats3Point.invalid"
          i18n="replace_me">
        </span>
        </fc-lib-number-input>
		</div>
		<!-- Seats Lap Seat -->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="numSeatsLap">
        <span label
          i18n="replace_me">
          Sitzplätze mit Beckengurt
        </span>
        <span error *ngIf="numSeats3Point.invalid"
          i18n="replace_me">
          Muss angegeben werden
        </span>
      </fc-lib-number-input>
		</div>
		<!-- Seats Iso Fix Seats -->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
			<fc-lib-number-input formControlName="numSeatsIsofix">
        <span label
          i18n="replace_me">
          Sitzplätze mit ISO-Fix
        </span>
        <span *ngIf="numSeats3Point.invalid"
          i18n="replace_me">
          Muss angegeben werden
        </span>
      </fc-lib-number-input>
		</div>
		<div class="col-span-12 mb-5">
			<div *ngIf="seatsAndBedsForm?.invalid && seatsAndBedsForm?.errors?.['seatsNotMatching']?.value"
				class="bg-error-100 p-4 rounded-md w-max">
				<div class="text-sm">
					<span class="text-red-700 m-0"
						i18n="replace_me">
						Bitte geben Sie die Gesamtzahl der Sitzplätze bestehend aus 3-Punkt-Gurt- und Beckengurt-Plätzen an.
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Beds -->
	<div i18n="replace_me">Betten</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
		<!-- Beds Overall -->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="numBedsOverall">
        <span label
          i18n="replace_me">
          Schlafplätze gesamt
        </span>
        <span error *ngIf="numBedsOverall.invalid"
          i18n="replace_me">
          Muss angegeben werden
        </span>
      </fc-lib-number-input>
		</div>
		<!-- Comfort Beds -->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="numBedsComfort">
        <span label
          i18n="replace_me">
          Vermieterempfehlung Erwachsene
        </span>
        <span error *ngIf="numBedsComfort.invalid"
          i18n="replace_me">
        </span>
      </fc-lib-number-input>
		</div>
		<!-- Kids Beds-->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="numBedsComfortKids">
        <span label
          i18n="replace_me">
          Vermieterempfehlung Kinder
        </span>
      </fc-lib-number-input>
		</div>
	</div>
	<div class="col-span-12 mb-5">
		<div *ngIf="seatsAndBedsForm?.invalid && seatsAndBedsForm?.errors?.['bedsNotMatching']?.value"
			class="bg-error-100 p-4 rounded-md w-max">
			<div class="text-sm">
				<span class="text-red-700 m-0"
					i18n="replace_me">
					Betten insgesammt stimmen nicht mit Erwachsenen- und Kinderbetten überein
				</span>
			</div>
		</div>
	</div>
	<!-- Beds Description -->
	<div i18n="replace_me">Beschreibung der Betten</div>
	<div *ngFor="let bed of beds.value; let i = index" class="flex">
		<span class=" flex-1" i18n="replace_me">{{getBedTypeName(bed.designation)}}({{bed.width / 1000}}m Breite / {{bed.length / 1000}}m Länge)</span>
		<span class=" flex-1">
			<button class="" (click)="editBed(i)">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
				</svg>
			</button>
			<button class="" (click)="removeBed(i)"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
				</svg>
			</button>
		</span>
	</div>
	<!-- Beds adding  -->
</form>
<form [formGroup]="bedForm" class="mt-5">
	<div i18n="replace_me">Bett hinzufügen</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
		<!-- Bed Type -->
		<div >
      <fc-lib-select valueType="number" formControlName="designation">
        <span label i18n="replace_me">Bett Type</span>
				<option *ngFor="let bedType of bedTypes" [value]="bedType.id">{{ bedType.name }}</option>
        <span error *ngIf="designation.invalid"
          i18n="replace_me">
          Die Art des Bettes muss angegeben werden
        </span>
			</fc-lib-select>
		</div>
		<!-- Bed Width -->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="width" required>
        <span label
          i18n="replace_me">
          Breite des Bettes in cm
        </span>
        <span error *ngIf="width.invalid"
          i18n="replace_me">
          Die Breite muss in cm angegeben werden und min. 60cm betragen
        </span>
      </fc-lib-number-input>
		</div>
		<!-- Kids Beds-->
		<div  class="col-span-1 md:col-span-2 lg:col-span-1">
      <fc-lib-number-input formControlName="length">
        <span label
          i18n="replace_me">
          Länge des Bettes in cm
        </span>
        <span error *ngIf="length.invalid"
          i18n="replace_me">
          Die Länge muss in cm angegeben werden und min. 120cm betragen
        </span>
      </fc-lib-number-input>
		</div>

	</div>
	<div>
		<fc-lib-button *ngIf="!editBedMode" (click)="submitBed()" i18n="replace_me">
			<fc-lib-icon [icon]="'add'"></fc-lib-icon>Bett hinzufügen
		</fc-lib-button>
		<fc-lib-button  *ngIf="editBedMode" (click)="updateBed()" class="" i18n="replace_me">
			<fc-lib-icon [icon]="'edit'"></fc-lib-icon>Bett updaten
		</fc-lib-button>
	</div>
</form>
