<svg 
	[attr.viewBox]="viewBoxSize()" 
	version="1.1" xmlns="http://www.w3.org/2000/svg" (dblclick)="onViewboxDblClick($event)">
	<line
		*ngFor="let day of grid"
		class="daygrid"
		[attr.x1]="day.posX"
		[attr.y1]="0"
		[attr.x2]="day.posX"
		[attr.y2]="viewboxHeight"
		stroke="grey"
		stroke-width="0.2"
	/>
	<g *ngFor="let seasonShape of shapes">
		<style>
			.small {
				font: 15px sans-serif;
				color: white;
			}
			.heavy {
				font: bold 30px sans-serif;
			}
		</style>
		<polygon
			[attr.points]="seasonShape.shape.toString()"
			[attr.fill]="seasonShape.seasonColor()"
			stroke="black"
			stroke-width="0"
			(click)="onPeriodClick($event, seasonShape)"
		/>
			<text [attr.x]="seasonShape.shape.x0() + 5" y="90%" fill="lightblue" class="small">{{ seasonShape.name }}</text>
	</g>
</svg>
