.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgba(245, 158, 11, 1);
  color: white;
}
.custom-day.faded {
  background-color: rgba(245, 158, 11, 1);
}
