<div class="hidden md:block sticky top-12 bottom-40 border rounded-md border-gray-400 p-5 overflow-hidden shadow-md">
  <div>
    <span class=" text-xl text-gray-500"> {{textBeforePrice}} </span><span class="text-4xl text-yellow-600">{{(vehicle.minPrice/100 ) | currency:'EUR' : 'symbol' : '1.0-0'}}  </span><span
      class=" text-2xl text-gray-500">/ Nacht</span>
  </div>
  <button class="border rounded-md border-gray-400 text-yellow-600 mt-5 p-2 w-full text-lg" (click)="toggleDateModal()">

    <svg id="Icons" height="30" viewBox="0 0 74 74" width="30" class="inline align-middle mr-5"
      xmlns="http://www.w3.org/2000/svg">
      <path d="m43 23.99h-2.97a1 1 0 0 1 0-2h2.97a1 1 0 0 1 0 2z" />
      <path
        d="m70 72h-66a2 2 0 0 1 -2-2v-47.01a1 1 0 0 1 1-1h20.13a1 1 0 0 1 0 2h-19.13v46.01h66v-46.01h-20a1 1 0 0 1 0-2h21a1 1 0 0 1 1 1v47.01a2 2 0 0 1 -2 2z" />
      <path d="m33.03 23.99h-2.9a1 1 0 0 1 0-2h2.9a1 1 0 0 1 0 2z" />
      <path d="m43 23.99h-2.97a1 1 0 0 1 0-2h2.97a1 1 0 0 1 0 2z" />
      <path d="m23.13 23.99h-20.13a1 1 0 0 1 -1-1v-13a2 2 0 0 1 2-2h10.5a1 1 0 0 1 0 2h-10.5v12h19.13a1 1 0 0 1 0 2z" />
      <path d="m33.03 23.99h-2.9a1 1 0 0 1 0-2h2.9a1 1 0 0 1 0 2z" />
      <path d="m71 23.99h-21a1 1 0 0 1 0-2h20v-12h-10.5a1 1 0 0 1 0-2h10.5a2 2 0 0 1 2 2v13a1 1 0 0 1 -1 1z" />
      <path d="m53 9.99h-32a1 1 0 0 1 0-2h32a1 1 0 0 1 0 2z" />
      <path
        d="m58.771 15.988h-5.042a1.73 1.73 0 0 1 -1.729-1.729v-10.542a1.731 1.731 0 0 1 1.729-1.729h5.042a1.731 1.731 0 0 1 1.729 1.729v10.542a1.73 1.73 0 0 1 -1.729 1.729zm-4.771-2h4.5v-10h-4.5z" />
      <path
        d="m20.271 15.988h-5.042a1.73 1.73 0 0 1 -1.729-1.729v-10.542a1.731 1.731 0 0 1 1.729-1.729h5.042a1.731 1.731 0 0 1 1.729 1.729v10.542a1.73 1.73 0 0 1 -1.729 1.729zm-4.771-2h4.5v-10h-4.5z" />
      <path
        d="m61.653 38.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
      <path
        d="m46.986 38.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.683 1.683 0 0 1 1.681 1.68v5.306a1.683 1.683 0 0 1 -1.681 1.681zm-4.986-2h4.667v-4.667h-4.667z" />
      <path
        d="m32.32 38.328h-5.306a1.683 1.683 0 0 1 -1.681-1.681v-5.306a1.683 1.683 0 0 1 1.681-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.987-2h4.667v-4.667h-4.667z" />
      <path
        d="m61.653 51.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
      <path
        d="m46.986 51.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.683 1.683 0 0 1 1.681 1.68v5.306a1.683 1.683 0 0 1 -1.681 1.681zm-4.986-2h4.667v-4.667h-4.667z" />
      <path
        d="m32.32 51.328h-5.306a1.683 1.683 0 0 1 -1.681-1.681v-5.306a1.683 1.683 0 0 1 1.681-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.987-2h4.667v-4.667h-4.667z" />
      <path
        d="m17.653 51.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
      <path
        d="m46.986 64.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.683 1.683 0 0 1 1.681 1.68v5.306a1.683 1.683 0 0 1 -1.681 1.681zm-4.986-2h4.667v-4.667h-4.667z" />
      <path
        d="m32.32 64.328h-5.306a1.683 1.683 0 0 1 -1.681-1.681v-5.306a1.683 1.683 0 0 1 1.681-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.987-2h4.667v-4.667h-4.667z" />
      <path
        d="m17.653 64.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
    </svg>
    <span><a class=" relative top-1"> {{selectedDates || title}}</a></span>
  </button>
  <div class="flex justify-between mt-2 mb-2 w-full" *ngIf="apiLoaded">
    <span class="flex text-lg">Preis für {{nights}} Nächte
      <a class="relative mt-20 md:mt-0 ml-3" (mouseover)="this.tooltip_status1 = 1"
      (mouseout)="this.tooltip_status1 = -1">
      <div class="mr-2 cursor-pointer">
        <svg aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle"
          width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none"
          stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" />
          <circle cx="12" cy="12" r="9" />
          <line x1="12" y1="8" x2="12.01" y2="8" />
          <polyline points="11 12 12 12 12 16 13 16" />
        </svg>
      </div>
      <div *ngIf="tooltip_status1 == 1" role="tooltip"
        class="z-20 -mt-10 w-64 absolute transition left-0 ml-8 shadow-lg bg-gray-800 p-2 rounded flex flex-wrap">
        <svg class="absolute left-0 -ml-2 bottom-0 top-0 h-full" width="9px" height="16px" viewBox="0 0 9 16"
          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Tooltips-" transform="translate(-874.000000, -1029.000000)" fill="#2D3748">
              <g id="Group-3-Copy-16" transform="translate(850.000000, 975.000000)">
                <g id="Group-2" transform="translate(24.000000, 0.000000)">
                  <polygon id="Triangle"
                    transform="translate(4.500000, 62.000000) rotate(-90.000000) translate(-4.500000, -62.000000) "
                    points="4.5 57.5 12.5 66.5 -3.5 66.5">
                  </polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <p class="text-xs leading-4 text-white pb-3 ">Lorem
          ipsum dolor
          sit amet</p>
      </div>
    </a>
    </span>
    <span class="font-bold ">{{vehicle.aggregatedPrice | currency:'EUR' : 'symbol' : '1.0-0'}}</span>
  </div>
  <div class="flex justify-between mt-2 mb-2 w-full" *ngIf="apiLoaded">
    <span class="flex text-lg">Servicegebühr des Vermieters</span>
    <span class="font-bold ">{{vehicle.fee | currency:'EUR' : 'symbol' : '1.0-0'}}</span>
  </div>
  <div class="flex justify-between mt-2 mb-2 w-full">
    <span class="flex text-lg underline">zusätzliche Extras
      <!--Code Block for white tooltip starts-->
      <a class="relative mt-20 md:mt-0 ml-3" (mouseover)="this.tooltip_status = 1"
        (mouseout)="this.tooltip_status = -1">
        <div class="mr-2 cursor-pointer">
          <svg aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle"
            width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <circle cx="12" cy="12" r="9" />
            <line x1="12" y1="8" x2="12.01" y2="8" />
            <polyline points="11 12 12 12 12 16 13 16" />
          </svg>
        </div>
        <div *ngIf="tooltip_status == 1" role="tooltip"
          class="z-20 -mt-10 w-64 absolute transition left-0 ml-8 shadow-lg bg-gray-800 p-2 rounded flex flex-wrap">
          <svg class="absolute left-0 -ml-2 bottom-0 top-0 h-full" width="9px" height="16px" viewBox="0 0 9 16"
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Tooltips-" transform="translate(-874.000000, -1029.000000)" fill="#2D3748">
                <g id="Group-3-Copy-16" transform="translate(850.000000, 975.000000)">
                  <g id="Group-2" transform="translate(24.000000, 0.000000)">
                    <polygon id="Triangle"
                      transform="translate(4.500000, 62.000000) rotate(-90.000000) translate(-4.500000, -62.000000) "
                      points="4.5 57.5 12.5 66.5 -3.5 66.5">
                    </polygon>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <p class="text-xs leading-4 text-white pb-3 ">Lorem
            ipsum dolor
            sit amet</p>
        </div>
      </a>
      <!--Code Block for white tooltip ends-->
    </span>
    <span class="font-bold">{{this.totalExtraAmount| currency:'EUR' : 'symbol' : '1.0-0'}}</span>
  </div>
  <div class="flex justify-between mt-2 mb-2 w-full" *ngIf="apiLoaded">
    <span class="flex text-lg">WoBi-Gebühr</span>
    <span class="font-bold ">{{0 | currency:'EUR' : 'symbol' : '1.0-0'}}</span>
  </div>
  <div class="flex justify-between mt-2 mb-2 w-full">
    <span class="flex text-lg">Gesamtsumme</span>
    <span class="font-bold text-yellow-600">{{totalAmount + totalExtraAmount | currency:'EUR' : 'symbol' : '1.0-0'}}</span>
  </div>
  <div class="flex justify-between mt-2 mb-2 w-full" *ngIf="vehicle.isSmallBusiness && apiLoaded">
    <span class="flex text-sm">Kein Umsatzsteuerausweis gem. § 19 UStG (Kleinunternehmer)</span>
  </div>
  <div class="flex justify-between mt-2 mb-2 w-full" *ngIf="!vehicle.isSmallBusiness && apiLoaded">
    <span class="flex text-sm">Preis inkl. USt.</span>
  </div>
  <button class="border rounded-md bg-yellow-500 text-white mt-5 p-2 w-full text-lg" (click)="selectedDates? router.navigate(['/checkout' ] ) : toggleDateModal()">
    <svg class="inline align-middle mr-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1" id="Capa_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 927.198 927.197"
      style="enable-background:new 0 0 927.198 927.197;" xml:space="preserve">
      <g>
        <g>
          <path
            d="M833.52,209.923l35.354,35.355l15.219-15.218c26.319-26.32,26.319-69.146,0-95.468l-91.49-91.49    c-12.75-12.749-29.702-19.771-47.732-19.771c-18.031,0-34.982,7.021-47.732,19.771l-15.219,15.219l35.355,35.355l15.219-15.219    c3.307-3.306,7.702-5.127,12.378-5.127c4.677,0,9.072,1.821,12.378,5.127l91.489,91.489c6.825,6.825,6.825,17.932,0,24.757    L833.52,209.923z"
            fill="#FFFFFF" />
          <path
            d="M56.352,738.253C19.738,774.867-22.547,876.515,14.068,913.13c28.087,28.087,94.438,9.746,140.35-16.849    c3.323-1.926,6.224-6.597,6.425-10.432c1.565-29.888,5.461-74.824,5.461-74.824c0.013-1.5,0.896-2.383,2.396-2.396l80.602-1.767    c2.064-0.045,3.727-1.709,3.77-3.773l1.687-80.521c0.013-1.5,0.896-2.383,2.397-2.396c0,0,52.667-0.465,74.189-0.659    c4.97-0.045,11.85-2.931,15.364-6.444c16.873-16.869,64.503-64.495,108.976-108.966L323.093,471.511L56.352,738.253z"
            fill="#FFFFFF" />
          <path
            d="M851.197,262.956l-35.354-35.355L699.597,111.355L664.242,76l-62.757-62.756C592.656,4.415,581.083,0,569.511,0    c-11.572,0-23.146,4.415-31.975,13.244L304.464,246.316c-47.278,47.278-47.278,123.932,0,171.209l36.307,36.308l132.591,132.591    l36.31,36.309c23.639,23.64,54.621,35.459,85.604,35.459s61.966-11.819,85.604-35.459l233.073-233.071    c17.659-17.659,17.659-46.29,0-63.948L851.197,262.956z M575.087,494.239c-6.336,6.337-14.178,10.612-22.715,12.523    c-3.338,0.747-6.777,1.145-10.281,1.145c-12.467,0-24.186-4.854-32.998-13.669l-76.137-76.136    c-8.813-8.812-13.668-20.532-13.668-32.998c0-3.56,0.409-7.055,1.181-10.441c1.928-8.476,6.19-16.258,12.487-22.555    c8.813-8.814,20.532-13.668,32.997-13.668c12.466,0,24.186,4.854,32.998,13.668l3.092,3.092l69.621,69.622l3.423,3.423    c8.814,8.812,13.669,20.531,13.669,32.998C588.756,473.707,583.903,485.426,575.087,494.239z M804.553,355.884l-45.319,45.319    c-29.295,29.295-76.792,29.295-106.087,0L525.994,274.05c-29.295-29.295-29.295-76.792,0-106.087l45.319-45.319    c10.942-10.942,28.682-10.942,39.625,0l10.539,10.54L794.014,305.72l10.54,10.54C815.495,327.201,815.495,344.942,804.553,355.884    z"
            fill="#FFFFFF" />
          <path
            d="M477.74,373.321c-3.146-3.147-7.333-4.882-11.785-4.882c-4.45,0-8.637,1.733-11.783,4.882    c-3.147,3.147-4.882,7.333-4.882,11.783c0,4.452,1.733,8.639,4.882,11.785l76.136,76.136c3.146,3.147,7.333,4.882,11.785,4.882    c4.45,0,8.637-1.733,11.783-4.882c3.147-3.147,4.882-7.333,4.882-11.783c0-4.452-1.733-8.639-4.882-11.785L477.74,373.321z"
            fill="#FFFFFF" />
        </g>
      </g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
      <g></g>
    </svg>
    <span><a class=" relative top-1"> {{selectedDates? 'Jetzt Fahrzeug buchen' : title}}</a></span>
  </button>
  <button class="border rounded-md bg-gray-300 text-gray-600 mt-5 p-2 w-full text-lg">
    <svg class="inline align-middle mr-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 479.058 479.058" width="30"
      height="30" style="enable-background:new 0 0 512 512" xml:space="preserve">
      <g>
        <path xmlns="http://www.w3.org/2000/svg"
          d="m434.146 59.882h-389.234c-24.766 0-44.912 20.146-44.912 44.912v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159l-200.355 173.649-200.356-173.649c1.769-.736 3.704-1.159 5.738-1.159zm0 299.411h-389.234c-8.26 0-14.971-6.71-14.971-14.971v-251.648l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z"
          fill="#666" data-original="#000000" />
      </g>
    </svg>
    <span><a class=" relative top-1"> Unverbindlich anfragen</a></span>
  </button>
  <button class="border rounded-md text-gray-600 mt-5 p-2 w-full text-lg">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 inline-block mr-5 text-gray-400" fill="none"
      viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
    </svg>
    <span><a class=" relative top-1"> in Wunschliste sichern</a></span>
  </button>
</div>
<div class="block md:hidden bg-gray-100 px-4 fixed bottom-0 w-full">
    <div [hidden]="isShowDiv" class="reisedaten py-4">
        <div class="reisedaten-inner">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-9"><h4 class="font-bold text-sm leading-4">Reisedaten auswählen</h4></div>
                <div class="col-span-3 text-right"><a class="inline-block" (click)=toggleDisplayDiv()><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg></a></div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12">
                    <button class="border rounded-md border-gray-400 text-yellow-600 font-bold mt-2 p-2 w-full text-left text-md" (click)="toggleDateModal()">
                        <svg id="Icons" height="30" viewBox="0 0 74 74" width="30" class="inline align-middle mr-5"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="m43 23.99h-2.97a1 1 0 0 1 0-2h2.97a1 1 0 0 1 0 2z" />
                          <path
                            d="m70 72h-66a2 2 0 0 1 -2-2v-47.01a1 1 0 0 1 1-1h20.13a1 1 0 0 1 0 2h-19.13v46.01h66v-46.01h-20a1 1 0 0 1 0-2h21a1 1 0 0 1 1 1v47.01a2 2 0 0 1 -2 2z" />
                          <path d="m33.03 23.99h-2.9a1 1 0 0 1 0-2h2.9a1 1 0 0 1 0 2z" />
                          <path d="m43 23.99h-2.97a1 1 0 0 1 0-2h2.97a1 1 0 0 1 0 2z" />
                          <path d="m23.13 23.99h-20.13a1 1 0 0 1 -1-1v-13a2 2 0 0 1 2-2h10.5a1 1 0 0 1 0 2h-10.5v12h19.13a1 1 0 0 1 0 2z" />
                          <path d="m33.03 23.99h-2.9a1 1 0 0 1 0-2h2.9a1 1 0 0 1 0 2z" />
                          <path d="m71 23.99h-21a1 1 0 0 1 0-2h20v-12h-10.5a1 1 0 0 1 0-2h10.5a2 2 0 0 1 2 2v13a1 1 0 0 1 -1 1z" />
                          <path d="m53 9.99h-32a1 1 0 0 1 0-2h32a1 1 0 0 1 0 2z" />
                          <path
                            d="m58.771 15.988h-5.042a1.73 1.73 0 0 1 -1.729-1.729v-10.542a1.731 1.731 0 0 1 1.729-1.729h5.042a1.731 1.731 0 0 1 1.729 1.729v10.542a1.73 1.73 0 0 1 -1.729 1.729zm-4.771-2h4.5v-10h-4.5z" />
                          <path
                            d="m20.271 15.988h-5.042a1.73 1.73 0 0 1 -1.729-1.729v-10.542a1.731 1.731 0 0 1 1.729-1.729h5.042a1.731 1.731 0 0 1 1.729 1.729v10.542a1.73 1.73 0 0 1 -1.729 1.729zm-4.771-2h4.5v-10h-4.5z" />
                          <path
                            d="m61.653 38.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
                          <path
                            d="m46.986 38.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.683 1.683 0 0 1 1.681 1.68v5.306a1.683 1.683 0 0 1 -1.681 1.681zm-4.986-2h4.667v-4.667h-4.667z" />
                          <path
                            d="m32.32 38.328h-5.306a1.683 1.683 0 0 1 -1.681-1.681v-5.306a1.683 1.683 0 0 1 1.681-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.987-2h4.667v-4.667h-4.667z" />
                          <path
                            d="m61.653 51.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
                          <path
                            d="m46.986 51.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.683 1.683 0 0 1 1.681 1.68v5.306a1.683 1.683 0 0 1 -1.681 1.681zm-4.986-2h4.667v-4.667h-4.667z" />
                          <path
                            d="m32.32 51.328h-5.306a1.683 1.683 0 0 1 -1.681-1.681v-5.306a1.683 1.683 0 0 1 1.681-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.987-2h4.667v-4.667h-4.667z" />
                          <path
                            d="m17.653 51.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
                          <path
                            d="m46.986 64.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.683 1.683 0 0 1 1.681 1.68v5.306a1.683 1.683 0 0 1 -1.681 1.681zm-4.986-2h4.667v-4.667h-4.667z" />
                          <path
                            d="m32.32 64.328h-5.306a1.683 1.683 0 0 1 -1.681-1.681v-5.306a1.683 1.683 0 0 1 1.681-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.987-2h4.667v-4.667h-4.667z" />
                          <path
                            d="m17.653 64.328h-5.306a1.683 1.683 0 0 1 -1.68-1.681v-5.306a1.682 1.682 0 0 1 1.68-1.68h5.306a1.682 1.682 0 0 1 1.68 1.68v5.306a1.683 1.683 0 0 1 -1.68 1.681zm-4.986-2h4.666v-4.667h-4.666z" />
                        </svg>
                        <span><a class=" relative top-1"> {{selectedDates || title}}</a></span>
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12">
                    <button class="border rounded-md bg-gray-300 text-gray-600 mt-5 p-2 w-full text-md">
                        <span><a class=" relative font-bold"> Unverbindlich anfragen</a></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-3">
            <button class="text-gray-600 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 inline-block text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
            </button>
        </div>
        <div class="col-span-4 text-right my-2">
            <h3 class="text-yellow-500 font-bold text-xl leading-5 m-0">{{(vehicle.minPrice / 100) | currency:'EUR'}}  </h3>
            <h4 class="font-bold text-sm leading-4">pro Nacht</h4>
        </div>
        <div class="col-span-5"><button (click)=toggleDisplayDiv() class="bg-yellow-500 text-white p-2 w-full text-sm rounded my-2">Reisedaten</button></div>
    </div>
</div>

<tenant-calendar-overlay [isOpen]="calendarOverlayIsOpen" (updateData)="updateData($event)" (closed)="calendarOverlayIsOpen = false"
  (selectedDate)="selectedDates = $event" ></tenant-calendar-overlay>
<div *ngIf="calendarOverlayIsOpen" class="opacity-25 fixed inset-0 z-10 bg-black"></div>
