<fc-lib-show-more-section>
  <h1 class="text-xl md:text-3xl font-bold text-yellow-500" i18n="h1 Tech Details headline on vehicle detail site | headline describing the description section on the vehicle detail site @@in vehicle description">
    Technische Daten
  </h1>
  <div class="block md:flex content-start mb-5">
    <table *ngIf="vehicle" class="mb-5 md:mb-0 table-auto w-full md:w-auto md:inline-block">
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="manufacturer of vehicle || table discription for manufacturer row of tech details table"
          class="text-sm px-3 py-1">Herrsteller</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.manufacturer}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="model of vehicle || table discription for model row of tech details table" class="text-sm px-3 py-1">Modell
        </td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.model}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="construction year of vehicle || table discription for construction year row of tech details table"
          class="text-sm px-3 py-1">Baujahr</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.constructionYear}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="power of vehicle || table discription for power row of tech details table" class="text-sm px-3 py-1">Leistung
          PS/KW</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.power}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="fuel of vehicle || table discription for fuel row of tech details table" class="text-sm px-3 py-1">Treibstoff
        </td>
        <td class="text-sm font-bold px-3 py-1">{{getFuelName(vehicle.fuelId)}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="consumption of vehicle || table discription for consumption row of tech details table"
          class="text-sm px-3 py-1">
          Verbrauch</td>
        <td class="text-sm font-bold px-3 py-1">{{getConsumptionName(vehicle.consumptionId)}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td
          i18n="transportable weight of vehicle || table discription for transportable weight row of tech details table"
          class="text-sm px-3 py-1">Zuladung</td>
        <td class="text-sm font-bold px-3 py-1">{{getWeightName(vehicle.weightId)}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="text-sm gear of vehicle || table discription for gear row of tech details table" class=" px-3 py-1">Getribe
        </td>
        <td class="text-sm font-bold px-3 py-1">{{getGearName(vehicle.gearId)}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n=" dimension (height/length/width) of vehicle || table discription for dimension (height/length/width) row of tech details table"
          class="text-sm px-3 py-1">Fahrzeuggröße H/L/B</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.height + '/' + vehicle.length + '/' + vehicle.width }} cm
        </td>
      </tr>
    </table>

    <table *ngIf="vehicle" class=" table-auto block md:inline-block md:ml-5">
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="number of seats overall of vehicle || table discription for number of seamts overall row of tech details table"
          class="text-sm px-3 py-1">Sitzplätze Gesammt</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.numSeatsOverall}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td
          i18n="number of 3 point seats of vehicle || table discription for number of 3 point seats row of tech details table"
          class="text-sm px-3 py-1">Sitzplätze mit 3-Punktgurt</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.numSeats3Point}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td
          i18n="number of lap belt seats of vehicle || table discription for number of lap belt seats row of tech details table"
          class="text-sm px-3 py-1">Sitzplätze mit Beckengurt</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.numSeatsLap}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td
          i18n="number of lap belt seats of vehicle || table discription for number of lap belt seats row of tech details table"
          class="text-sm px-3 py-1">Sitzplätze mit Iso-Fix</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.numSeatsIsofix}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td i18n="beds overall of vehicle || table discription for beds overall row of tech details table"
          class="text-sm px-3 py-1">Schlafplätze</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.numBedsOverall}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td
          i18n="lessor recomendation beds for adults of vehicle || table discription for lessor recomendation beds for adults row of tech details table"
          class="text-sm px-3 py-1">Vermieterempfehlung für Erwachsene
        </td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.numBedsComfort}}</td>
      </tr>
      <tr class=" bg-white even:bg-gray-200">
        <td
          i18n="lessor recomendation beds for kids of vehicle || table discription for lessor recomendation beds for kids row of tech details table"
          class="text-sm px-3 py-1">
          Vermiertempfehlung Kinder</td>
        <td class="text-sm font-bold px-3 py-1">{{vehicle.numBedsComfortKids}}</td>
      </tr>
      <tr *ngFor="let bed of vehicle.beds; let i = index" class=" bg-white even:bg-gray-200">
        <td i18n="one bed of the vehicle || table discription for one bed row of tech details table" class="text-sm px-3 py-1">
          Bett
          {{i + 1}} {{getBedsDesignation(bed.designation)}} L/B</td>
        <td class="text-sm font-bold px-3 py-1">{{bed.length + '/' + bed.width}}cm</td>
      </tr>
    </table>

  </div>
</fc-lib-show-more-section>
