<fc-lib-card [rounded]="true">
    <fc-lib-card-header class="text-left">Dokumente</fc-lib-card-header>
    <fc-lib-card-content>
      <app-document-list
        [docs$]="documents$"
        (documentCreateEvent)="documentCreateEvent($event)"
        (documentDeleteEvent)="onDocumentDelete($event)"
      ></app-document-list>
    </fc-lib-card-content>
  </fc-lib-card>