<span class="bg-white flex text-gray-500 p-2" i18n="dashboard headline | the headline of the dashboard page">
  Dashboard
</span>

<div class=" hidden md:grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1" >
  <!-- bookings-card -->
  <div class="h-auto p-10">
    <div class="bg-white rounded p-5">
      <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
        <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
          [inline]="false">car_rental</fc-lib-icon>
      </div>
      <div class="text-yellow-500 h-auto pt-5">
        <span class="font-black text-5xl">1</span>
      </div>
      <div class="pt-5 flex relative">
        <a href="" class="font-bold uppercase  align-middle pr-7 break-all" i18n="booking-link in booking card on dashboard | a link on the dashboard to take you to the booking page">
          Buchungsanfragen
        </a>
        <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
          <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
        </a>
      </div>
    </div>
  </div>
  <!-- notifications-card -->
  <div class="h-auto p-10">
    <div class="bg-white rounded p-5">
      <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
        <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
          [inline]="false">notifications</fc-lib-icon>
      </div>
      <div class="text-yellow-500 h-auto pt-5">
        <span class="font-black text-5xl">2</span>
      </div>
      <div class="pt-5  flex relative">
        <a href="" class="font-bold uppercase  align-middle pr-7 break-all" i18n="link-to-notifications on dashboard | a link on the dashboard page to take you to the notificationspage">
          Mitteilungen
        </a>
        <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
          <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
        </a>
      </div>
    </div>
  </div>
  <!-- revenue-card -->
  <div class="h-auto p-10">
    <div class="bg-white rounded p-5">
      <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
        <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
          [inline]="false">euro</fc-lib-icon>
      </div>
      <div class="text-yellow-500 h-auto pt-5">
        <span class="font-black text-5xl">1.429€</span>
      </div>
      <div class="pt-5  flex relative">
        <a href="" class="font-bold uppercase  align-middle pr-7 break-words" i18n="link-to-revenue on dashboard | a link on the dashboard page to take you to the revenue page">
          Aktuelle Umsätze
        </a>
        <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
          <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
        </a>
      </div>
    </div>
  </div>
  <!-- vehicles-card -->
  <div class="h-auto p-10">
    <div class="bg-white rounded p-5">
      <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
        <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
          [inline]="false">airport_shuttle</fc-lib-icon>
      </div>
      <div class="text-yellow-500 h-auto pt-5">
        <span class="font-black text-5xl">12</span>
      </div>
      <div class="pt-5  flex relative">
        <a href="" class="font-bold uppercase  align-middle pr-7 break-all" i18n="link-to-vehicles on dashboard | a link on the dashboard page to take you to the vehicles page">
          Fahrzeuge
        </a>
        <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
          <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col bg-white m-auto p-auto md:hidden">
  <div class="flex overflow-x-scroll bg-gray-200">
    <div class="flex flex-nowrap">
      <!-- bookings-card -->
      <div class=" w-80 h-auto p-10 ">
        <div class="bg-white rounded p-5">
          <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
            <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
              [inline]="false">car_rental</fc-lib-icon>
          </div>
          <div class="text-yellow-500 h-auto pt-5">
            <span class="font-black text-5xl">1</span>
          </div>
          <div class="pt-5  flex relative">
            <a href="" class="font-bold uppercase  align-middle pr-7 break-all" i18n="link-to-bookings on dashboard | a link on the dashboard page to take you to the bookings page">
              Buchungsanfragen</a>
            <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
              <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- notifications-card -->
      <div class="w-80  h-auto p-10 ">
        <div class="bg-white rounded p-5">
          <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
            <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
              [inline]="false">notifications</fc-lib-icon>
          </div>
          <div class="text-yellow-500 h-auto pt-5">
            <span class="font-black text-5xl">2</span>
          </div>
          <div class="pt-5  flex relative">
            <a href="" class="font-bold uppercase  align-middle pr-7 break-all" i18n="link-to-notifications on dashboard | a link on the dashboard page to take you to the notifications page">
              Mitteilungen</a>
            <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
              <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- revenue-card -->
      <div class="w-80  h-auto p-10 ">
        <div class="bg-white rounded p-5">
          <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
            <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
              [inline]="false">euro</fc-lib-icon>
          </div>
          <div class="text-yellow-500 h-auto pt-5">
            <span class="font-black text-5xl">1.429€</span>
          </div>
          <div class="pt-5  flex relative">
            <a href="" class="font-bold uppercase  align-middle pr-7 break-words" i18n="link-to-revenue on dashboard | a link on the dashboard page to take you to the revenue page">
              Aktuelle Umsätze</a>
            <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
              <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- vehicles-card -->
      <div class="w-80  h-auto p-10 ">
        <div class="bg-white rounded p-5">
          <div class="flex bg-gray-200 rounded-full h-32 w-32 m-auto">
            <fc-lib-icon class=" self-center m-auto text-gray-700" style="font-size: 64px; width: 64px; height:64px;"
              [inline]="false">airport_shuttle</fc-lib-icon>
          </div>
          <div class="text-yellow-500 h-auto pt-5">
            <span class="font-black text-5xl">12</span>
          </div>
          <div class="pt-5  flex relative">
            <a href="" class="font-bold uppercase  align-middle pr-7 break-all" i18n="link-to-vehicles on dashboard | a link on the dashboard page to take you to the vehicles page">Fahrzeuge</a>
            <a href="" class="font-bold uppercase align-middle absolute right-0 bottom-0">
              <fc-lib-icon class=" text-red-500">arrow_forward</fc-lib-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- News -->
<div class=" bg-white pt-12">
  <div class="flex w-full pb-1">
    <span class=" ml-5 bold flex-start font-bold" i18n="subheadline news and updates on dashboard | subheadline for news and headlines sesction on the dashboard">
      News & Updates</span>
    <span class=" mr-5 flex-end underline ml-auto text-gray-400" i18n="link-to-all-news on dashboard | a link on the dashboard page to take you to the news and update page">
      > Alle anzeigen
    </span>
  </div>
  <hr class="mx-5">
  <div class="grid gap-10 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="p-5 ">
      <div class="w-80 m-auto">
        <div class=" h-56 w-80 bg-gray-400">
          IMAGE
        </div>
        <div class=" h-20 w-80 bg-gray-200 flex">
          <span class="p-2 text-center align-middle m-auto self-center bold"> Neuste Platform Upgrades</span>
        </div>
      </div>
    </div>
    <div class="p-5 ">
      <div class="w-80 m-auto">
        <div class=" h-56 w-80 bg-gray-400">
          IMAGE
        </div>
        <div class=" h-20 w-80 bg-gray-200 flex">
          <span class="p-2 text-center align-middle m-auto self-center bold"> WoBi Video Ratgeber</span>
        </div>
      </div>
    </div>
    <div class="p-5 ">
      <div class="w-80 m-auto">
        <div class=" h-56 w-80 bg-gray-400">
          IMAGE
        </div>
        <div class=" h-20 w-80 bg-gray-200 flex">
          <span class="p-2 text-center align-middle m-auto self-center bold"> Umsätze steigern leicht gemacht</span>
        </div>

      </div>
    </div>
  </div>
</div>
