<div *ngIf="!showForm" class="grid grid-cols-6 gap-4">
  <ng-container *ngFor="let person of persons$ | async; let i = index">
    <div>{{ person?.name }}</div>
    <div>{{ person?.surname }}</div>
    <div>{{ findAccountRoleById(person?.accountRoleId) }}</div>
    <div>{{ person?.email }}</div>
    <button (click)="editPerson(person)">
      <fc-lib-icon [icon]="'edit'"> </fc-lib-icon>
    </button>

    <button (click)="deletePerson(person)">
      <fc-lib-icon [icon]="'close'"> </fc-lib-icon>
    </button>
  </ng-container>
</div>
<app-person-form
  *ngIf="showForm"
  [person]="selectedPerson"
  [saveEvent]="saveEvent"
  (personOut)="onPersonCreate($event)"
  (status)="onFormStatus($event)"
></app-person-form>

<fc-lib-button
  [disabled]="!isFormValid"
  type="button"
  *ngIf="showForm"
  (click)="savePersonsList()"
>
  Speichern
</fc-lib-button>
<fc-lib-button
  type="button"
  *ngIf="showForm"
  (click)="backToList()"
>
  Zurück
</fc-lib-button>
<fc-lib-button
  *ngIf="!showForm"
  (click)="createPerson()"
>
  Hinzufügen
</fc-lib-button>
