

<fc-lib-card [rounded]="true" [color]="'orange-500'">
    <fc-lib-card-header [color]="'orange-500'" class="lg:text-3xl md:text-3xl sm:text-xl" i18n="replace_me">
        Deine Personendaten
    </fc-lib-card-header>
            
        <fc-lib-card-content [color]="'orange-500'">
            <form [formGroup]="signupForm" required class="mx-auto justify-center items-center max-w-3xl">

                <fieldset formGroupName="tenantAccount">
                    <div class="grid grid-cols-12 sm:mb-5 mt-4 font-normal">

                        <div class="col-span-full mb-2">Anrede*</div>
                        <fc-lib-radio-button
                            [radioValue]="'male'"
                            
                            [name]="'test'"
                            class="col-span-2"
                            >
                            <span class="ml-3" label>Herr</span>
                        </fc-lib-radio-button>

                        <fc-lib-radio-button
                            [radioValue]="'female'"
                           
                            [name]="'test'"
                            class="col-span-2"
                            >
                            <span class="ml-3" label>Frau</span>
                        </fc-lib-radio-button>

                        <fc-lib-radio-button
                            [radioValue]="'diverse'"
                            
                            [name]="'test'"
                            class="col-span-3"
                            >
                            <span class="ml-3" label>Divers</span>
                        </fc-lib-radio-button>

                        <div class="col-span-5"></div>

                        <fc-lib-text-input formControlName="" class="col-span-6 mr-7" [placeholder]="'z.B: Max'">
                            <span label>Vorname*</span>
                            <span *ngIf="getAccount.get('name')?.invalid && getAccount.get('name')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-text-input>
                        
                        <fc-lib-text-input formControlName="" class="col-span-6" [placeholder]="'z.B: Max'">
                            <span label>Name*</span>
                            <span *ngIf="getAccount.get('surname')?.invalid && getAccount.get('surname')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-text-input>

                        <fc-lib-text-input formControlName="street" class="col-span-6 mr-7" [placeholder]="'z.B: Hamburger Straße'">
                            <span label>Straße und Hausnummer*</span>
                            <span *ngIf="getAccount.get('street')?.invalid && getAccount.get('street')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-text-input>
        
                        <fc-lib-text-input formControlName="postalCode" class="col-span-2 mr-7" [placeholder]="'z.B: 22340'">
                            <span label>Postleitzahl*</span>
                            <span *ngIf="getAccount.get('postalCode')?.invalid && getAccount.get('postalCode')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-text-input>
        
                        <fc-lib-text-input formControlName="city" class="col-span-4" [placeholder]="'z.B: Hamburg'">
                            <span label>Ort*</span>
                            <span *ngIf="getAccount.get('city')?.invalid && getAccount.get('city')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-text-input>
        
                        <fc-lib-text-input formControlName="country" class="col-span-4 mr-7" [placeholder]="'z.B: Deutschland'">
                            <span label>Land*</span>
                            <span *ngIf="getAccount.get('country')?.invalid && getAccount.get('country')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-text-input>
        
                        <fc-lib-datepicker formControlName="birthday" class="col-span-4 mr-7" min="{{min}}" max="{{max}}" [disabled]="disabledDate">
                            <span class="font-normal" label>Geburtsdatum*</span>
                            <span *ngIf="getAccount.get('birthday')?.invalid && getAccount.get('birthday')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-datepicker>
                
                        <fc-lib-text-input formControlName="phone" class="col-span-4" [placeholder]="'z.B: 040123131'">
                            <span label>Telefonnummer*</span>
                                <span *ngIf="getAccount.get('mobilePhone')?.invalid && getAccount.get('mobilePhone')?.touched" error>Dieses Feld ist erforderlich!</span>
                        </fc-lib-text-input>

                        <div class="flex col-span-full mt-8">
                            <div class="w-full">
                                <p class="font-normal">E-mail-Adresse</p>
                            </div>
                        </div>

                        <div class="flex col-span-full mt-2.5">
                            <div class="w-full">
                                <p class="font-light">emailadress@email.de</p>
                            </div>
                            <div class="w-full">
                            <p class="font-light text-right">*Pflichtfelder</p>
                            </div>
                        </div>


                    </div>
                </fieldset>
            </form>
        </fc-lib-card-content>
    <fc-lib-card-footer>
        
        
        <fc-lib-button
            *ngIf="isSignupPage" 
            [disabled]="!signupForm.valid" 
            [color]="'basic'"
            [fill]="false"
            (click)="submit()">
            <span>Registrieren</span>
        </fc-lib-button>

        <div class="flex w-full mb-8">
            <fc-lib-button
            *ngIf="!isSignupPage"
            class="mx-auto"
            [color]="'secondary'"
            [fill]="false"
            (click)="editPersonalData()">
            <span>DATEN ÄNDERN</span>
            </fc-lib-button>
        </div>
      
    </fc-lib-card-footer>
</fc-lib-card>







<!-- Altes Modell trifft - nicht das momentane Design -->
<!-- <fc-lib-card [rounded]="true">
    <fc-lib-card-header class="text-center">
        <div class="flex">Mieterdaten    
            <span>
                <svg *ngIf="getAccount?.invalid" class="h-6 w-6 ml-2 mt-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <line class="text-red-500" x1="18" y1="6" x2="6" y2="18" /> 
                    <line class="text-red-500" x1="6" y1="6" x2="18" y2="18" />
                </svg>
                <svg *ngIf="getAccount?.valid" class="h-6 w-6 text-green-600 ml-2 mt-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> 
                    <path d="M5 12l5 5l10 -10" />
                </svg>
            </span>
        </div>
    </fc-lib-card-header>
            
        <fc-lib-card-content>
            <form [formGroup]="signupForm" required class="mx-auto justify-center items-center max-w-3xl">
                <fieldset formGroupName="tenantAccount">

                <fc-lib-text-input formControlName="street" [placeholder]="'z.B: Hamburger Straße'">
                    <span label>Straße*</span>
                    <span *ngIf="getAccount.get('street')?.invalid && getAccount.get('street')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="streetNumber" [placeholder]="'z.B: 23c'">
                    <span label>Hausnummer*</span>
                    <span *ngIf="getAccount.get('streetNumber')?.invalid && getAccount.get('streetNumber')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="postalCode" [placeholder]="'z.B: 22340'">
                    <span label>Postleitzahl*</span>
                    <span *ngIf="getAccount.get('postalCode')?.invalid && getAccount.get('postalCode')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="city" [placeholder]="'z.B: Hamburg'">
                    <span label>Ort*</span>
                    <span *ngIf="getAccount.get('city')?.invalid && getAccount.get('city')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="country" [placeholder]="'z.B: Deutschland'">
                    <span label>Land*</span>
                    <span *ngIf="getAccount.get('country')?.invalid && getAccount.get('country')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-datepicker formControlName="birthday" min="{{min}}" max="{{max}}" [disabled]="disabledDate">
                    <span label>Geburtsdatum*</span>
                    <span *ngIf="getAccount.get('birthday')?.invalid && getAccount.get('birthday')?.touched" error>Dieses Feld ist erforderlich!</span>
                  </fc-lib-datepicker>
        

                <fc-lib-text-input formControlName="mobilePhone" [placeholder]="'z.B: 01234131312'">
                    <span label>Handynummer*</span>
                    <span *ngIf="getAccount.get('mobilePhone')?.invalid && getAccount.get('mobilePhone')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                <fc-lib-text-input formControlName="phone" [placeholder]="'z.B: 040123131'">
                        <span label>Telefonnummer (optional)</span>
                        <span *ngIf="getAccount.get('phone')?.invalid && getAccount.get('phone')?.touched" error>Dieses Feld ist erforderlich!</span>
                </fc-lib-text-input>

                </fieldset>
            </form>
        </fc-lib-card-content>
    <fc-lib-card-footer>

        <fc-lib-button [disabled]="!signupForm.valid" 
                        [color]="'basic'"
                        [fill]="false"
                        (click)="submit()">
            <span>Registrieren</span>
        </fc-lib-button>

      
    </fc-lib-card-footer>
</fc-lib-card> -->