.image-upload-gallery {
	background-color: #fff;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 15px;
	margin-bottom: 15px;
}

.new-image-gallery-button {
	box-sizing: border-box;
	padding: 10px;
	height: 170px;
	width: 170px;
	font-size: 56px;
	border-radius: 15px;
	border: 1px solid #999;
	margin: 15px;
}
.new-image-gallery-button :hover {
	cursor: pointer;
	font-size: 70px;
}

.hide {
	display: none;
}

.center {
	text-align: center;
	padding: 70px 0;
}

.upload-input-label {
	float: left;
}

.upload-gallery-img {
  float: left;
  width: 170px;
  height: 170px;
  position: relative;
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;


}

.upload-gallery-img img {
  height: 170px;
}
.upload-gallery-img:hover {
	cursor: pointer;
}

.close-overlay {
	position: absolute;
	right: 5%;
}

.preview-image {
	display: block;
	margin: auto;
	width: 100%;
}

.preview-container {
	display: inline-block;
	width: 100%;
}
