<div class= "image-upload-gallery">

  <input id="upload-input" class="hide" type="file"  (input)="fileChangeEvent($event)" [(ngModel)]="fileChangedInputValue"/>
  <label for="upload-input" class="upload-input-label">
      <div class ="new-image-gallery-button center" mat-raised-button>
          <fc-lib-icon style="height:24px" [icon]="'upload'"></fc-lib-icon>
          <span style="font-size: medium;">Upload new Image</span>
      </div>
  </label>
  <div *ngFor="let image of images" class="upload-gallery-img">
    <img [src]="getImageURL(image)"
    (click)="showIMG(image)">
  </div>
</div>
<div class="preview-container">
  <button *ngIf="showImage" mat-mini-fab (click)="closeImagePreview()" class="close-overlay">
    <fc-lib-icon [icon]="'close'"></fc-lib-icon>
  </button>
  <img *ngIf="showImage" [src]="imgPreviewUrl" class="preview-image">
</div>

<lessor-image-upload *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent" (imageSaved)="imageAdded($event)"></lessor-image-upload>
