.seasoncollection {
	display: flex;
	flex-direction: column;

	&-bar {
		padding-bottom: 1em;
	}

	&-zoom {
		margin-left: auto;
	}

	&-periods {
		&__row {
			display: flex;
			justify-content: center;
			> * {
				padding-left: 2em;
			}
		}

		@media (max-width: 480px) {
			&__row {
				display: flex;
				flex-direction: row;

				> * {
					padding-left: 0.5em;
				}

				&__select {
					width: 80%;
					max-width: 20vw;
				}
			}
		}
	}

	&-controls {
	}
}
