<form [formGroup]="seasonForm" class="flex flex-row">
  <div>
    <fc-lib-select formControlName="priceLevel" [value]="season.priceLevel">
      <option
        *ngFor="let priceLevel of priceLevels"
        [value]="priceLevel.id"
        [selected]="priceLevel.id === season.priceLevel.id"
      >
        {{ priceLevel.name }}
      </option>
    </fc-lib-select>
  </div>
  <div>
    <fc-lib-datepicker
      formControlName="from"
      placeholder="Startdatum"
    ></fc-lib-datepicker>
  </div>
  <div>
    <fc-lib-datepicker
      placeholder="Enddatum"
      formControlName="to"
    ></fc-lib-datepicker>
  </div>
  <div>
    <fc-lib-button
      *ngIf="!createMode"
      (click)="deleteSeason.emit()"
      [disabled]="lastSeason"
    >
      löschen
    </fc-lib-button>
  </div>
  <fc-lib-button
    *ngIf="createMode"
    (click)="submit()"
    i18n="
      create-button season | button to create a season and submit the needed
      form @@season-create-dialog_create-button"
  >
    Erstellen
  </fc-lib-button>
  <fc-lib-button
    *ngIf="createMode"
    (click)="cancelSeasonForm()"
    i18n="
      cancel-button season | button to cancle and close the season creation
      dialog @@season-create-dialog_cancle-button"
  >
    Abbrechen
  </fc-lib-button>
</form>
