<div class="justify-center items-center mt-6 max-w-4xl mx-auto">
    
    <fc-lib-card *ngIf="!showForm" [rounded]="true">
        <fc-lib-card-header class="text-center">Was für einen Account möchten Sie registrieren?</fc-lib-card-header>
            <fc-lib-card-content>
                <div class="flex justify-center items-center">
        
                    <div class="m-2">
                        <fc-lib-button 
                        [color]="'basic'"
                        [fill]="false"
                        (click)="showChoosenForm('tenant')">
                        <span>Mieter</span>
                        </fc-lib-button>
                    </div>
        <p>oder</p>
                    <div class="m-2">
                        <fc-lib-button
                        [color]="'basic'"
                        [fill]="false"
                        (click)="showChoosenForm('lessor')">
                        <span>Vermieter</span>
                        </fc-lib-button>
                    </div>
                </div>
            </fc-lib-card-content>
        
            <fc-lib-card-footer>
                <div *ngIf="!showForm" class="justify-center text-center">
                    <p >Footer hier.</p> 
                </div>
            </fc-lib-card-footer>    
    </fc-lib-card>

    <app-tenant-form *ngIf="showTenantForm" (outputSignup)="onTenantSignup($event)"></app-tenant-form>
    <app-lessor-form *ngIf="showLessorForm"></app-lessor-form>

</div>
