<fc-lib-table [columns]="columns" [endOfResults]="true" [formGroup]="optionalEquipmentForm">
    <div
    formArrayName="optionalFormArray"
          *ngFor="let optionalItem of optionalEquipment;let i = index"
          class="table-row even:bg-gray-100 odd:bg-gray-200"
          content
        >
        <div class="table-cell px-5 py-1">{{optionalItem.categoryName}}</div>
        <div class="table-cell px-5 py-1">{{optionalItem.name}}</div>
        <div class="table-cell px-5 py-1">{{optionalItem.description}}</div>
        <div class="table-cell px-5 py-1" [formGroupName]="i">
            <input type="checkbox" formControlName="isChecked" (change)="onSelectOptionalEquipment(optionalItem)">
            <button class="">
                <fc-lib-icon [icon]="'edit'" (click)="editOptionalEquipment(optionalItem)"></fc-lib-icon>
            </button>
            <button class="">
                <fc-lib-icon [icon]="'delete'" (click)="deleteOptionalEquipment()"></fc-lib-icon>
            </button>
        </div>
    </div>
</fc-lib-table>