<form *ngIf="vehicleForm" [formGroup]="vehicleForm">
	<div class=" grid grid-cols-12 gap-4">
		<!-- Manufactor -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
				<fc-lib-select formControlName="manufacturerId" [valueType]="'number'">
          <span label i18n="replace_me">Hersteller
          </span>
					<option *ngFor="let mf of manufacturers" [value]="mf.id" [selected]="mf.id === manufacturerId.value">{{ mf.name }}</option>
          <span hint i18n="replace_me"
          *ngIf="manufacturerId.pristine">Hersteller</span>
          <span error i18n="replace_me">
            muss angegeben werden
          </span>
				</fc-lib-select>
			</div>
		</div>
		<!-- Model -->
		<div class =" col-span-12 md:col-span-6">
			<div appearance="standard" class="full-width p15">
        <fc-lib-text-input formControlName="model">
          <span label
            i18n="replace_me">
            Model</span>
        </fc-lib-text-input>
			</div>
		</div>
		<!-- construction year -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div class="full-width p15">
        <fc-lib-number-input formControlName="constructionYear" class="border-0">
          <span label
            i18n="replace_me">
            Baujahr
          </span>
          <span hint *ngIf="!constructionYear.pristine && constructionYear.errors === null" style="color: green"
            i18n="
                year of construction for input field|vehicle description field error@@lessor_fc-vehicle-metadata-form_year-of-construction-hint-correct">Correct
          </span>
          <span error i18n="year of construction for input field error| will be shown to the user when input is
                invalid@@lessor_fc-vehicle-basis-data-form_year-of-construction-error" *ngIf="constructionYear.invalid">
            muss zwischen 1950 - heute sein
          </span>
        </fc-lib-number-input>
			</div>
		</div>


		<!-- weightId -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
        <fc-lib-select formControlName="weightId" [valueType]="'number'">
          <span label i18n="replace_me">Gewicht
          </span>
					<option *ngFor="let weight of weightValues" [value]="weight.id === weightId.value">{{ weight.name }}</option>
          <span error
            i18n="replace_me"
            *ngIf="weightId.invalid">
            muss angegeben werden
          </span>
				</fc-lib-select>
			</div>
		</div>

		<!-- payload -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
        <fc-lib-number-input formControlName="payload">
          <span label i18n="replace_me">Zuladung in kg
          </span>
          <span error *ngIf="payload.hasError('required')"
            i18n="replace_me">
            muss angegeben werden
          </span>
          <span error i18n="replace_me"
            *ngIf="(payload.hasError('min') || payload.hasError('max')) && !payload.hasError('required')">
            Zuladung ist zu niedrig. 20-2000 kg sind erlaubt.
          </span>
        </fc-lib-number-input>
			</div>
		</div>

		<!-- power -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div class=" flex p15">
				<div appearance="standard" class="" style="flex-grow: 1">
					<fc-lib-number-input formControlName="power">
            <span label i18n="replace_me">
              Leistung KW/PS
            </span>
            <span hint>
              <span *ngIf="powerMode.value === 'PS'" i18n="replace_me">KWS =</span>
              <span *ngIf="powerMode.value !== 'PS'" i18n="replace_me">PS =</span>
              {{powerMath()}}
            </span>
            <span error *ngIf="power.hasError('required')"
              i18n="replace_me">
              Muss angegeben werden
            </span>
            <span error i18n="replace_me"
              *ngIf="(power.hasError('max') || power.hasError('min') ) && !power.hasError('required')">
              1-999 PS/KWS sind erlaubt.
            </span>
          </fc-lib-number-input>
				</div>
				<div appearance="standard" class="" style="max-width:110px">

					<fc-lib-select formControlName="powerMode">
            <span label i18n="replace_me"></span>
						<option [value]="'PS'" selected>PS</option>
						<option [value]="'KWS'">KWS</option>
					</fc-lib-select>
				</div>
			</div>
		</div>

		<!-- gearId options -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
				<fc-lib-select formControlName="gearId" [valueType]="'number'">
          <span label i18n="replace_me">Getriebe
          </span>
					<option *ngFor="let gear of gearValues" [value]="gear.id" [selected]="gear.id === gearId.value">{{ gear.name }}</option>
          <span error *ngIf="gearId.hasError('required')"
            i18n="replace_me">
            Muss angegeben werden
          </span>
        </fc-lib-select>
			</div>

		</div>

		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<!-- fuelId options -->
			<div appearance="standard" class="full-width p15">
        <fc-lib-select formControlName="fuelId" [valueType]="'number'">
          <span label i18n="replace_me">Treibstoff</span>
					<option *ngFor="let fuelVal of fuelValues" [value]="fuelVal.id" [selected]="fuelVal.id === fuelId.value">{{ fuelVal.name }}</option>
          <span error *ngIf="fuelId.hasError('required')"
            i18n="replace_me">
            Muss angegeben werden
          </span>
				</fc-lib-select>
			</div>
		</div>


		<!-- consumptionId options -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
        <fc-lib-select formControlName="consumptionId" [valueType]="'number'">
          <span label i18n="replace_me">
            Verbrauch / 100km</span>
					<option *ngFor="let consVal of consumptionValues" [value]="consVal.id" [selected]="consVal.id === consumptionId.value">{{ consVal.name }}</option>
          <span error *ngIf="consumptionId.hasError('required')"
            i18n="replace_me">
            Muss angegeben werden
          </span>
				</fc-lib-select>
			</div>
		</div>


		<!-- measurements options -->
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
        <fc-lib-number-input formControlName="length">
          <span label i18n="replace_me">Länge in cm</span>
          <span error i18n="replace_me"
            *ngIf="length.invalid">
            Länge muss zwischen 300-1400 cm angegeben werden
          </span>
        </fc-lib-number-input>
			</div>
		</div>
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
        <fc-lib-number-input formControlName="width">
          <span label i18n="replace_me">Breite in cm</span>
          <span error i18n="
                            hint for width infc-lib-seleput field|msg when value is too low@@lessor_fc-vehicle-tech-form_vehicle-width-hint-toolow"
            *ngIf="width.invalid">
            Breite muss zwischen 180-320 cm angegeben werden
          </span>
        </fc-lib-number-input>
			</div>
		</div>
		<div class =" col-span-12 md:col-span-6 xl:col-span-3">
			<div appearance="standard" class="full-width p15">
        <fc-lib-number-input formControlName="height" >
          <span hint label i18n="replace_me">Höhe in cm
          </span>
          <span error i18n="replace_me"
            *ngIf="height.invalid">
            Höhe muss zwischen 150-400 cm angegeben werden
          </span>
        </fc-lib-number-input>
			</div>
		</div>
	</div>
</form>
