<h3>Ausstattung mit optionalen Zubehör verknüpfen</h3>
<fc-lib-button *ngIf="!showForm" (click)="showForm = !showForm">
  optionales Zubehör anlegen
</fc-lib-button>
<app-optional-equipment-form
  *ngIf="showForm"
  [optionalEquipmentCategories]="categories | async"
  [mode]="formModes.CreateCategoriesPreselected"
  [selectedStationId]="stationId"
  [optionalEquipment]="linkedOptionalEquipment"
  (submitOptionalEquipment)="onOptionalEquipmentCreate($event)"
></app-optional-equipment-form>
<app-equipment-link-select
  [optionalEquipment]="optionalEquipment"
  (selectionChange)="onSelectedOptionalEquipmentId($event)"
>
</app-equipment-link-select>

<fc-lib-button [color]="'basic'" [fill]="false" (click)="goBack()" rounded>
  Zurück
</fc-lib-button>
