
<fc-lib-card *ngIf="equipmentCategories.length > 0" [rounded]="true" [color]="'standard'">
  <fc-lib-card-header [color]="'standard'" i18n="replace_me">Optionales Zubehör</fc-lib-card-header>
  <div *ngFor="let equipmentCategory of equipmentCategories;" class=" odd:bg-blue-50 even:bg-white">
    <fc-lib-card-content [color]="'standard'" >
      <div class="md:-m-5 py-5 md:px-5 text-xl" >
        <div class=" w-full text-lg md:text-2xl text-orange-500 font-bold">
          {{equipmentCategory.categoryName}}
        </div>
        <fc-lib-card-content-header >
          <div class="hidden md:grid grid-cols-7 ">
            <div class=" col-span-3" i18n="replace_me">Option</div>
            <div class=" col-span-1 text-center" i18n="replace_me">Auswahl</div>
            <div class=" col-span-2 text-center" i18n="replace_me">Preis</div>
            <div class=" col-span-1 text-center" i18n="replace_me">Summe</div>
          </div>
          <div class="md:hidden grid grid-cols-9 ">
            <div class=" col-span-6" i18n="replace_me">Option/Preis</div>
            <div class=" col-span-3 text-center" i18n="replace_me">Auswahl/Summe</div>
          </div>
        </fc-lib-card-content-header>
        <div class="mt-4">
          <div *ngFor="let equipment of equipmentCategory.equipments; let i = index" class="grid md:grid-cols-7 grid-cols-9">
            <div class="col-span-6 md:col-span-3">
              <h3 class=" text-blue-900 text-base md:text-lg font-medium">
                {{equipment.name}}
              </h3>
              <span class=" text-gray-500 text-xs md:text-sm font-light">
                {{equipment.description}}
              </span>
            </div>
            <div *ngIf="equipment.priceTypeId === 3 || equipment.priceTypeId === 4" class="col-span-3 md:col-span-1 relative">
                <fc-lib-standalone-checkbox [align]="'right'" [alignMD]="'center'" [alignLG]="'center'"></fc-lib-standalone-checkbox>
            </div>
            <div *ngIf="equipment.priceTypeId === 0 || equipment.priceTypeId === 1|| equipment.priceTypeId === 2" class="col-span-3 md:col-span-1 center relative">
              <fc-lib-standalone-number-input [align]="'right'" [alignMD]="'center'" [alignLG]="'center'" [value]="equipmentCategory.equipments[i].amount"></fc-lib-standalone-number-input>

            </div>
            {{equipment.amount}}
            <div class="col-span-6 md:col-span-2 md:text-center">
              <div *ngIf="equipment.priceTypeId !== 4" class=" text-light text-xl">{{ equipment.price / 100}} €</div>
              <div *ngIf="equipment.priceTypeId === 4" class=" text-light text-xl">0,00€</div>
              <div class=" text-light text-xs">{{equipment.priceTypeId}}</div>
            </div>
            <div class="col-span-3 text-right md:col-span-1 ">
              <div class="text-xl text-blue-900 md:text-center">
                {{calculateSum(equipment)/100}}€
              </div>
              <div  class=" text-base text-right md:text-center"><span *ngIf="equipment.priceTypeId === 0">
                {{equipment.amount}}x{{equipment.price / 100}} €
              </span>
              <span *ngIf="equipment.priceTypeId === 1">
                {{nights}}x{{equipment.price / 100}} €
              </span>
              <span *ngIf="equipment.priceTypeId === 2">
                {{nights}}x{{equipment.amount}}x{{equipment.price / 100}} €
              </span>
              <span *ngIf="equipment.priceTypeId === 3">
                {{equipment.price / 100}} €
              </span>
              <span *ngIf="equipment.priceTypeId === 4" i18n="kostenlos">
                kostenlos
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fc-lib-card-content>
  </div>
</fc-lib-card>
