<section class="vehicle">
	<h3 *ngIf="vehicle?.id"
		[routerLink]="'/vehicles'"
		class="vehicle-headline"
		i18n="headline description for vehiclesList form edit|@@lessor_fc-vehicle-list_headline"
	>{{'<'}} Fahrzeug bearbeiten</h3>
	<h3 *ngIf="!vehicle?.id"
		[routerLink]="'/vehicles'"
		class="vehicle-headline"
		i18n="headline description for vehiclesList form create|@@lessor_fc-vehicle-list_headline"
	>{{'<'}} Fahrzeug anlegen</h3>
	<h4 *ngIf="vehicle?.id" class=" pl-3 text-yellow-500">WoBi-ID: {{vehicle?.id}}</h4>
	<fc-lib-accordion *ngIf="stationList$ | async as stations" class="example-headers-align" [multi]="true">
		<fc-lib-expansion-panel [expanded]="isExpanded(1)">
      <p title class=" font-bold" i18n="panel title for basic vehicle form name and description|@@lessor_fc-vehicle-form_panel-vehicle-title"
        >Name & Beschreibung</p>
      <p description>
        <fc-lib-icon style="color: green" *ngIf="nameDescriptionForm?.valid && nameDescriptionDataValueStatus">check_circle</fc-lib-icon>
        <fc-lib-icon style="color: orange-500" *ngIf="nameDescriptionForm?.valid && !nameDescriptionForm?.pristine && !nameDescriptionDataValueStatus">error</fc-lib-icon>
        <fc-lib-icon matTooltip="Please correct your entries..."
          i18n-matTooltip="tooltip when panel is invalid|@@lessor_fc-vehicle-form_panel-vehicle-tooltip" color="warn"
          *ngIf="nameDescriptionError && !nameDescriptionForm?.pristine">error</fc-lib-icon>
      </p>
      <div content>
        <lessor-vehicle-name-description-form
          [vehicleForm]="nameDescriptionForm"
          [stations]="stations"
          (stationChanged)="onStationSelect($event)"
        ></lessor-vehicle-name-description-form>
      </div>
      <div footer>
        <fc-lib-button (click)="submitDraft(1)" [disabled]="nameDescriptionForm.invalid" [color]="'success'"
        i18n="vehicle-form|save and continue button@@vehicle_category_save-button">Speichern & weiter</fc-lib-button>
      </div>

    </fc-lib-expansion-panel>

		<fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(2)">
		<!-- <fc-lib-expansion-panel [disabled]="false" [expanded]="isExpanded(2)"> -->
      <p title class=" font-bold"
        i18n="panel title for vehicle category in vehicle form|@@lessor_fc-vehicle-form_panel-techdetails-title">
        Fahrzeugkategorie</p>

      <p description>
        <fc-lib-icon style="color: green" *ngIf="vehicleTypeId.valid  && !vehicleTypeId.pristine && vehicleTypeValueStatus">check_circle
        </fc-lib-icon>
        <fc-lib-icon style="color: orange-500" *ngIf="!vehicleTypeId.pristine && !vehicleTypeValueStatus">error</fc-lib-icon>
        <fc-lib-icon matTooltip="Please correct your entries..." color="warn" *ngIf="!vehicleTypeId.valid">error
        </fc-lib-icon>

      </p>
      <div content>
        <lessor-vehicle-category-form [vehicleForm]="vehicleForm"></lessor-vehicle-category-form>
      </div>
			<br>
      <div footer>
        <fc-lib-button
          i18n="vehicle-form|save and continue button@@vehicle_category_save-button" [color]="'success'" (click)="submitDraft(2)"
          [disabled]="vehicleTypeId.invalid">
          Speichern & weiter
        </fc-lib-button>
      </div>
		</fc-lib-expansion-panel>


		<fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(3)">
		<!-- <fc-lib-expansion-panel [disabled]="false" [expanded]="isExpanded(3)"> -->
      <p title class=" font-bold"
        i18n="panel title for basis data in vehicle form|@@lessor_fc-vehicle-form_panel-techdetails-title"
        >Basisdaten</p>

      <p description>
          <fc-lib-icon style="color: green" *ngIf="basisDataForm.valid && !basisDataForm.pristine && basisDataValueStatus">check_circle</fc-lib-icon>
          <fc-lib-icon style="color: orange-500" *ngIf="!basisDataForm.pristine && !basisDataValueStatus && basisDataForm.valid">error</fc-lib-icon>
          <fc-lib-icon matTooltip="Please correct your entries..." color="warn" *ngIf="!basisDataForm.valid"
            >error</fc-lib-icon
          >
      </p>
      <div content>
        <lessor-vehicle-basis-data-form
          [vehicleForm]="basisDataForm"
        ></lessor-vehicle-basis-data-form>
      </div>
			<br>
      <div footer>
        <fc-lib-button [color]="'success'"
          i18n="vehicle-form|save and continue button@@vehicle_category_save-button" (click)="submitDraft(3)" [disabled]="basisDataForm.invalid">
          Speichern & weiter
        </fc-lib-button>
      </div>
		</fc-lib-expansion-panel>

		<!-- Beds and Seats -->
		<fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(4)">
		<!-- <fc-lib-expansion-panel [disabled]="false" [expanded]="isExpanded(4)"> -->
      <p title class=" font-bold" i18n="panel title for seats in vehicle form|@@lessor_fc-vehicle-form_panel-seats-title">
        Sitzen & Schlafen
      </p>
      <p description>
        <fc-lib-icon style="color: green" *ngIf="seatsAndBedsForm.valid && !seatsAndBedsForm.pristine && seatsAndBedsValueStatus">
          check_circle</fc-lib-icon>
        <fc-lib-icon style="color: orange-500" *ngIf="!seatsAndBedsForm.pristine && !seatsAndBedsValueStatus && seatsAndBedsForm.valid">
          error</fc-lib-icon>
        <fc-lib-icon matTooltip="Bitte korriegieren Sie ihre Eingabe" color="warn" *ngIf="!seatsAndBedsForm.valid">error</fc-lib-icon>
      </p>
      <div content>
        <lessor-vehicle-beds-and-seats-form *ngIf="seatsAndBedsForm"
          [seatsAndBedsForm]="seatsAndBedsForm"
        >
        </lessor-vehicle-beds-and-seats-form>
      </div>
			<br>
      <div footer>
        <fc-lib-button [color]="'success'" i18n="vehicle-form|save and continue button@@vehicle_category_save-button"
          (click)="submitDraft(4)" [disabled]="seatsAndBedsForm.invalid">
          Speichern & weiter
        </fc-lib-button>
      </div>
		</fc-lib-expansion-panel>

		<fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(5)">
		<!-- <fc-lib-expansion-panel [disabled]="false" [expanded]="isExpanded(5)"> -->
				<p title class=" font-bold" i18n="panel title for images in vehicle form|@@lessor_fc-vehicle-form_panel-images-title">
					Bilder
				</p>
				<p description>
				</p>
      <div content>
        <lessor-image-upload-gallery (imageSaved)="imageAdded($event)" [images]="images"></lessor-image-upload-gallery>
        <br>
      </div>
      <div footer>
        <fc-lib-button [color]="'success'" (click)="submitDraft(5)" [disabled]="false" i18n="vehicle-form|save and continue button@@vehicle_category_save-button">
          Speichern & weiter
        </fc-lib-button>
      </div>
		</fc-lib-expansion-panel>


    <fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(7)">
      <!-- <fc-lib-expansion-panel [disabled]="false" [expanded]="isExpanded(6)"> -->
          <p title class=" font-bold"
            i18n="panel title for integrated equipment in vehicle form|@@lessor_fc-vehicle-form_panel-equipment-title">
            Ausstattung
          </p>
          <p description
            i18n="panel description for season-year in vehicle form|@@lessor_fc-vehicle-form_panel-season-year-description2">
            <fc-lib-icon style="color: orange-500" *ngIf="isEquipmentYellow()">error
            </fc-lib-icon>
          </p>
          <div content>
            <app-equipment
            [selectedEquipmentIds]="vehicle?.equipmentIds"
            [stationId]="selectedStation?.id"
            [categories]="categories$"
            [optionalEquipmentList]="optionalEquipment$ | async"
            (equipmentIdsEvent)="onEquipmentIdsChange($event)"
            >
          </app-equipment>

            <div footer>
              <fc-lib-button [color]="'success'" (click)="submitDraft(7)" [disabled]="equipment.invalid"
                i18n="vehicle-form|save and continue button@@vehicle_category_save-button">
                Speichern & weiter
              </fc-lib-button>
            </div>
          </div>
      </fc-lib-expansion-panel>

      <fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(7)">
            <p title class=" font-bold"
              i18n="panel title for integrated equipment in vehicle form|@@lessor_fc-vehicle-form_panel-equipment-title">
              Optionales Zubehör
            </p>
            <p description
              i18n="panel description for season-year in vehicle form|@@lessor_fc-vehicle-form_panel-season-year-description2">
              <fc-lib-icon style="color: orange-500" *ngIf="isEquipmentYellow()">error
              </fc-lib-icon>
            </p>
            <div content>
                <app-optional-equipment [selectedStationId]="selectedStation?.id"
                [selectedOptionalEquipmentIds]="vehicle?.optionalEquipmentIds"
                (selectedOptionalEquipmentIDsEvent)="onSelectedOptionalEquipment($event)"
                ></app-optional-equipment>
                <!-- SubmitDraft anpasssen (funktioniert nicht richtig)-->
              <div footer>
                <fc-lib-button [color]="'success'" (click)="submitDraft(7)" [disabled]="equipment.invalid"
                  i18n="vehicle-form|save and continue button@@vehicle_category_save-button">
                  Speichern & weiter
                </fc-lib-button>
              </div>
            </div>
        </fc-lib-expansion-panel>

		<!-- Season Collection & Prices -->
		<fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(8)">
				<p title class=" font-bold"
					i18n="panel title for prices in vehicle form|@@lessor_fc-vehicle-form_panel-prices-title">
					Saison & Preise
				</p>
				<p description>
					<fc-lib-icon style="color: green" *ngIf="pricesForm.valid && !pricesForm.pristine && pricesValueStatus">check_circle
					</fc-lib-icon>
					<fc-lib-icon style="color: orange-500" *ngIf="!pricesValueStatus && pricesForm.valid">error
					</fc-lib-icon>
					<fc-lib-icon *ngIf="!pricesForm.valid">error</fc-lib-icon>
				</p>
        <div content>
          <lessor-vehicle-prices-form [pricesForm]="pricesForm" [isEdit]="!isNewVehicle"
          [selectedSeasonCollectionId]="seasonCollectionId.value"></lessor-vehicle-prices-form>
          <lessor-mileage-form [mileageForm]="mileageForm" [isEdit]="!isNewVehicle"></lessor-mileage-form>
        </div>
        <div footer>
          <fc-lib-button [color]="'success'" (click)="submitDraft(8)" [disabled]="pricesForm.invalid"
          i18n="vehicle-form|save and continue button@@vehicle_category_save-button">
            Speichern & weiter
          </fc-lib-button>
        </div>
		</fc-lib-expansion-panel>
		<!-- Mietbedingungen -->
		<fc-lib-expansion-panel [disabled]="!nameDescriptionForm?.valid" [expanded]="isExpanded(10)">
		<!-- <fc-lib-expansion-panel [disabled]="false" [expanded]="isExpanded(9)"> -->
      <p title class=" font-bold" i18n="panel title for rental terms in vehicle form|@@lessor_fc-vehicle-form_panel-rental-terms-title">
        Mietbedingungen
      </p>
      <p description>
        <fc-lib-icon style="color: green" *ngIf="rentalTermsForm.valid  && !rentalTermsForm.pristine  && rentalTermsFormValueStatus">check_circle</fc-lib-icon>
        <fc-lib-icon style="color: orange-500" *ngIf="!rentalTermsForm.pristine &&  rentalTermsForm.valid && !rentalTermsFormValueStatus">error</fc-lib-icon>

        <fc-lib-icon
          matTooltip="Please correct your entries..."
          i18n-matTooltip="tooltip error for prices in vehicle form|@@lessor_fc-vehicle-form_panel-prices-tooltip-error"
          color="warn" *ngIf="!rentalTermsForm.valid">error</fc-lib-icon>
      </p>
      <div content>
        <lessor-vehicle-rental-terms-form *ngIf="vehicleForm" [vehicleForm]="vehicleForm" [isEdit]="!isNewVehicle"></lessor-vehicle-rental-terms-form>
        <fc-lib-button  [color]="'success'" (click)="submitDraft(9)" [disabled]="rentalTermsForm.invalid"
        i18n="vehicle-form|save and continue button@@vehicle_category_save-button">
          Speichern & weiter
        </fc-lib-button>
      </div>
		</fc-lib-expansion-panel>
	</fc-lib-accordion>
	<br>

	<fc-lib-button
		[color]="'success'"
    [fill]="true"
		(click)="submit()"
		[disabled]="vehicleForm.invalid"
	>
		Speichern
	</fc-lib-button>
</section>
