<div class="grid grid-cols-20 bg-white p-3 text-center text-md font-normal drop-shadow-md">

    <input class="col-start-8 col-end-13 my-2 p-1 border-y" [value]="currentMonth" type="month" (change)="onChangeUpdateList($event)"/>
</div>
<div class="grid grid-cols-31 bg-white p-3 text-center text-md font-normal drop-shadow-md">

    <div *ngFor="let number of daysInMonth;"
         [ngClass]="{'bg-orange-500': number.bookingType === 'interne Buchung',
                     'bg-blue-600 text-white': number.bookingType === 'externe Buchung',
                     'bg-gray-200': number.bookingType === 'frei' }"
         class="col-start-{{number.number}} py-2 col-end-{{number.number+1}} border border-white">{{number.number}}
    </div>

</div>
