<section *ngIf="pricesForm">
	<form [formGroup]="pricesForm">
		<div class=" grid grid-cols-12">
      <fc-lib-select class=" col-span-4" formControlName="seasonCollectionId" [valueType]="'number'"
        placeholder="Wählen Sie Ihre Saison" (change)="selectedASeasonCollection($event)">
        <span label i18n="replace_me">
          Season Collection
        </span>
				<option
					*ngFor="let seasonCollection of seasonCollections"
					[value]="seasonCollection.id"
					value="seasonCollection.id" [selected]="seasonCollectionId.value === seasonCollection.id">
					{{ seasonCollection.name }}
				</option>
        <span hint *ngIf="seasonCollectionId.pristine"
          i18n="replace_me"
          >Please select a Season Collection
        </span>
        <span error *ngIf="seasonCollectionId.invalid" i18n="replace_me">
          Bitte wählen Sie Ihre Saisons
        </span>
			</fc-lib-select>
		</div>
		<div class=" grid grid-cols-12">
			<ng-container formArrayName="prices">
				<div *ngFor="let price of prices.controls; index as i" class=" col-span-12 lg:col-span-3">
					<ng-container [formGroupName]="i">
							<!-- price amount input -->
							<div>
                <fc-lib-number-input matInput placeholder="100" step="1" formControlName="amount">
                  <span hint
                    i18n="replace_me"
                    >{{ price.get('priceLevelName')?.value }}</span>
                  <span error i18n="replace_me">
                    Bitte einen Preis eingeben.
                  </span>
                </fc-lib-number-input>
								<!-- <fc-lib-icon >euro</fc-lib-icon> -->
							</div>

							<!-- minbooking duration -->
							<div>
                <fc-lib-number-input placeholder="10" step="1" formControlName="minBookingDuration" min="0" max="365">
                  <span label i18n="replace_me">Mindestmietdauer</span>
                  <span hint i18n="replace_me">
                    Bitte die Mindestbuchungsdauer angeben.
                  </span>
                </fc-lib-number-input>
							</div>
					</ng-container>
				</div>
			</ng-container>
		</div>
		<div class="mt-5">
			<fc-lib-checkbox class="" i18n="replace_me" formControlName="hasBestPrice">
        <span label>
          Best Price
        </span>
      </fc-lib-checkbox>
		</div>
		<p>
			<fc-lib-checkbox i18n="replace_me" formControlName="hasInstantBooking">
        <span label>
          Sofort verfügbar
        </span>
      </fc-lib-checkbox>
		</p>
	</form>
</section>
