<div *ngIf="showLoadError" class="error-div">
    <span>
        Error Loading Image. Please ensure you uploaded an image and no other data type.
    </span>
</div>
<div class="image-container">
    <div *ngIf="imageChangedEvent" class="controls">
        <button mat-button (click)="rotation = rotation -1">
            <fc-lib-icon [icon]="'undo'"></fc-lib-icon>
        </button>
        &nbsp;
        <button mat-stroked-button (click)="flipHorizontal()">
            <fc-lib-icon [icon]="'switch_horizontal'"></fc-lib-icon>
        </button>
        &nbsp;
        <button mat-stroked-button (click)="reset()">
            <fc-lib-icon [icon]="'reset'"></fc-lib-icon>
        </button>
        &nbsp;
        <button mat-stroked-button (click)="flipVertical()">
            <fc-lib-icon [icon]="'switch_vertical'"></fc-lib-icon>
        </button>
        &nbsp;
        <button mat-button (click)="rotation = rotation +1">
            <fc-lib-icon [icon]="'redo'"></fc-lib-icon>
        </button>
    </div>
    <image-cropper [transform]="transform" [canvasRotation]="rotation" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2 / 1" format="png"
        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()" style="max-width: 800px"></image-cropper>
    <div *ngIf="imageChangedEvent" style="text-align: right;">
        <button mat-raised-button color="primary" (click)="save()">
            <fc-lib-icon>save</fc-lib-icon> Save
        </button>
    </div>
</div>

