<section>
	<div>
		<div class=" flex flex-1 flex-row mb-1">
      <h3 class="text-xl font-bold flex-grow basis-0" i18n="replace_me">
        Fahrzeuge</h3>
      <div class="">
        <fc-lib-button  [routerLink]="'/lessor/vehicles/create'">
          <fc-lib-icon [icon]="'add'"></fc-lib-icon>
          Neues Fahrzeug
        </fc-lib-button>
      </div>
		</div>
	</div>
  <fc-lib-card>
    <fc-lib-card-content [formGroup]="searchForm">
        <fc-lib-text-input formControlName="search">
          <span label>Fahrzeug suchen</span>
        </fc-lib-text-input>
    </fc-lib-card-content>
  </fc-lib-card>
	<div>
		<fc-lib-expansion-panel #expansionPanel>
      <span title>
        Filter
      </span>
      <div content >
        <form [formGroup]="filterForm" class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <fc-lib-select formControlName="wobiStatusId"  i18n-placeholder="replace_me" placeholder="Wähle einen Status">
            <span label i18n="replace_me">WOBI-Status</span>
            <option value="0" i18n="replace_me">gesperrt</option>

            <option value="1" i18n="replace_me">in Prüfung</option>

            <option value="2" i18n="replace_me">nicht gesperrt</option>
          </fc-lib-select>
          <fc-lib-select formControlName="onlineStatusId" i18n-placeholder="replace_me" placeholder="Wähle einen Status">
            <span label i18n="replace_me">Online-Status</span>
            <option value="1" i18n="replace_me">online</option>

            <option value="0" i18n="replace_me">offline</option>
          </fc-lib-select>
          <fc-lib-select formControlName="bestPrice" i18n-placeholder="replace_me" placeholder="Bestprice">
            <span label i18n="replace_me">Best-Price</span>

            <option [value]="true"i18n="replace_me">Ja</option>

            <option [value]="false" i18n="replace_me">Nein</option>
          </fc-lib-select>
          <fc-lib-select formControlName="directBooking" i18n-placeholder="replace_me" placeholder="Sofortbuchung">
            <span label i18n="replace_me">Sofort-buchen</span>
            <option [value]="true" i18n="replace_me">Ja</option>
            <option [value]="false" i18n="replace_me">Nein</option>
          </fc-lib-select>
          <fc-lib-select formControlName="liveCalandar" i18n-placeholder="replace_me" placeholder="Live Kalandar">
            <span label i18n="replace_me">Live-Kalender</span>
            <option [value]="true" i18n="replace_me">Ja</option>
            <option [value]="false" i18n="replace_me">Nein</option>
          </fc-lib-select>
          <fc-lib-select formControlName="city" i18n-placeholder="replace_me" placeholder="Wähle eine Stadt">
            <span label i18n="replace_me">Stadt suchen</span>
            <option *ngFor="let city of cities" [value]="city">
              {{city}}
            </option>
          </fc-lib-select>
          <fc-lib-select formControlName="vehicleClass" [disabled]="true" i18n-placeholder="replace_me" placeholder="Wähle eine Fahrzeugklasse">
            <span label i18n="replace_me">Fahrzeugklassen</span>
          </fc-lib-select>
          <fc-lib-select formControlName="vehicleTypeId" i18n-placeholder="replace_me" placeholder="Wähle einen Fahrzeugtyp">
            <span label i18n="replace_me">Fahrzeugtypen</span>
            <option *ngFor="let vehicleType of vehicleType$ | async" [value]="vehicleType.id" i18n="replace_me">
              {{vehicleType.name}}
            </option>
          </fc-lib-select>
          <fc-lib-select formControlName="masterVehicle" i18n-placeholder="replace_me" placeholder="Wähle einen Master Fahrzeug">
            <span label i18n="replace_me">Master-Fahrzeuge</span>
          </fc-lib-select>
          <fc-lib-select formControlName="archivedVehicles" i18n-placeholder="replace_me" placeholder="Archivierte Fahrzeuge anzeigen">
            <span label i18n="replace_me">Archivierte
              Fahrzeuge</span>
          </fc-lib-select>
          <fc-lib-button (click)="loadVehicleList()" i18n="replace_me">
            Aktualisieren
          </fc-lib-button>
        </form>
      </div>
		</fc-lib-expansion-panel>
	</div>
  <fc-lib-card>
    <fc-lib-card-content>
      <fc-lib-table *ngIf="vehicles.length > 0" [columns]="columns" [sort]=" columns[0].name" [direction]="'asc'"
      (loadMore)="loadMoreVehicles()" (sortingChanged)="setSort($event.sort, $event.sortable)" [endOfResults]="endOfResults">
        <div *ngFor="let vehicle of vehicles" class="table-row even:bg-gray-100 odd:bg-gray-200" content>
          <div class="table-cell px-5 py-1">{{vehicle.externalId}}</div>
          <div class="table-cell px-5 py-1">{{vehicle.vehicleId}}</div>
          <div class="table-cell px-5 py-1">{{vehicle.vehicleTypeName}}</div>
          <div class="table-cell px-5 py-1">
            <div class="vehicles-status">
              <div
              [ngClass]="{'bg-error': vehicle.wobiStatusId==0, 'bg-orange-500': vehicle.wobiStatusId==1, 'bg-green-500': vehicle.wobiStatusId==2}"
                class="w-4 h-4 rounded-full mr-2 inline-block relative top-1">
                <span class="self-center"></span>
              </div>
              <div [ngClass]="{'bg-error': vehicle.onlineStatusId==0, 'bg-green-500': vehicle.onlineStatusId==1}"
              class="w-4 h-4 rounded-full self-center mr-2 inline-block relative top-1">
              <span class="self-center"></span>
              </div>
              {{ vehicle.wobiStatusId==2 && vehicle.onlineStatusId==1 ? "online":
              vehicle.wobiStatusId==2 && vehicle.onlineStatusId==0 ? "offline":
              vehicle.wobiStatusId==1 && vehicle.onlineStatusId==1 ? "in Prüfung":
              vehicle.wobiStatusId==1 && vehicle.onlineStatusId==0 ? "in Prüfung":
              vehicle.wobiStatusId==0 && vehicle.onlineStatusId==1 ? "nicht freigegeben":
              vehicle.wobiStatusId==0 && vehicle.onlineStatusId==0 ? "nicht freigegeben":"sonderfall"
              }}
            </div>
          </div>
          <div class="table-cell px-5 py-1">{{vehicle.city}}</div>
          <div class="table-cell px-5 py-1">
            <button color="primary" [routerLink]="'/lessor/vehicles/edit/' + vehicle.vehicleId">
              <fc-lib-icon icon="edit"></fc-lib-icon>
            </button>
            <!-- <button mat-button color="primary" (click)="onCopyVehicle(row)">
                                  <mat-icon>content_copy</mat-icon>
                                </button> -->
            <!-- <button mat-mini-fab color="secondary"  (click)="openDeleteDialog(row)" class="btn">
                                  <mat-icon>delete</mat-icon>
                                </button> -->
          </div>
        </div>
      </fc-lib-table>
      <div *ngIf="vehicles.length === 0" class=" text-center">
        <span class=" text-lg font-bold">Keine Ergebnisse</span>
      </div>
    </fc-lib-card-content>
  </fc-lib-card>
</section>
