<div class="my-2 grid grid-cols-6 rounded-t-lg bg-white p-3 text-center text-md font-semibold drop-shadow-md">
    <div class="col-start-1 col-end-2 border-r border-l">Kennung</div>
    <div class="col-start-2 col-end-3 border-r">Wobi Id</div>
    <div class="col-start-3 col-end-4 border-r">Fahrzeugtyp</div>
    <div class="col-start-4 col-end-5 border-r">Sitze / Schlafplätze</div>
    <div class="col-start-5 col-end-6 border-r">Standort</div>
    <div class="col-start-6 border-r">Status</div>
</div>