<fc-lib-card [rounded]="true">
        
    <fc-lib-card-header>
      <div class="flex">Vermieterdaten
        <span>
        <svg *ngIf="getPerson?.invalid" class="h-6 w-6 ml-2 mt-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <line class="text-red-500" x1="18" y1="6" x2="6" y2="18" /> 
          <line class="text-red-500" x1="6" y1="6" x2="18" y2="18" />
        </svg>
        <svg *ngIf="getPerson?.valid" class="h-6 w-6 text-green-600 ml-2 mt-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> 
          <path d="M5 12l5 5l10 -10" />
        </svg>
      </span>
      </div>
    </fc-lib-card-header>
    
  
    <fc-lib-card-content>
        <form [formGroup]="signupForm" required class="mx-auto justify-center items-center max-w-3xl">
          <fieldset formGroupName="person">
            <fc-lib-select formControlName="accountRoleId" [value]="getCompany.get('accountRoleId')?.value">
              <span label>Nutzerart*</span>
              <option [value]="type.id" *ngFor="let type of accountRoles; let i = index">
                {{ type.name }}
              </option>
              <span error *ngIf="getCompany.get('accountRoleId')?.invalid">Eine Option muss angegeben werden</span>
            </fc-lib-select>
        
          <fc-lib-text-input formControlName="name" [placeholder]="'z.B: Max'">
              <span label>Name*</span>
              <span *ngIf="getPerson.get('name')?.invalid && getPerson.get('name')?.touched" error>Dieses Feld ist erforderlich!</span>
          </fc-lib-text-input>
            
          <fc-lib-text-input formControlName="surname" [placeholder]="'z.B: Mustermann'">
              <span label>Nachname*</span>
              <span *ngIf="getPerson.get('surname')?.invalid && getPerson.get('surname')?.touched" error>Dieses Feld ist erforderlich!</span>
          </fc-lib-text-input>

          <fc-lib-text-input formControlName="email" [placeholder]="'z.B: test@test.de'">
              <span label>Emailadresse*</span>
              <span *ngIf="getPerson.get('email')?.invalid && getPerson.get('email')?.touched" error>Dieses Feld ist erforderlich!</span>
          </fc-lib-text-input>

          <fc-lib-text-input formControlName="username" [placeholder]="'z.B: Faircamper'">
              <span label>Username*</span>
              <span *ngIf="getPerson.get('username')?.invalid && getPerson.get('username')?.touched" error>Dieses Feld ist erforderlich!</span>
          </fc-lib-text-input>

          <fc-lib-datepicker formControlName="birthday" min="{{min}}" max="{{max}}" [disabled]="disabledDate">
            <span label>Geburtsdatum*</span>
            <span *ngIf="getPerson.get('birthday')?.invalid && getPerson.get('birthday')?.touched" error>Dieses Feld ist erforderlich!</span>
          </fc-lib-datepicker>

          <fc-lib-text-input formControlName="mobilePhone" [placeholder]="'z.B: 0176213128343'">
              <span label>Mobilnummer*</span>
              <span *ngIf="getPerson.get('mobilePhone')?.invalid && getPerson.get('mobilePhone')?.touched" error>Dieses Feld ist erforderlich!</span>
          </fc-lib-text-input>

          <fc-lib-text-input formControlName="phone" [placeholder]="'z.B: 0407123123'">
              <span label>Festnetznummer (optional)</span>
              <span *ngIf="getPerson.get('phone')?.invalid && getPerson.get('phone')?.touched" error>Dieses Feld ist erforderlich!</span>
          </fc-lib-text-input>
        </fieldset>
      
        
      <!-- Company-Data START-->
      <fc-lib-card-header>
          <div class="flex">Firmendaten
              <span>
                  <svg *ngIf="getCompany?.invalid" class="h-6 w-6 ml-2 mt-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <line class="text-red-500" x1="18" y1="6" x2="6" y2="18" /> 
                  <line class="text-red-500" x1="6" y1="6" x2="18" y2="18" />
                  </svg>
                  <svg *ngIf="getCompany?.valid" class="h-6 w-6 text-green-600 ml-2 mt-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> 
                  <path d="M5 12l5 5l10 -10" />
                  </svg>
              </span>
          </div>
        </fc-lib-card-header>
          <fieldset formGroupName="company">
            
              <fc-lib-text-input formControlName="name" [placeholder]="'z.B: Faircamper GmbH'">
                  <span label>Firmenname*</span>
                  <span *ngIf="getCompany.get('name')?.invalid && getPerson.get('name')?.touched" error>Dieses Feld ist erforderlich!</span>
              </fc-lib-text-input>

              <fc-lib-select formControlName="businessFormId" [value]="getCompany.get('businessFormId')?.value">
                <span label>Geschäftsform*</span>
                <option [value]="type.id" *ngFor="let type of businessForms; let i = index">
                  {{ type.name }}
                </option>
                <span error *ngIf="getCompany.get('businessFormId')?.invalid">Eine Option muss angegeben werden</span>
              </fc-lib-select>

              <fc-lib-text-input formControlName="street" [placeholder]="'z.B: Hamburger Straße'">
                  <span label>Straße*</span>
                  <span *ngIf="getCompany.get('street')?.invalid && getPerson.get('street')?.touched" error>Dieses Feld ist erforderlich!</span>
              </fc-lib-text-input>

              <fc-lib-text-input formControlName="streetNumber" [placeholder]="'z.B: Hamburger Straße'">
                  <span label>Hausnummer*</span>
                  <span *ngIf="getCompany.get('streetNumber')?.invalid && getPerson.get('streetNumber')?.touched" error>Dieses Feld ist erforderlich!</span>
              </fc-lib-text-input>
              
              <fc-lib-text-input formControlName="postal_code" [placeholder]="'z.B: 22032'">
                  <span label>Postleitzahl*</span>
                  <span *ngIf="getCompany.get('postal_code')?.invalid && getPerson.get('postal_code')?.touched" error>Dieses Feld ist erforderlich!</span>
              </fc-lib-text-input>

              <fc-lib-text-input formControlName="city" [placeholder]="'z.B: Hamburg'">
                  <span label>Ort*</span>
                  <span *ngIf="getCompany.get('city')?.invalid && getPerson.get('city')?.touched" error>Dieses Feld ist erforderlich!</span>
              </fc-lib-text-input>

              <fc-lib-text-input formControlName="country" [placeholder]="'z.B: Deutschland'">
                  <span label>Land*</span>
                  <span *ngIf="getCompany.get('country')?.invalid && getPerson.get('country')?.touched" error>Dieses Feld ist erforderlich!</span>
              </fc-lib-text-input>
              
              <fc-lib-text-input formControlName="website" [placeholder]="'z.B: faircamper.de'">
                  <span label>Website*</span>
                  <span *ngIf="getCompany.get('website')?.invalid && getPerson.get('website')?.touched" error>Dieses Feld ist erforderlich!</span>
              </fc-lib-text-input>
              
              <!-- Vorübergehend -->
              <div>
                <span class="text-black font-bold"> Umsatzsteuerbefreit* </span>
                <input
                  formControlName="preTaxDeductable"
                  id="Umsatzsteuerbefreit"
                  type="checkbox"
                  class="border border-gray-300 border-solid focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none bg-white bg-clip-padding px-3 py-1.5 transition duration-300 ease-in-out block text-base font-normal rounded-lg"
                  [ngClass]="{'border-red-600': getCompany.get('preTaxDeductable')?.invalid && getCompany.get('preTaxDeductable')?.touched,'border-gray-300': !(getCompany.get('preTaxDeductable')?.invalid && getCompany.get('preTaxDeductable')?.touched)}"/>
                <div *ngIf="getCompany.get('preTaxDeductable')?.invalid && getCompany.get('preTaxDeductable')?.touched" class="text-red-500 text-xs">
                  Dieses Feld ist erforderlich
                </div>
              </div>
          </fieldset>
      </form>
    </fc-lib-card-content>
  <fc-lib-card-footer>
    <fc-lib-button [disabled]="!signupForm.valid" 
        [color]="'basic'"
        [fill]="false"
        (click)="submit()">
        <span>Registrieren</span>
    </fc-lib-button>   
  </fc-lib-card-footer>
</fc-lib-card>