<div class="lg:max-w-container w-full grid grid-cols-12 m-auto gap-4 text-xs">
  <div class="lg:col-span-7 col-span-12">
    <tenant-checkout-equipment></tenant-checkout-equipment>
    <tenant-checkout-kilometer-packages></tenant-checkout-kilometer-packages>
    <tenant-checkout-personal-data></tenant-checkout-personal-data>
  </div>
  <div class="lg:col-span-5 col-span-12 bg-blue-600 h-200 text-white"> Blah Blah Blah</div>
</div>

