<form [formGroup]="form">
    <div class="lg:hidden md:hidden -mx-3 border-t border-blue-200"></div>
    <div class="grid lg:grid-cols-12 md:grid-cols-12 sm:grid-cols-13 sm:mb-5">
        <div class="lg:col-span-5 md:col-span-5 sm:col-span-9 text-blue-900 font-semibold lg:my-auto md:my-auto sm:mt-6 lg:text-lg md:text-lg sm:text-base" i18n="replace_me">
            
            {{package.km}} km zusätzlich
            
            <p class="mt-2.5 font-light lg:text-base md:text-base sm:text-sm text-black">
                {{package?.discount}} % Rabatt auf den regulären Preis
            </p>
        </div>
        <div class="lg:col-span-3 md:col-span-3 sm:col-span-4 flex place-content-end">
            <div class="w-full mx-auto sm:mr-2">
                <fc-lib-standalone-number-input
                    class="lg:mt-3 md:mt-3 sm:mt-6"
                    formControlName="amountPicked" (ngModelChange)="callOnChange($event)"
                    [align]="'right'" [alignMD]="'center'" [alignLG]="'center'">
                </fc-lib-standalone-number-input>
            </div>
        </div>
        <div
            class="lg:col-span-2 md:col-span-2 sm:col-span-6 sm:mt-3 lg:font-normal md:font-normal sm:font-light lg:text-xl md:text-xl sm:text-lg lg:text-center md:text-center lg:my-auto md:my-auto">
            <p class="lg:hidden md:hidden text-sm font-light inline-block" i18n="replace_me">Preis:</p>

            {{package?.price}} €

            <p class="mt-2.5 font-light text-base text-black lg:grid md:grid sm:hidden" i18n="replace_me">pro Stück</p>
        </div>

        <div
            class="lg:col-span-2 md:col-span-2 sm:col-span-7 lg:my-auto md:my-auto sm:mt-3 text-right lg:font-medium md:font-medium sm:font-normal lg:text-xl md:text-xl sm:text-lg text-blue-900">
            <p class="lg:hidden md:hidden text-sm font-light text-black my-auto inline-block" i18n="replace_me">Summe:</p>

            {{getAmountPicked.value * package.price}} €

            <p class="mt-2.5 font-light text-base text-black lg:grid md:grid sm:hidden">
                {{getAmountPicked.value}} x {{package?.price}} €
            </p>
        </div>
    </div>
</form>