<app-personal-data [account$]="account$"></app-personal-data>
<app-company
  [account$]="account$"
  (companyOut)="onCompanyUpdate($event)"
></app-company>
<app-documents></app-documents>
<app-persons></app-persons>
