
      <div class="grid grid-cols-1 gap-1">
        <div>
          <div class="text-lg mr-2 ml-7" label>Name</div>
          <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.name }}
          </div>
        </div>
        <div>
          <div class="text-lg mr-2 ml-7" label>Nachname</div>
          <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.surname }}
          </div>
        </div>
        <div>
          <div class="text-lg mr-2 ml-7" label>Username</div>
          <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.username }}
          </div>
        </div>
  
        <div>
            <div class="text-lg mr-2 ml-7" label>Email</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.email }}
            </div>
            </div>

        <div>
            <div class="text-lg mr-2 ml-7" label>Straße</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.street }}
            </div>
        </div>

        <div>
            <div class="text-lg mr-2 ml-7" label>Hausnummer</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.streetNumber }}
            </div>
        </div>

        <div>
            <div class="text-lg mr-2 ml-7" label>Postleitzahl</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.postalCode }}
            </div>
        </div>

        <div>
            <div class="text-lg mr-2 ml-7" label>Ort</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.city }}
            </div>
        </div>

        <div>
          <div class="text-lg mr-2 ml-7" label>Land</div>
          <div class="text-lg mr-2 ml-7 text-gray-400">
          {{ tenantAccountData?.country }}
          </div>
      </div>

        <div>
            <div class="text-lg mr-2 ml-7" label>Geburtstag</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.birthday }}
            </div>
        </div>

        <div>
            <div class="text-lg mr-2 ml-7" label>Mobilnummer</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.mobilePhone }}
            </div>
        </div>

        <div>
            <div class="text-lg mr-2 ml-7" label>Festnetznummer</div>
            <div class="text-lg mr-2 ml-7 text-gray-400">
            {{ tenantAccountData?.phone }}
            </div>
        </div>

    </div>
        