<form [formGroup]="companyForm" class="grid grid-cols-2 gap-4" required>
    
  <fc-lib-text-input formControlName="name" [placeholder]="'z.B: Max'">
    <span label>Firmenname*</span>
    <span *ngIf="getCompany.get('name')?.invalid && getCompany.get('name')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>

  <fc-lib-select formControlName="businessFormId" [value]="getCompany.get('businessFormId')?.value">
    <span label>Geschäftsform*</span>
    <option [value]="type.id" *ngFor="let type of businessForms; let i = index">
      {{ type.name }}
    </option>
    <span error *ngIf="getCompany.get('businessFormId')?.invalid">Eine Option muss angegeben werden</span>
  </fc-lib-select>

  <fc-lib-text-input formControlName="street" [placeholder]="'z.B: Hamburger Straße'">
      <span label>Straße*</span>
      <span *ngIf="getCompany.get('street')?.invalid && getCompany.get('street')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>
  
  <fc-lib-text-input formControlName="streetNumber" [placeholder]="'z.B: 01234131312'">
      <span label>Hausnummer*</span>
      <span *ngIf="getCompany.get('streetNumber')?.invalid && getCompany.get('streetNumber')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>

  <fc-lib-text-input formControlName="postalCode" [placeholder]="'z.B: 23934'">
      <span label>Postleitzahl*</span>
      <span *ngIf="getCompany.get('postalCode')?.invalid && getCompany.get('postalCode')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>

  <fc-lib-text-input formControlName="city" [placeholder]="'z.B: Hamburg'">
      <span label>Ort*</span>
      <span *ngIf="getCompany.get('city')?.invalid && getCompany.get('city')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>

  <fc-lib-text-input formControlName="country" [placeholder]="'z.B: Deutschland'">
      <span label>Land*</span>
      <span *ngIf="getCompany.get('country')?.invalid && getCompany.get('country')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>

  <fc-lib-text-input formControlName="website" [placeholder]="'z.B: www.meinewebsite.de'">
      <span label>Website*</span>
      <span *ngIf="getCompany.get('website')?.invalid && getCompany.get('website')?.touched" error>Dieses Feld ist erforderlich!</span>
  </fc-lib-text-input>

  <!-- <fc-lib-toggle-switch formControlName="preTaxDeductable">
      <span label>Umsatzsteuerbefreit*</span>
      <span hint>Hint</span>
      <span error *ngIf="getCompany.get('preTaxDeductable')?.invalid && getCompany.get('preTaxDeductable')?.touched">Error</span>
    </fc-lib-toggle-switch> -->

    <!-- Vorübergehend -->
    <div>
      <span class="text-black font-bold"> Umsatzsteuerbefreit* </span>
      <input
        formControlName="preTaxDeductable"
        id="Umsatzsteuerbefreit"
        type="checkbox"
        class="border border-gray-300 border-solid focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none bg-white bg-clip-padding px-3 py-1.5 transition duration-300 ease-in-out block text-base font-normal rounded-lg"
        [ngClass]="{'border-red-600': getCompany.get('preTaxDeductable')?.invalid && getCompany.get('preTaxDeductable')?.touched,'border-gray-300': !(getCompany.get('preTaxDeductable')?.invalid && getCompany.get('preTaxDeductable')?.touched)}"/>
      <div *ngIf="getCompany.get('preTaxDeductable')?.invalid && getCompany.get('preTaxDeductable')?.touched" class="text-red-500 text-xs">
        Dieses Feld ist erforderlich
      </div>
    </div>

  </form>
  