<div id="extrasPage"></div>
<h1 class="text-xl md:text-3xl font-bold text-yellow-500" i18n="h1 Tech Details headline on vehicle detail site | headline describing the description section on the vehicle detail site @@in vehicle description">
    Zubuchbare Extras
</h1>
<div class="w-full text-center">
    <p class="text-red-500">{{message}}</p>
</div>
<div class="content-start mb-5">
    <div class="ext-dtl-main">
        <table class="w-full p-0 table-fixed ext-dtl">
            <thead>
                <tr>
                    <th class="w-2/4 text-left text-xl px-0 py-1 pl-12">Option</th>
                    <th class="w-auto text-left text-xl px-0 py-1">Auswahl</th>
                    <th class="w-auto text-left text-xl px-0 py-1">Preis</th>
                    <th class="w-1/5 text-left text-xl px-0 py-1">Summe</th>
                </tr>
            </thead>
            <tbody *ngFor="let area of extraData?.areas;let j = index">
                <tr>
                    <td colspan="4" class="pt-10 pb-3">
                        <svg _ngcontent-uwl-c18="" fill="currentColor" version="1.1" id="svg276" xml:space="preserve" viewBox="0 0 1904.88 1315.276" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class="h-7 inline-block"><defs _ngcontent-uwl-c18="" id="defs280"><clipPath _ngcontent-uwl-c18="" clipPathUnits="userSpaceOnUse" id="clipPath290"><path _ngcontent-uwl-c18="" d="M 0,986.457 H 1428.661 V 0 H 0 Z" id="path288"></path></clipPath></defs><g _ngcontent-uwl-c18="" id="g282" transform="matrix(1.3333333,0,0,-1.3333333,0,1315.276)"><g _ngcontent-uwl-c18="" id="g284"><g _ngcontent-uwl-c18="" id="g286" clip-path="url(#clipPath290)"><path _ngcontent-uwl-c18="" d="m 1405.396,245.526 c 0,0 -1.141,69.348 -1.141,86.216 0,16.868 -18.751,41.234 -74.067,74.026 -55.316,32.807 -177.198,141.513 -194.074,165.878 -16.876,24.366 -61.879,127.449 -106.881,127.449 H 187.308 c 0,0 -45.003,-5.623 -45.003,-48.731 V 215.538 c 0,0 -30.002,-20.615 -30.002,-61.85 0,-41.233 13.126,-63.724 24.377,-63.724 h 133.133 c 0,0 22.353,-89.964 112.506,-89.964 89.068,0 108.757,89.964 108.757,89.964 h 613.482 c 0,0 24.83,-89.964 108.435,-89.964 92.99,0 114.382,89.964 114.382,89.964 0,0 99.381,22.491 99.381,33.736 0,11.246 11.352,73.932 -21.36,121.826 M 328.191,115.548 c 0,30.426 24.681,55.102 55.121,55.102 30.454,0 55.143,-24.676 55.143,-55.102 0,-30.426 -24.689,-55.104 -55.143,-55.104 -30.44,0 -55.121,24.678 -55.121,55.104 M 540.586,398.646 H 223.912 v 155.023 h 316.674 z m 370.233,0 H 594.144 v 155.023 h 316.675 z m 297.862,0 h -97.616 c 0,0 -127.538,0.515 -135.336,0.515 -15.375,0 -18.571,13.322 -18.571,13.322 0,0 -0.031,87.418 -0.031,111.26 0,23.101 21.563,27.685 21.563,27.685 h 78.466 c 23.931,0 39.214,-13.058 39.214,-13.058 0,0 77.567,-67.941 120.092,-102.809 42.526,-34.862 -7.781,-36.915 -7.781,-36.915 m 62.027,-283.098 c 0,-30.426 -24.666,-55.104 -55.121,-55.104 -30.454,0 -55.128,24.678 -55.128,55.104 0,30.426 24.674,55.102 55.128,55.102 30.455,0 55.121,-24.676 55.121,-55.102 M 326.183,710.239 H 901.054 L 859.91,930.612 326.199,777.642 Z m 146.376,30.152 0.015,52.128 c 0,0 154.931,47.192 188.621,55.61 33.683,8.419 48.839,-6.731 48.839,-6.731 L 747.067,740.391 Z M 295.517,776.486 884.318,945.551 872.333,986.457 284.165,814.526 Z m -165.431,-548.85 0.016,320.879 H 30.619 C 30.619,548.515 0,496.27 0,453.951 V 227.636 Z" id="path292" style="fill-opacity: 1; fill-rule: nonzero; stroke: none;"></path></g></g></g></svg>
                        <h3 class="inline-block font-bold text-xl ml-1 relative top-1">{{area?.name}}</h3>
                    </td>
                </tr>
                <tr *ngFor="let item of area?.optionalExtras;let i = index">
                    <td class="pl-16 truncated">
                        <div>
                            <h4 class="text-lg font-bold">{{item?.name}}:</h4>
                            <p class="text-xs">Tomtom 3.5 das ist eines der einfachsten navigayionsgerate, die ihr auf dem</p>
                        </div>
                    </td>
                    <td (change)="calculateTotalDropdown(i,j,item,$event)"
                        *ngIf="item.calculationType == 'perPiece'|| item.calculationType =='perPieceAndNight'">
                        <select
                            class="border-solid border-grey rounded-xl border py-1 outline-none focus:outline-none focus:border-transparent">
                            <option>0 Stück</option>
                            <option value="{{number}}" *ngFor="let number of createArray(item.amount);let i = index">{{number}} Stück
                            </option>
                        </select>
                    </td>
                    <td class="text-center"
                        *ngIf="item.calculationType == 'perNight' || item.calculationType =='perBooking' || item.calculationType =='inclusive'">
                        <label class="control control--checkbox">
                            <input (change)="calculateTotalCheckbox(i,j,item,$event)" type="checkbox"
                                checked="{{item.calculationType === 'inclusive' || item.quantity>0?'checked':''}}" />
                            <div class="control__indicator"></div>
                        </label>
                    </td>
                    <td>
                        <h5 class="text-base font-medium" *ngIf="item.calculationType != 'inclusive'">{{item?.price | currency:'EUR'}}
                        </h5>
                        <p *ngIf="item.calculationType != 'inclusive'" class="text-xs">{{setCalculationType(item.calculationType)}}</p>
                        <h5 *ngIf="item.calculationType == 'inclusive'">{{setCalculationType(item.calculationType)}}</h5>
                    </td>
                    <td
                        *ngIf="item.calculationType != 'inclusive' && item.calculationType != 'perNight' && item.calculationType != 'perPieceAndNight'">
                        <h5 *ngIf="item.currentAmount>0" class="text-base font-medium">{{item.currentAmount | currency:'EUR'}} </h5>
                        <p *ngIf="item.currentAmount>0 && item.calculationType != 'perBooking'" class="text-xs">{{item.price | currency:'EUR'}} x {{item.quantity}} Stück</p>
                    </td>
                    <td *ngIf="item.calculationType == 'inclusive' && item.quantity>0">
                        <h5 class="text-base font-medium">{{0 | currency:'EUR'}} </h5>
                    </td>
                    <td *ngIf="item.calculationType == 'perNight' && dayLength > 0">
                        <h5 *ngIf="item.currentAmount>0 && item.currentAmount<=item.maxAmount" class="text-base font-medium">{{item.currentAmount | currency:'EUR'}} </h5>
                        <h5 *ngIf="item.currentAmount>item.maxAmount" class="text-base font-medium">{{item.currentAmount | currency:'EUR'}} <span class="text-xs font-light">(max. Preis erreicht)</span>  </h5>
                        <p *ngIf="item.currentAmount>0" class="text-xs">{{item.price | currency:'EUR'}} x {{dayLength}} Nächte</p>
                    </td>
                    <td *ngIf="item.calculationType == 'perNight' && dayLength == 0">
                        <h5 class="text-xs">--,-- € (kein Zeitraum ausgewählt) </h5>
                        <p class="text-xs">{{item.price | currency:'EUR'}} x -- Nächte</p>
                    </td>
                    <td *ngIf="item.calculationType == 'perPieceAndNight' && dayLength > 0">
                        <h5 *ngIf="item.currentAmount>0 && item.currentAmount<=item.maxAmount" class="text-base font-medium">{{item.currentAmount | currency:'EUR'}} </h5>
                        <h5 *ngIf="item.currentAmount>item.maxAmount" class="text-base font-medium">{{item.currentAmount | currency:'EUR'}} <span class="text-xs font-light">(max. Preis erreicht)</span>  </h5>
                        <p *ngIf="item.currentAmount>0" class="text-xs">{{item.price | currency:'EUR'}} x {{item.quantity}} Stück x
                            {{dayLength}} Nächte</p>
                    </td>
                    <td *ngIf="item.calculationType == 'perPieceAndNight' && dayLength == 0">
                        <h5 class="text-xs">--,-- € (kein Zeitraum ausgewählt) </h5>
                        <p class="text-xs">{{item.price | currency:'EUR'}} x --Stück x -- Nächte</p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
