.control {
    display: block;
    position: relative;
    cursor: pointer;
    left: 32%;
    top: -19px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control input:checked ~ .control__indicator {
    background: #000;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 35px;
    width: 35px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 12px;
    top: 4px;
    width: 10px;
    height: 23px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.ext-dtl tr:nth-child(even) {
    background: #ECEBEB;
}
.ext-dtl thead tr {
    background: #ECEBEB;
}
.ext-dtl select:focus {
    border: 1px solid #ddd;
    outline: none !important;
    box-shadow: none;
}
.ext-dtl select {
    border: 1px solid #ddd;
}
.ext-dtl-main{ box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}


.truncated div, .truncated p, .truncated h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 0 0.5em;
  width: auto;
  max-width: 100%;
  -webkit-transition: max-width linear .5s;
  transition: max-width linear .5s;
}
.truncated p, .truncated h4 { padding: 0; }
.truncated:hover div, .truncated:hover p, .truncated:hover h4 {
  overflow: visible;
  white-space: normal;
  -ms-word-break: break-all;
  word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

  max-width: 100%;
  width: 100%;
  z-index: 1; /* stack above subsequent cells */
}
.truncated:hover p, .truncated:hover h4 {
  display: block;
  width: 100%;
}
td:hover div:before {
  content: "";
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  z-index:-1; /* stack below truncated text */
}