<div class="w-full h-full min-h-screen bg-gray-700 fixed top-0 left-0 opacity-70">

</div>
<div class="grid w-full min-h-screen  place-content-center absolute top-0 left-0">
  <div class=" rounded-md relative sm:p-4 overflow-visible min-size">
    <div class="relative h-full">
      <div *ngIf="images[currentIndex] as image" class=" relative w-full h-full">
        <img [src]="image.url" alt="image" class="centered-img">
      </div>
    </div>
  </div>

<button (click)="previous()"
  class="absolute centered-icon left-1 md:left-5 -translate-y-1/2 text-gray-100rounded-full w-10 h-10 flex justify-center items-center z-10 text-gray-300">
  <svg class="w-10 h-10 font-bold" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15 19l-7-7 7-7">
    </path>
  </svg>
</button>

<button (click)="forward()"
  class="absolute centered-icon right-1 md:right-5 rounded-full w-12 h-12 flex justify-center items-center z-10 text-gray-300">
  <svg class="w-10 h-10 font-bold" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M9 5l7 7-7 7"></path>
  </svg>
</button>

<button (click)="close()"
  class="absolute right-1 md:right-5 top-5 bg-transparent rounded-full w-12 h-12 flex justify-center items-center z-10 text-gray-300 ">
  <svg xmlns="http://www.w3.org/2000/svg" class=" h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
  </svg>
</button>

