<div class="fixed flex flex-col top-0 left-0 w-full h-12 bg-white z-50 shadow-md">
  <!-- Header -->
  <header class="w-full hover:cursor-pointer flex flex-1 flex-row items-center gap-2 relative">
    <div class="basis-0 flex-grow">
    </div>
    <div class="basis-1 relative" >
      <div class="flex items-center relative justify-end space-x-2 hover:bg-gray-300 pl-10 pr-5 " (click)="expanded = !expanded">
        <div class="flex flex-shrink-0 items-center space-x-1 text-gray-700 py-2">
          <!-- Foto -->
          <div class="h-8 w-8 rounded-full cursor-pointer bg-gray-200 border-2 border-blue-400"></div>
          <div class="flex flex-col items-start ">
            <div *ssoIf="logoutRequirements" class="text-md font-medium ">{{tenantAccountData?.name+' '+tenantAccountData?.surname}}</div>
          </div>
        </div>
        <div class="flex flex-shrink-0 text-black relative ">
          <button *ngIf="!expanded">
            <div class="rotate-90 text-sm text-slate-700">&#10095;</div>
          </button>
          <button *ngIf="expanded">
            <div class="rotate-90  text-sm text-slate-500">&#10096;</div>
          </button>
        </div>
      </div>
      <!-- Menu -->
      <div  class=" absolute top-12 -left-28 bg-white px-5 shadow-md w-64 transition-all overflow-hidden" [ngClass]="{'h-0': !expanded, 'h-50': expanded}">
        <ul *ssoIf="logoutRequirements" class="mt-10 mb-10 grid grid-rows-5 grid-flow-col gap-10">
          <li>
            <button  routerLink="/tenant/account">
              <fc-lib-icon [icon]="'account'" class="inline mr-10"></fc-lib-icon><span class="inline">Account</span>
            </button>
          </li>
          <li>
            <button  routerLink="/tenant/favorits">
              <fc-lib-icon [icon]="'messages'" class="inline mr-10"></fc-lib-icon><span class="inline">Nachrichten (TODO)</span>
            </button>
          </li>
          <li>
            <button  routerLink="/tenant/favorits">
              <fc-lib-icon [icon]="'vehicles'" class="inline mr-10"></fc-lib-icon><span class="inline">Favoriten (TODO)</span>
            </button>
          </li>
          <li>
            <button  routerLink="/tenant/bookings">
              <fc-lib-icon [icon]="'bookings'" class="inline mr-10"></fc-lib-icon><span class="inline">Buchungen (TODO)</span>
            </button>
          </li>
          <li>
            <button (click)="doLogout();">
              <fc-lib-icon [icon]="'logout'" class="inline mr-10"></fc-lib-icon> Logout
            </button>
          </li>
        </ul>
        <ul *ssoIf="loginRequirements" class="mt-10 mb-10 grid grid-rows-5 grid-flow-col gap-10">
          <li>
            <button  routerLink="/signup">
              <fc-lib-icon [icon]="'bookings'" class="inline mr-10"></fc-lib-icon><span class="inline">Signup</span>
            </button>
          </li>
          <li>
            <button (click)="doLogin();">
              <fc-lib-icon [icon]="'logout'" class="inline mr-10"></fc-lib-icon><span class="inline">Login</span>
            </button>
          </li>
        </ul>
      </div>


    </div>
  </header>
</div>
<div class="lg:p-5 md:p-5 sm:py-5 mt-12 transition-all bg-slate-50 h-full m-auto">
  <router-outlet></router-outlet>
</div>
