<fc-lib-card [rounded]="true">
  <fc-lib-card-header class="text-left">Persönliche Infos</fc-lib-card-header>
  <fc-lib-card-content *ngIf="account$ | async as a">
    <div class="grid grid-cols-1 gap-1">
      <div>
        <div class="text-lg mr-2 ml-7" label>Name</div>
        <div class="text-lg mr-2 ml-7 text-gray-400">
          {{ a?.name }}
        </div>
      </div>
      <div>
        <div class="text-lg mr-2 ml-7" label>Nachname</div>
        <div class="text-lg mr-2 ml-7 text-gray-400">
          {{ a?.surname }}
        </div>
      </div>
      <div>
        <div class="text-lg mr-2 ml-7" label>Username</div>
        <div class="text-lg mr-2 ml-7 text-gray-400">
          {{ a?.username }}
        </div>
      </div>

      <div>
        <div class="text-lg mr-2 ml-7" label>Email</div>
        <div class="text-lg mr-2 ml-7 text-gray-400">
          {{ a?.email }}
        </div>
      </div>
    </div>
  </fc-lib-card-content>
  <fc-lib-card-footer>

    <fc-lib-button (click)="editPersonalInfo()" [disabled]="true">
      Editieren (TODO)
    </fc-lib-button>  
  
  </fc-lib-card-footer>
</fc-lib-card>
