<form [formGroup]="seasonCollectionForm">
  <fc-lib-label
    i18n="
      label-text season collection create name field | In season collection
      create dialog
    "
    >Neue Season Collection anlegen</fc-lib-label
  >
  <fc-lib-text-input
    placeholder="Name ..."
    formControlName="name"
    i18n-placeholder="
      input-placeholder for season-collection name | Input field placeholder in
      season-collection-create-dialog
    "
  ></fc-lib-text-input> 
</form>

<fc-lib-button
  (click)="submit()"
  i18n="
    create-button season collection | button to create season-collection
    @@season-collection-create-dialog_create-button"
>
  Erstellen
</fc-lib-button>
<fc-lib-button
  (click)="cancel()"
  i18n="
    cancel-button season collection | button to cancle season-collection
    creation dialog and close the dialog
    @@season-collection-create-dialog_cancle-button"
>
  Abbrechen
</fc-lib-button>
