@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: 'Fira Sans';
  font-weight: 100;
  src: url("assets/fonts/Fira_Sans/FiraSans-Thin.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 100;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-ThinItalic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("assets/fonts/Fira_Sans/FiraSans-ExtraLight.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-ExtraLightItalic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  src: url("assets/fonts/Fira_Sans/FiraSans-Light.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-LightItalic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: normal;
  src: url("assets/fonts/Fira_Sans/FiraSans-Regular.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-Italic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  src: url("assets/fonts/Fira_Sans/FiraSans-Medium.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-MediumItalic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 600;
  src: url("assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 600;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  src: url("assets/fonts/Fira_Sans/FiraSans-Bold.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-BoldItalic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 800;
  src: url("assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 800;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 900;
  src: url("assets/fonts/Fira_Sans/FiraSans-Black.ttf") format('truetype')
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 900;
  font-style: italic;
  src: url("assets/fonts/Fira_Sans/FiraSans-BlackItalic.ttf") format('truetype')
}
