<section>
  <fc-lib-card>
    <fc-lib-card-header
      i18n="
        headline description for seasonList form |@@lessor_fc-season_headline"
    >
      Preislevel
    </fc-lib-card-header>
    <fc-price-level-list
      (reloadPriceLevel)="loadPriceLevels()"
    ></fc-price-level-list>
  </fc-lib-card>
</section>
<section>
  <fc-lib-card>
    <fc-lib-card-header>SeasonCollection</fc-lib-card-header>
    <fc-lib-button
      *ngIf="!showSeasonCollectionForm"
      (click)="openSeasonyearCreateDialog()"
    >
      Season Collection erstellen
    </fc-lib-button>
    <fc-season-collection-form
      *ngIf="showSeasonCollectionForm"
      (seasonCollectionCreateEvent)="onSeasonCollectionCreate($event)"
    ></fc-season-collection-form>
    <fc-season-collection-selector
      [seasonCollections]="seasonCollections"
      (onSelection)="onSelect($event)"
    ></fc-season-collection-selector>
    <fc-seasons-bar
      *ngIf="selectedSeasonCollection && priceLevels"
      class="seasoncalendar-bar"
      [viewboxHeight]="200"
      [seasons]="selectedSeasonCollection.seasons"
      [hasMonthGrid]="true"
      [visibleRange]="visibleTimeline"
    ></fc-seasons-bar>
    <div *ngIf="selectedSeasonCollection && priceLevels">
      <fc-season-form
        *ngFor="let season of selectedSeasonCollection.seasons; let i = index"
        [season]="season"
        [priceLevels]="priceLevels"
        [lastSeason]="
          i == selectedSeasonCollection.seasons.length - 1 &&
          selectedSeasonCollection.seasons.length === 1
        "
        (changedSeason)="seasonChanged($event, i)"
        (deleteSeason)="deleteSeason(i)"
      ></fc-season-form>
    </div>
    <div *ngIf="selectedSeasonCollection && priceLevels">
      <div role="group" class="seasoncalendar-controls">
        <fc-lib-button
          *ngIf="!showSeasonForm"
          (click)="openSeasonCreateDialog()"
        >
          Season erstellen
        </fc-lib-button>
        <fc-lib-button
          *ngIf="!showSeasonForm"
          (click)="submit()"
          [disabled]="
            !this.selectedSeasonCollection ||
            this.selectedSeasonCollection.seasons?.length === 0
          "
        >
          Speichern
        </fc-lib-button>
      </div>
    </div>
    <fc-season-form
      *ngIf="showSeasonForm"
      [createMode]="true"
      [priceLevels]="priceLevels"
      [lastSeason]="false"
      (changedSeason)="onSeasonCreate($event)"
    ></fc-season-form>
  </fc-lib-card>
</section>
