<form *ngIf="vehicleForm" [formGroup]="vehicleForm" #form="ngForm">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		<!-- Title -->
		<div appearance="standard" class="col-span-1 md:col-span-2 lg:col-span-1">
			<fc-lib-text-input formControlName="title">
				<span label i18n="label for input field|vehicle title field@@lessor_fc-vehicle-name-description-form_title">Name oder Title
				</span>
				<span hint>{{ title.value?.length || 0 }}/150</span>
				<span error *ngIf="title.invalid"
					i18n="error hint for input field|vehicle title field error@@lessor_fc-vehicle-name-description-form_title_error">
					Muss zwischen 10-150 Buchstaben haben
				</span>
			  </fc-lib-text-input>

		</div>
		<!-- Internal Lessor ID  -->
		<div appearance="standard" class="col-span-1">

      <fc-lib-text-input formControlName="externalId">
        <span label
          i18n="externalId plate lable | describes the value of a needed input field @@vehicle-name-description-form_externalId_lable">
          Vermieterkennung</span>
          <span hint i18n="hint for internal id|externalId plate in vehicle form@@lessor_fc-vehicle-name-description-form_lessorIdHint">
            z.B. Autokennzeichen
          </span>
          <span error *ngIf="externalId.invalid && externalId.value.length <= 256"
            i18n="error hint for required input field|vehicle external lessor id required error@@lessor_fc-vehicle-name-description-form_title_error">
            Muss angegeben werden
          </span>
          <span error *ngIf="externalId.invalid && externalId.value.length > 256"
            i18n="error hint external ID too long|vehicle external lessor id not allowed to be longer than 256 letters error@@lessor_fc-vehicle-name-description-form_title_error">
            Darf nicht länger als 256 Zeichen lang sein
          </span>
      </fc-lib-text-input>

		</div>
		<!-- Station -->
		<div appearance="standard" class="col-span-1">

      <fc-lib-select  formControlName="stationId" placeholder="Station auswählen" (change)="onStationChanged()">
        <option *ngFor="let station of stations" [value]="station.id" [selected]="station.id === stationId.value">
          {{station.name}}
        </option>
        <span hint
          i18n="lable-station-selector | a lable describing a station selector @@vehicle-station-form_station-selector-lable">
          Wähle eine Station
        </span>
        <span error *ngIf="stationId.invalid"
          i18n="error hint for required input field|vehicle station required error@@lessor_fc-vehicle-name-description-form_title_error">
          Die Station muss angegeben werden
        </span>
      </fc-lib-select>

		</div>
		<!-- Description -->
		<div appearance="standard" class="col-span-1 md:col-span-2 lg:col-span-3">

      <fc-lib-text-area formControlName="description" [rows]="4">
        <span label i18n=" label for description field|labels input field description for a
                      		vehicle@@lessor_fc-vehicle-name-description-form_description">
          Fahrzeugbeschreibung
        </span>
        <span hint>{{ description.value?.length || 0 }}/4096</span>
        <span error *ngIf="description.invalid" i18n="
        													error hint for input field|vehicle description field
        													error@@lessor_fc-vehicle-name-description-form_vehicle-description-error">
          maximal 4096 Zeichen
        </span>
      </fc-lib-text-area>

		</div>
	</div>
</form>
