<fc-lib-button *ngIf="!showForm" (click)="createOptionalEquipment()">
  optionales Zubehör erstellen
</fc-lib-button>
<app-optional-equipment-form
  [optionalEquipmentCategories]="categories$ | async"
  *ngIf="showForm"
  [optionalEquipment]="selectedOptionalEquipment"
  [selectedStationId]="selectedStationId"
  [mode]="formMode"
  (submitOptionalEquipment)="onSubmittedItem($event)"
></app-optional-equipment-form>
<app-optional-equipment-list
  *ngIf="!showForm"
  [optionalEquipment]="optionalEquipment$ | async"
  [selectedOptionEquipmentIds]="selectedOptionalEquipmentIds"
  (optionalEquipmentSelect)="onOptionalEquipmentIdsChange($event)"
  (optionalEquipmentEdit)="editOptionalEquipment($event)"
></app-optional-equipment-list>
