<app-calendars-page-header></app-calendars-page-header>

<fieldset *ngFor="let vehicle of calendars;">

    <div class="mt-2 grid grid-cols-6 rounded-t-lg bg-white p-3 text-center text-md font-normal drop-shadow-md">
        <div class="col-start-1 col-end-2 border-r border-l">{{vehicle.vehicleId}}</div>
        <div class="col-start-2 col-end-3 border-r">{{vehicle?.wobiId}}</div>
        <div class="col-start-3 col-end-4 border-r">{{vehicle?.vehicleType}}</div>
        <div class="col-start-4 col-end-5 border-r">{{vehicle?.seats}} / {{vehicle?.beds}}</div>
        <div class="col-start-5 col-end-6 border-r">{{vehicle?.city}}</div>
        <div class="col-start-6 border-r ml-3">{{vehicle?.vehicleStatus}}
            <div class="p-2 rounded-full inline-block ml-2"
                [ngClass]="{'bg-error': vehicle.vehicleStatus === 'Offline','bg-green-500': vehicle.vehicleStatus === 'Online'}">
            </div>
        </div>
    </div>

    <app-calendars-timeline [calendars]="vehicle.calendar" [vehicleId]="vehicle.vehicleId"></app-calendars-timeline>

</fieldset>

<fieldset class="m-2">
    <span><span class="bg-gray-200 px-2">frei</span> = Fahrzeug nicht vermietet </span>
    <span><span class="bg-orange-500 px-2">IB</span> = interne Buchung </span>
    <span><span class="bg-blue-600 text-white px-2">EB</span> = externe Buchung </span>
</fieldset>
