
<fc-lib-card *ngIf="kmPackages$ |async as packages" [rounded]="true" [color]="'standard'">
    <fc-lib-card-header [color]="'standard'" class="lg:text-3xl md:text-3xl sm:text-xl" i18n="replace_me">Kilometer-Pakete</fc-lib-card-header>
    <fc-lib-card-sub-header>

        <div class="lg:grid md:grid sm:hidden lg:grid-cols-12 md:grid-cols-12 sm:grid-cols-6 font-light lg:text-base md:text-base sm:text-sm">
            <div class="lg:col-span-5 md:col-span-5" i18n="replace_me">Option</div>
            <div class="lg:col-span-3 md:col-span-3 text-center mr-5" i18n="replace_me">Auswahl</div>
            <div class="lg:col-span-2 md:col-span-2 text-center" i18n="replace_me">Preis</div>
            <div class="lg:col-span-2 md:col-span-2 text-right" i18n="replace_me">Summe</div>
        </div>

        <div class="lg:hidden md:hidden sm:grid sm:grid-cols-6 font-light text-sm">
            <div class="col-span-3" i18n="replace_me">Option/Preis</div>
            <div class="col-span-3 text-right" i18n="replace_me">Auswahl/Summe</div>
        </div>

    </fc-lib-card-sub-header>
    <fc-lib-card-content [color]="'standard'">
        <div *ngFor="let item of packages; index as i;"> 
            <app-checkout-kilometer-packages-form [package]="packages[i]"></app-checkout-kilometer-packages-form>
        </div>
      
    </fc-lib-card-content>
  </fc-lib-card>
