<div *ngIf="vehicle" class="  bg-gray-100 hover:shadow-xl">
  <div class="relative w-full cursor-pointer" [routerLink]="[vehicle.vehicleId ]">
    <img [src]="vehicle.imageUrl" class=" w-full h-64 object-cover">
    <div class=" absolute top-0 p-2 text-xs" >
      <div *ngIf="vehicle.hasBestPrice" class="inline bg-gray-300 p-1 mr-1"
      i18n="div label best price |div label signaling the user the vehicle got the best price option checked @@ in vehicle search result preview">
        Bester Preis
      </div>
      <div *ngIf="false" class="inline bg-gray-300 p-1 mr-1">
        10% <span i18n="span inside div label discount |span inside div label signaling the user the vehicle got ta discount @@ in vehicle search result preview">Rabatt</span>
      </div>
      <div *ngIf="vehicle.hasInstantBooking" class="inline bg-gray-300 p-1 mr-1"
      i18n="div label direct booking| div label signaling the user the vehicle got the direct booking option checked @@ in vehicle search result preview">
        Sofortbuchung
      </div>
      <div *ngIf="vehicle.hasLiveCalendar" class="inline bg-gray-300 p-1 mr-1"
      i18n="div label Live Calandar |div label signaling the user the vehicle got the live calandar option checked @@ in vehicle search result preview">
        Live Kalandar
      </div>
    </div>
  </div>
  <div [routerLink]="[vehicle.vehicleId ]" class=" p-3 cursor-pointer">
    <div class="w-full flex">
      <h2 *ngIf="vehicle.title.length > 16" class=" text-xl font-bold flex-3">{{ vehicle.title | slice:0:16}}...</h2>
      <h2 *ngIf="vehicle.title.length <= 16" class=" text-xl font-bold flex-3">{{ vehicle.title}}</h2>
      <span *ngIf="datesSelected" class="text-xl text-right font-bold text-yellow-600 flex-1">
        {{(vehicle.euroCentOverall / 100) | currency: 'EUR'}}
      </span>
      <span *ngIf="!datesSelected" class="text-xl text-right font-bold text-yellow-600 flex-1">
        {{(vehicle.minPrice / 100) | currency:'EUR'}} / <span i18n="span displaying night | a span stating that the price is per night @@ in vehicle search result preview">Nacht</span>
      </span>
    </div>
    <div class="w-full flex"> <span class=" flex-3">{{ vehicle.lat + '/' + vehicle.long}}</span>
    </div>
    <div class="w-full">
      <span class="">
        <svg [ngClass]="{'text-yellow-200': true}" xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 text-gray-300 inline" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
        </svg>
        <svg [ngClass]="{'text-yellow-200': true}" xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 text-gray-300 inline" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
        </svg>
        <svg [ngClass]="{'text-yellow-200': true}" xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 text-gray-300 inline" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
        </svg>
        <svg [ngClass]="{'text-yellow-200': true}" xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 text-gray-300 inline" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
        </svg>
        <svg [ngClass]="{'text-yellow-200': false}" xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 text-gray-300 inline" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
        </svg>
        <span class=" text-xs">(16)</span>
      </span>
    </div>

    <div class=" w-full flex text-gray-400 pt-4">
      <div class="flex-1">
        <fc-lib-vehicle-type-icon [id]=" vehicle.vehicleTypeId" [classString]="'h-7  inline'"></fc-lib-vehicle-type-icon>
        <div class="ml-3 text-base inline">
          <svg class="h-7 w-7 inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 240.235 240.235" style="enable-background:new 0 0 240.235 240.235;" xml:space="preserve">
            <path
              d="M211.744,6.089C208.081,2.163,203.03,0,197.52,0h-15.143c-11.16,0-21.811,8.942-23.74,19.934l-0.955,5.436  c-0.96,5.47,0.332,10.651,3.639,14.589c3.307,3.938,8.186,6.106,13.74,6.106h19.561c2.714,0,5.339-0.542,7.778-1.504l-2.079,17.761  c-2.001-0.841-4.198-1.289-6.507-1.289h-22.318c-9.561,0-18.952,7.609-20.936,16.961l-19.732,93.027l-93.099-6.69  c-5.031-0.36-9.231,1.345-11.835,4.693c-2.439,3.136-3.152,7.343-2.009,11.847l10.824,42.618  c2.345,9.233,12.004,16.746,21.53,16.746h78.049h1.191h39.729c9.653,0,18.336-7.811,19.354-17.411l15.272-143.981  c0.087-0.823,0.097-1.634,0.069-2.437l5.227-44.648c0.738-1.923,1.207-3.967,1.354-6.087l0.346-4.97  C217.214,15.205,215.407,10.016,211.744,6.089z" />
          </svg>
        </div>
        <span class=" relative bottom-0 text-2xl font-bold">{{vehicle.numBedsOverall}} </span>
        <div class="ml-3 inline">
          <svg class="h-7 w-7 inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 240.235 240.235" style="enable-background:new 0 0 240.235 240.235;" xml:space="preserve">
            <path
              d="M211.744,6.089C208.081,2.163,203.03,0,197.52,0h-15.143c-11.16,0-21.811,8.942-23.74,19.934l-0.955,5.436  c-0.96,5.47,0.332,10.651,3.639,14.589c3.307,3.938,8.186,6.106,13.74,6.106h19.561c2.714,0,5.339-0.542,7.778-1.504l-2.079,17.761  c-2.001-0.841-4.198-1.289-6.507-1.289h-22.318c-9.561,0-18.952,7.609-20.936,16.961l-19.732,93.027l-93.099-6.69  c-5.031-0.36-9.231,1.345-11.835,4.693c-2.439,3.136-3.152,7.343-2.009,11.847l10.824,42.618  c2.345,9.233,12.004,16.746,21.53,16.746h78.049h1.191h39.729c9.653,0,18.336-7.811,19.354-17.411l15.272-143.981  c0.087-0.823,0.097-1.634,0.069-2.437l5.227-44.648c0.738-1.923,1.207-3.967,1.354-6.087l0.346-4.97  C217.214,15.205,215.407,10.016,211.744,6.089z" />
          </svg>
        </div>
        <span class=" relative bottom-0 text-2xl font-bold">{{vehicle.numBedsOverall}} </span>
        <div class="ml-3 inline">
          <!-- weight -->
          <svg *ngIf="vehicle.weightId > 0" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
          </svg>
        </div>
        <!-- <span *ngIf="vehicle.weightId === 0" class=" relative bottom-0 text-2xl font-bold"> &#060;3,5T</span>
        <span *ngIf="vehicle.weightId === 1"class=" relative bottom-0 text-2xl font-bold"> &#062;3,5T</span> -->

      </div>
      <div class=" flex-2 w-8">
        <button class="relative top-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
